@model HRHUBAPI.Models.Staff

@*<div class="app-content main-content">*@
<div class="side-app main-container">

    <!--Page header-->
    <div class="page-header d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Add Staff</div>
        </div>
        <div class="page-rightheader ms-md-auto">
            <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                <div class="btn-list">
                    <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                    <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                    <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <!--End Page header-->
    <!-- Row -->
    @using (Html.BeginForm("StaffCreateOrUpdate", "Staff", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="AttachmentDetailRowNo" />
        <input type="hidden" asp-for="StaffId" />
        <input type="hidden" asp-for="CompanyId" value="@ViewBag.CompanyId" />

        <div class="row">
            <div class="col-xl-3 col-md-12 col-lg-12">
                <div class="card box-widget widget-user">
                    <div class="card-body text-center">
                        <div class="widget-user-image mx-auto text-center">
                            @*<img class="avatar avatar-xxl brround rounded-circle" alt="img" src="../assets/images/users/1.jpg">*@
                            <img class="avatar avatar-xxl brround rounded-circle" id="viewUserImage" alt="user-img" src="/Images/Avatar.png">
                        </div>
                        <div class="pro-user mt-3">
                            <h5 class="pro-user-username text-dark mb-1 fs-16">@Html.DisplayFor(modelitem => Model.FirstName)</h5>
                            <h6 class="pro-user-desc text-muted fs-12">Web Designer</h6>
                        </div>
                        <div class="rating-stars stars-example-fontawesome block" id="rating-1" data-stars="2"></div>
                    </div>
                    <div class="card-footer p-0">
                        <div class="row">
                            <div class="col-4 text-center py-5 border-end">
                                <h5 class="fs-12 font-weight-semibold mb-3">January</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-success">0</span>
                                    <span class="my-auto fs-9 font-weight-normal  ms-1 me-1">/</span>
                                    <span class="fs-18 font-weight-semibold text-dark">31</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Attendance</h5>
                            </div>
                            <div class="col-4  py-5 text-center border-end">
                                <h5 class="fs-12 font-weight-semibold mb-3">Year-2021</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-orange">0</span>
                                    <span class="my-auto fs-9 font-weight-normal  ms-1 me-1">/</span>
                                    <span class="fs-18 font-weight-semibold text-dark">41</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Leaves</h5>
                            </div>
                            <div class="col-4 text-center py-5">
                                <h5 class="fs-12 font-weight-semibold mb-3">Year-2021</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-primary">0</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Awards</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header  border-0">
                        <div class="card-title">Statistics-2021</div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-7">
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#3366ff">
                                    <div class="chart-circle-value text-primary">0</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Attendance</h6>
                            </div>
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#fe7f00">
                                    <div class="chart-circle-value text-secondary">0</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Projects</h6>
                            </div>
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#0dcd94">
                                    <div class="chart-circle-value text-success">0%</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Performance</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Week</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-danger w-0"></div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Month</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-info w-0"></div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Year</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-warning w-0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-12 col-lg-12">
                <div class="tab-menu-heading hremp-tabs p-0 ">
                    <div class="tabs-menu1">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="ms-4"><a href="#tab5" class="active" data-bs-toggle="tab">Personal Details</a></li>
                            <li><a href="#tab6" data-bs-toggle="tab">Company Details</a></li>
                            <li><a href="#tab7" data-bs-toggle="tab">Bank Details</a></li>
                            <li><a href="#tab8" data-bs-toggle="tab">Upload Documents</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab5">
                            <div class="card-body">
                                <h4 class="mb-4 font-weight-bold">Basic</h4>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">User Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=FirstName type="text" class="form-control mb-md-0 mb-5" placeholder="First Name">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=LastName type="text" class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">National Id</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="NationalIdnumber" type="text" class="form-control" placeholder="National Idendity Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Parent's Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=FatherName type="text" class="form-control" placeholder="Parent's or Guardian's Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Contact Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=ContactNumber1 type="text" class="form-control mb-md-0 mb-5" placeholder="Contact Number 1">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=ContactNumber2 type="text" class="form-control" placeholder="Contact Number 2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                            <div class="row">
                            <div class="col-md-3">
                            <label class="form-label mb-0 mt-2">Contact Number</label>
                            </div>
                            <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                            </div>
                            </div>*@
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Emergency Contact Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=EmergencyContact1 type="text" class="form-control mb-md-0 mb-5" placeholder="Emergency Contact Number 1">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=EmergencyContact2 type="text" class="form-control" placeholder="Emergency Contact Number 2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="form-group">
                            <div class="row">
                            <div class="col-md-3">
                            <label class="form-label mb-0 mt-2">Emergency Contact Number 01</label>
                            </div>
                            <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Contact Number01">
                            </div>
                            </div>
                            </div>*@
                                @*<div class="form-group">
                            <div class="row">
                            <div class="col-md-3">
                            <label class="form-label mb-0 mt-2">Emergency Contact Number 02</label>
                            </div>
                            <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Contact Number02">
                            </div>
                            </div>
                            </div>*@
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Date Of Birth</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Dob" type="date" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Gender</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="custom-controls-stacked d-md-flex">
                                                <label class="custom-control custom-radio me-4">
                                                    <input asp-for=Gender type="radio" class="custom-control-input" name="Gender" id="Gender_male" value="Male">
                                                    <span class="custom-control-label">Male</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input asp-for=Gender type="radio" class="custom-control-input" name="Gender" id="Gender_female" value="Female">
                                                    <span class="custom-control-label">Female</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Marital Status</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<select asp-for="MaterialStatus" class="form-control" asp-items="@(new SelectList(@ViewBag.Marialstatus,"Value" ,"Text"))">*@
                                            <select asp-for="MaterialStatus" class="form-control custom-select select2" data-placeholder="Select" asp-items="@(new SelectList(@ViewBag.MaterialStatus,"Text" ,"Text"))">
                                                <option value="">Select</option>
                                            </select>
                                            @*<select name="projects" class="form-control custom-select select2" data-placeholder="Select">
                                        <option label="Select"></option>
                                        <option value="1">Single</option>
                                        <option value="2">Married</option>
                                        </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Blood Group</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for="BloodGroup" class="form-control custom-select select2" data-placeholder="Select Group" asp-items="@(new SelectList(@ViewBag.BloodGroup,"Text", "Text"))">
                                                <option label="Select Group"></option>
                                            </select>
                                            @*<select name="projects" class="form-control custom-select select2" data-placeholder="Select Group">
                                        <option label="Select Group"></option>
                                        <option value="1">A+</option>
                                        <option value="2">B+</option>
                                        <option value="3">O+</option>
                                        <option value="4">AB+</option>
                                        <option value="5">A-</option>
                                        <option value="6">B-</option>
                                        <option value="7">O-</option>
                                        <option value="8">AB-</option>
                                        </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=Email type="text" class="form-control" placeholder="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Present Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for=PresentAddress rows="3" class="form-control" placeholder="Address1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Permanent Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for=PermanentAddress rows="3" class="form-control" placeholder="Address2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-label mb-0 mt-2">Upload Photo</div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="form-label" class="form-label"></label>
                                                @*<input class="form-control" type="file">*@
                                                <input name="UserImageAttachmentFile" accept=".jpg, .jpeg, .png" id="UserImageAttachmentFile" class="form-control" type="file" placeholder="Enter Title">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<h4 class="mb-5 mt-7 font-weight-bold">Account Login</h4>*@

                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="form-label" font-weight-bold">Account Login</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="chk_AccountLoginSwitch" id="chk_AccountLoginSwitch" onchange="AccountLoginControls()" class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">On/Off</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Staff Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="txt_OfficialEmailAddress" disabled="disabled" class="form-control" placeholder="Staff email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Password</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" id="txt_OfficialEmailPassword" disabled="disabled" class="form-control" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Email Notification:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="chk_EmailNotification" id="chk_EmailNotification" disabled="disabled" class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">On/Off</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab6">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Staff Registration #</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="RegistrationNo" type="text" class="form-control" placeholder="Registration Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Department</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<input type="text" class="form-control" placeholder="Department">*@
                                            @*<select asp-for="DesignationId" class="form-control" asp-items="@(new SelectList(@ViewBag.CandidateDesignation,"DesignationId" ,"Title"))">*@

                                            <select asp-for=DepartmentId id="DepartmentId" class="form-control custom-select select2" data-placeholder="Select Department" asp-items="@(new SelectList(@ViewBag.ObjDepartmentList,"DepartmentId", "Title"))">
                                                <option label="Select Department"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Designation</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<input type="text" class="form-control" placeholder="Designation">*@
                                            <select asp-for=DesignationId id="DesignationId" class="form-control custom-select select2 " data-placeholder="Select Designation" asp-items="@(new SelectList(@ViewBag.ObjDesignationList,"DesignationId", "Title"))">
                                                <option label="Select Designation"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Job Description</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for="JobDescription" rows="3" class="form-control" placeholder="Job Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Date Of Joining</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">*@
                                            <input asp-for="JoiningDate" type="date" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Resignation Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">*@
                                            <input asp-for="ResigningDate" type="date" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Termination Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            @*<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">*@
                                            <input asp-for="TerminationDate" type="date" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                            <div class="row">
                            <div class="col-md-3">
                            <label class="form-label mb-0 mt-2">
                            Credit Leaves
                            <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="top" title="Unused leaves for the Staff">?</span>
                            </label>
                            </div>
                            <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="0">
                            </div>
                            </div>
                            </div>*@
                                <h4 class="mb-5 mt-7 font-weight-bold">Salary</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Salary Method</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for="SalaryMethod" id="SalaryMethod" class="form-control custom-select select2" data-placeholder="Select Salary Method" asp-items="@(new SelectList(@ViewBag.ObjSalaryMethod,"Text" ,"Text"))">
                                                <option value="">Select Salary Method</option>
                                            </select>

                                            @*<select name="projects" class="form-control custom-select select2" data-placeholder="Select Type">
                                        <option label="Select Type"></option>
                                        <option value="0">Full-Time</option>
                                        <option value="1">Part-Time</option>
                                        </select>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Salary</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=SalaryAmount type="text" class="form-control" placeholder="$Salary">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Status:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input asp-for=Status id="chk_StaffStatus" type="checkbox" onchange="StatusChange()" name="custom-switch-checkbox" class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span id="lbl_StaffStatus" class="custom-switch-description">Active/Inactive</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab7">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Account Holder</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="AccountTitle" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Account Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankAccountNumber" type="text" class="form-control" placeholder="Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Bank Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankName" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Branch Location</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankLocation" type="text" class="form-control" placeholder="Location">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">
                                                Bank Code (IFSC)
                                                <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="top" title="Bank Identify Number in your Country">?</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankCode" type="text" class="form-control" placeholder="Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">
                                                Tax Payer ID (PAN)
                                                <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="top" title="Taxpayer Identification Number Used in your Country">?</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="TaxPayerNumber" type="text" class="form-control" placeholder="ID No">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab8">
                            <div class="card-body">
                                <div>
                                    <h3>Documents</h3>
                                    <table id="documentTable" class="table  table-vcenter text-nowrap table-bordered border-bottom">
                                        <thead>
                                            <tr>
                                                <th>Sr. #</th>
                                                <th>Document ID</th>
                                                <th>Document Path</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="TBodyID1">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <input type="button" value="Save" id="btnSaveUpdate" class="btn btn-primary" />
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Row-->

</div><!-- end app-content-->
@*</div>*@


@section scripts{
    <script>
        $(document).ready(function () {
            $('#DepartmentId').select2({ dropdownAutoWidth: true, width: 'auto' });
            $('#DesignationId').select2();
            $('#SalaryMethod').select2();
            StatusChange();
            $('#UserImage').change(function () {
                var fileInput = $(this);
                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                var fileSizeLimit = 2 * 1024 * 1024; // 2 MB
                var fileSize = this.files[0].size;
                var filePath = fileInput.val();
                if (!allowedExtensions.exec(filePath)) {
                    notif({
                        msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b> Invalid file type. Please select a JPG, JPEG, or PNG file.",
                        type: "warning"
                    });
                    fileInput.val('');
                    return false;
                } else if (fileSize > fileSizeLimit) {
                    notif({
                        msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b>' File size exceeds the limit of 2MB.",
                        type: "warning"
                    });
                    fileInput.val('');
                    return false;
                } else {
                    readURL(this)
                }
            });

            // Staff Document Add
            var rowCount = $('#documentTable tbody tr').length;

            $('#btnAdd').click(function () {
                var documentId = $('#Title').val();
                var documentPath = $('#LogoAttachment').val();

                if (documentId && documentPath) {
                    var newRow = '<tr>' +
                        '<td>' + (rowCount + 1) + '</td>' +
                        '<td>' + Title + '</td>' +
                        '<td>' + LogoAttachment + '</td>' +
                        '<td><button type="button" class="btnDelete">Delete</button></td>' +
                        '</tr>';

                    $('#documentTable tbody').append(newRow);

                    // Clear input fields
                    $('#Title').val('');
                    $('#LogoAttachment').val('');

                    rowCount++;
                }
            });

            $(document).on('click', '.btnDelete', function () {
                $(this).closest('tr').remove();
                rowCount--;
                renumberRows();
            });

            //function renumberRows()
            //{
            //	$('#documentTable tbody tr').each(function (index) {
            //		$(this).find('td:first').text(index + 1);
            //	});
            //}
            // End Staff Document Add

            AddStaffAtachmentData(0, true);


        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#viewUserImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function AccountLoginControls() {
            var chk_AccountLogin = document.getElementById('chk_AccountLoginSwitch');
            var txt_Email = document.getElementById('txt_OfficialEmailAddress');
            var txt_Pass = document.getElementById('txt_OfficialEmailPassword');
            var chk_EmailNotification = document.getElementById('chk_EmailNotification');

            if (chk_AccountLogin.checked) {
                txt_Email.disabled = false;
                txt_Pass.disabled = false;
                chk_EmailNotification.disabled = false;
            }
            else {
                txt_Email.disabled = true;
                txt_Pass.disabled = true;
                chk_EmailNotification.disabled = true;
            }
        }

        function StatusChange() {
            var chk_StaffStatus = document.getElementById("chk_StaffStatus");
            var lbl_StaffStatus = document.getElementById("lbl_StaffStatus");

            if (chk_StaffStatus.checked) {
                lbl_StaffStatus.textContent = "Active";
            }
            else {
                lbl_StaffStatus.textContent = "In Active";
            }
        }

        function ControlValidation() {
            var status = true;
            var Data = { id: $("#StaffId").val(), email: $('#nationalId').val() == '' ? '""' : $('#nationalId').val(), CompanyId: $("#CompanyId").val() }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Staff/StaffAlreadyExists",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger
                        var b = JSON.parse(data)
                        if (b.success) {
                            // $.growl.warning(b.message);
                            $.growl.warning({
                                message: b.message
                            });
                            status = false;
                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toaste.error("Please Fill Required Field");
                }
            })

            if ($("#FirstName").val().trim() == "") {
                $.growl.warning({
                    message: "Please Enter NFirstNameame"
                });
                $("#FirstName").css("border-color", "red");
                status = false;
            }
            else {
                $("#FirstName").css("border-color", "#ddd");
            }

        }

        $("#btnSaveUpdate").click(function () {
            $("#myform").submit();
            /*
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Saved!',
                        'Your record has been Saved.',
                        'success'
                    )
                    $("#myform").submit();
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
                */
            //if(ControlValidation())
            //{

            //}
        });

        function AddStaffAtachmentData(ThisRowID, FromDocumentDotReady) 
        {
            debugger;
            var dtDetailInfoHtml;
            var totalNullAccountsCount = 0;

            if (FromDocumentDotReady != true) 
            {
                if (document.getElementById("DocumentTitle_" + ThisRowID).value == '') 
                {
                    //message empty
                    $.growl.warning({
                        message: "Please Enter Document Title !"
                    });
                    return false;
                }
            }

            var insertrow = true;

            $("#TBodyID1 tr").each(function() 
            {
                if (document.getElementById("DocFile_" + $(this).prop('id')).value == 0) 
                {
                    totalNullAccountsCount++;
                    $.growl.warning({
                        message: "Please Attach File!"
                    });
                    insertrow = false;
                }
            });

            if (insertrow) 
            {
                if (totalNullAccountsCount < 1) 
                {
                    if (FromDocumentDotReady != true) 
                    {
                        document.getElementById("AttachmentDetailRowNo").value = $('#TBodyID1 tr:last').attr('id');
                        document.getElementById("AttachmentDetailRowNo").value++;
                    }
                    else 
                    {
                        document.getElementById("AttachmentDetailRowNo").value = 0
                    }
                }

                var q = document.getElementById("AttachmentDetailRowNo").value;

                var i = parseInt(q) + 1;

                dtDetailInfoHtml = '';
                dtDetailInfoHtml = '<tr id="' + document.getElementById("AttachmentDetailRowNo").value + '">';

                dtDetailInfoHtml += '<td  > ' + i + ' </td>';
                dtDetailInfoHtml += '<td > <input type="text" class="form-control "   id="DocumentTitle_' + document.getElementById("AttachmentDetailRowNo").value + '" name="DocumentTitle" />   </td>';

                dtDetailInfoHtml += '<td > <input type="file" class="form-control Attachmentch"   id="DocFile_' + document.getElementById("AttachmentDetailRowNo").value + '" name="DocFiles" />   </td>';
                dtDetailInfoHtml += '<td > <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="detailDocDataAdd_' + document.getElementById("AttachmentDetailRowNo").value +
                    '" value="+" onclick="AddStaffAtachmentData($(this).parent().parent().attr(\'id\'),false)"  title="Add" ><span class="fa fa-plus" aria-hidden="true"> </span><span><strong></strong></span> </button>  ';

                dtDetailInfoHtml += '<button type="button"  id = "detailDocDataDelete_' + document.getElementById("AttachmentDetailRowNo").value + '" title="Remove" value=" - " onclick="DeleteDocDetailData(this, $(this).parent().parent().attr(\'id\'))"  class="btn btn-danger  btn-xs btn-circle userDellbtn"   ><span class="fa fa-trash" aria-hidden="true"></span><span><strong></strong></span>  </button>  </td>';

                dtDetailInfoHtml += '</tr>';
                $("#TBodyID1").append(dtDetailInfoHtml);

                //console.log(dtDetailInfoHtml);

                ///	document.getElementById("DocImagePath_" + document.getElementById("AttachmentDetailRowNo").value);
            }
        }

        // for delete snap button
        function DeleteDocDetailData(element, rowid) 
        {
            var Next = $(element).parent().parent().next("tr").length;
            var Prev = $(element).parent().parent().prev("tr").length;

            if (parseInt(Next) > 0 || parseInt(Prev) > 0) 
            {
                $(element).parent().parent().remove();
            }
            else 
            {
                $("#TBodyID1 tr").remove();
                AddStaffAtachmentData(0, true);
            }

            $('#documentTable tbody tr').each(function (index) {
                $(this).find('td:first').text(index + 1);
            });
        }


    </script>
}


