@model HRHUBAPI.Models.Staff

<style>
.select2-container 
{
    width: 100% !important;
}
</style>

<div class="side-app main-container">

    <!-- Row -->    
    @using (Html.BeginForm("StaffCreateOrUpdate", "Staff", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="LeaveDetailRowNo" />
        <input type="hidden" id="AttachmentDetailRowNo" />
        <input type="hidden" asp-for="StaffId" />
        <input type="hidden" asp-for="CompanyId" value="@ViewBag.CompanyId" />

        <div class="row">
            <div class="col-xl-3 col-md-12 col-lg-12">
                <div class="card box-widget widget-user">
                    <div class="card-body text-center">
                        <div class="widget-user-image mx-auto text-center">
                            @{
                                string pathfile = Model.SnapPath != null ? @Model.SnapPath : " /Images/Avatar.png";
                            }
                            <img class="avatar avatar-xxl brround rounded-circle" id="viewUserImage" alt="user-img" src="@pathfile">
                        </div>
                        <div class="pro-user mt-3">
                            @{
                                string fullName = Model.FirstName + ' ' + Model.LastName;
                                string cardName = fullName != null ? fullName : "lbl_FullName";
                            }
                            <h5 id="lbl_FullName" class="pro-user-username text-dark mb-1 fs-16">@cardName</h5>
                            <h6 id="lbl_Designation" class="pro-user-desc text-muted fs-12">Web Designer</h6>
                        </div>
                        <div class="rating-stars stars-example-fontawesome block" id="rating-1" data-stars="2"></div>
                    </div>
                    <div class="card-footer p-0">
                        <div class="row">
                            <div class="col-4 text-center py-5 border-end">
                                <h5 class="fs-12 font-weight-semibold mb-3">May</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-success">0</span>
                                    <span class="my-auto fs-9 font-weight-normal  ms-1 me-1">/</span>
                                    <span class="fs-18 font-weight-semibold text-dark">31</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Attendance</h5>
                            </div>
                            <div class="col-4  py-5 text-center border-end">
                                <h5 class="fs-12 font-weight-semibold mb-3">Year-2023</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-orange">0</span>
                                    <span class="my-auto fs-9 font-weight-normal  ms-1 me-1">/</span>
                                    <span class="fs-18 font-weight-semibold text-dark">41</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Leaves</h5>
                            </div>
                            <div class="col-4 text-center py-5">
                                <h5 class="fs-12 font-weight-semibold mb-3">Year-2023</h5>
                                <h5 class="mb-2">
                                    <span class="fs-18 text-primary">0</span>
                                </h5>
                                <h5 class="fs-12 mb-0">Awards</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header  border-0">
                        <div class="card-title">Statistics-2023</div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-7">
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#3366ff">
                                    <div class="chart-circle-value text-primary">0</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Attendance</h6>
                            </div>
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#fe7f00">
                                    <div class="chart-circle-value text-secondary">0</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Projects</h6>
                            </div>
                            <div class="col-4 text-center">
                                <div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#0dcd94">
                                    <div class="chart-circle-value text-success">0%</div>
                                </div>
                                <h6 class="fs-14 font-weight-semibold mt-3">Performance</h6>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Week</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-danger w-0"></div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Month</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-info w-0"></div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mg-b-5">
                            <h6 class="">This Year</h6>
                            <h6 class="font-weight-bold mb-1">0</h6>
                        </div>
                        <div class="progress progress-sm mb-5">
                            <div class="progress-bar bg-warning w-0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-12 col-lg-12">
                <div class="tab-menu-heading hremp-tabs p-0 ">
                    <div class="tabs-menu1">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="ms-4"><a href="#tab5" class="active" data-bs-toggle="tab">Personal Details</a></li>
                            <li><a href="#tab6" data-bs-toggle="tab">Company Details</a></li>
                            <li><a href="#tab7" data-bs-toggle="tab">Leave Details</a></li>
                            <li><a href="#tab8" data-bs-toggle="tab">Bank Info</a></li>
                            <li><a href="#tab9" data-bs-toggle="tab">Documents</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab5">
                            <div class="card-body">
                                <h4 class="mb-4 font-weight-bold">Basic</h4>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">User Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=FirstName type="text" id="txt_FirstName" oninput="OnTextChangeStaffName()" required class="form-control mb-md-0 mb-5" placeholder="First Name">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=LastName type="text" id="txt_LastName" oninput="OnTextChangeStaffName()" required class="form-control" placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Parent's Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=FatherName type="text" required class="form-control" placeholder="Parent's or Guardian's Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">National Id Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="NationalIdnumber" type="text" required class="form-control" placeholder="National Idendity Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Contact Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=ContactNumber1 type="text" required class="form-control mb-md-0 mb-5" placeholder="Contact Number 1">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=ContactNumber2 type="text" class="form-control" placeholder="Contact Number 2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Emergency Contact Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input asp-for=EmergencyContact1 type="text" required class="form-control mb-md-0 mb-5" placeholder="Emergency Contact Number 1">
                                                    <span class="text-muted"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input asp-for=EmergencyContact2 type="text" class="form-control" placeholder="Emergency Contact Number 2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Date Of Birth</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Dob" type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Gender</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="custom-controls-stacked d-md-flex">
                                                <label class="custom-control custom-radio me-4">
                                                    <input asp-for=Gender type="radio" class="custom-control-input" name="Gender" id="Gender_male" value="Male">
                                                    <span class="custom-control-label">Male</span>
                                                </label>
                                                <label class="custom-control custom-radio">
                                                    <input asp-for=Gender type="radio" class="custom-control-input" name="Gender" id="Gender_female" value="Female">
                                                    <span class="custom-control-label">Female</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Marital Status</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for="MaterialStatus" class="form-control custom-select select2" data-placeholder="Select" asp-items="@(new SelectList(@ViewBag.MaterialStatus,"Text" ,"Text"))">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Blood Group</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for="BloodGroup" class="form-control custom-select select2" data-placeholder="Select Group" asp-items="@(new SelectList(@ViewBag.BloodGroup,"Text", "Text"))">
                                                <option label="Select Group"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=Email type="text" required class="form-control" placeholder="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Present Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for=PresentAddress rows="3" required class="form-control" placeholder="Address1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Permanent Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for=PermanentAddress rows="3" class="form-control" placeholder="Address2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-label mb-0 mt-2">Upload Photo</div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label for="form-label" class="form-label"></label>
                                                <input name="StaffImageAttachmentFile" accept=".jpg, .jpeg, .png" id="StaffImageAttachmentFile" class="form-control" type="file" placeholder="Enter Title">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<h4 class="mb-5 mt-7 font-weight-bold">Account Login</h4>*@
                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h4 class="form-label" font-weight-bold">Account Login</h4>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="chk_AccountLoginSwitch" id="chk_AccountLoginSwitch" onchange="AccountLoginControls()" class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">On/Off</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Staff Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="txt_OfficialEmailAddress" disabled="disabled" class="form-control" placeholder="Staff email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Password</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="password" id="txt_OfficialEmailPassword" disabled="disabled" class="form-control" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Email Notification:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="chk_EmailNotification" id="chk_EmailNotification" disabled="disabled" class="custom-switch-input">
                                                <span class="custom-switch-indicator"></span>
                                                <span class="custom-switch-description">On/Off</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab6">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Staff Registration #</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="RegistrationNo" type="text" required class="form-control" placeholder="Registration Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Department  <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-9">
                                           <select asp-for=DepartmentId id="DepartmentId" class="form-control custom-select select2" required data-placeholder="Select Department" asp-items="@(new SelectList(@ViewBag.ObjDepartmentList,"DepartmentId", "Title"))">
                                                <option label="Select Department"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Designation  <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for=DesignationId id="DesignationId" required onchange="onchangeDesignation()" class="form-control custom-select select2" data-placeholder="Select Designation" asp-items="@(new SelectList(@ViewBag.ObjDesignationList,"DesignationId", "Title"))">
                                                <option label="Select Designation"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Job Description</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea asp-for="JobDescription" rows="3" class="form-control" placeholder="Job Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Date Of Joining</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="JoiningDate" type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Resignation Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="ResigningDate" type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Termination Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="TerminationDate" type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
                                        </div>
                                    </div>
                                </div>
                                <h4 class="mb-5 mt-7 font-weight-bold">Salary</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Salary Method</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for=SalaryMethodId id="SalaryMethodId" class="form-control custom-select select2" data-placeholder="Select Salary Method" asp-items="@(new SelectList(@ViewBag.ObjSalaryMethodList,"SalaryMethodId", "Title"))">
                                                <option label="Select Salary Method"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Salary</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for=SalaryAmount type="text" class="form-control" placeholder="$Salary">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label">Status:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="custom-switch">
                                                <input asp-for=Status   type="checkbox" onchange="StaffStatusChange()"  class="custom-switch-input"> @* name="custom-switch-checkbox"*@
                                                <span class="custom-switch-indicator"></span>
                                                <span id="lbl_StaffStatus" class="custom-switch-description">Active/Inactive</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                
                        <div class="tab-pane" id="tab7">
                            <div class="card-body">
                                <div>
                                    <table id="LeaveTable" class="table  table-vcenter text-nowrap table-bordered border-bottom">
                                        <thead>
                                            <tr>
                                                <th>Sr. #</th>
                                                <th>Leave Type</th>
                                                <th>Max Limit</th>
                                                <th>Allowed Leaves</th>
                                            </tr>
                                        </thead>
                                        <tbody id="LeaveTableBody">
                                            @{
                                                int a = 0;
                                                int b = 1;
                                                if(Model.StaffLeaveAllocationslist != null && Model.StaffLeaveAllocationslist.Count() > 0)
                                                {
                                                    foreach(var item in Model.StaffLeaveAllocationslist)
                                                    {
                                                        <tr id="@a">
                                                            <td>@b</td>
                                                            <td>
                                                                <input type="hidden" id="LeaveAllocationId_@a" name="LeaveAllocationId" value="@item.LeaveAllocationId" />
                                                                <input type="hidden" id="LeaveTypeId_@a" name="ListLeaveTypeId" value="@item.LeaveTypeId" />
                                                                <input type="text" readonly class="form-control" id="LeaveTypeTitle_@a" name="LeaveTypeTitle" value="@item.LeaveTypeTitle" />
                                                            </td>
                                                            <td>
                                                                <input type="text" readonly class="form-control" id="NoOfLeavesLimit_@a" name="NoOfLeavesLimit" value="@item.NoOfLeavesLimit" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" id="AllowedLeaves_@a" onkeydown="LeaveExceedLimit(@a)" name="ListAllowedLeaves" value="@item.AllowedLeaves" />
                                                            </td>
                                                        </tr>
                                                        a++;
                                                        b++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab8">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Account Holder</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="AccountTitle" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Account Number</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankAccountNumber" type="text" class="form-control" placeholder="Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Bank Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankName" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">Branch Location</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankLocation" type="text" class="form-control" placeholder="Location">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">
                                                Bank Code (IFSC)
                                                <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="top" title="Bank Identify Number in your Country">?</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="BankCode" type="text" class="form-control" placeholder="Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-0 mt-2">
                                                Tax Payer ID (PAN)
                                                <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="top" title="Taxpayer Identification Number Used in your Country">?</span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="TaxPayerNumber" type="text" class="form-control" placeholder="ID No">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab9">
                            <div class="card-body">
                                <div>
                                    <table id="documentTable" class="table  table-vcenter text-nowrap table-bordered border-bottom">
                                        <thead>
                                            <tr>
                                                <th>Sr. #</th>
                                                <th>Document ID</th>
                                                <th>Document Path</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="TBodyID1">
                                            @{
                                                int i = 0;
                                                int j = 1;
                                                if (Model.StaffAttachmentList != null && Model.StaffAttachmentList.Count() > 0)
                                                {
                                                    foreach (var item in Model.StaffAttachmentList)
                                                    {
                                                        <tr id="@i">
                                                            <td> @j </td>
                                                            <td> <input type="text" class="form-control " id="DocumentTitle_@i" name="DocumentTitle" value="@item.DocumentTitle" />    </td>
                                                            <td>     <a target="_blank" href="@item.DocumentPath">   <img src="@item.DocumentPath" alt="user-img" id="viewlogo" class="avatar-sm rounded-circle mb-1">  </a>  <input type="hidden" value="@item.DocumentPath" id="DocFile_@i" name="DocumentPath" /> </td>
                                                            <td>
                                                                <button type="button" style="" class="btn btn-info btn-xs btn-circle" id="detailDocDataAdd_@i" value="+" onclick="AddStaffAtachmentData($(this).parent().parent().attr('id'), false)" title="Add"> <span class="fa fa-plus" aria-hidden="true"> </span> <span><strong></strong></span> </button>
                                                                <button type="button" id="detailDocDataDelete_@i" title="Remove" value=" - " onclick="DeleteDocDetailData(this, $(this).parent().parent().attr('id'))" class="btn btn-danger btn-xs btn-circle userDellbtn"> <span class="fa fa-trash" aria-hidden="true"></span> <span><strong></strong></span>  </button>
                                                            </td>
                                                        </tr>
                                                        i++;
                                                        j++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <input type="button" value="Save" id="btnSaveUpdate" class="btn btn-primary" />
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- End Row-->

</div><!-- end app-content-->
@*</div>*@


@section scripts{
    <script>
        $(document).ready(function () {

            $('#DepartmentId').select2();
            $('#DesignationId').select2();
            $('#SalaryMethod').select2();
      
            StaffStatusChange();

            $('#StaffImageAttachmentFile').change(function () {
                var fileInput = $(this);
                var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                var fileSizeLimit = 2 * 1024 * 1024; // 2 MB
                var fileSize = this.files[0].size;
                var filePath = fileInput.val();
                if (!allowedExtensions.exec(filePath)) 
                {
                    notif({
                        msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b> Invalid file type. Please select a JPG, JPEG, or PNG file.",
                        type: "warning"
                    });
                    fileInput.val('');
                    return false;
                } else if (fileSize > fileSizeLimit) 
                {
                    notif({
                        msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b>' File size exceeds the limit of 2MB.",
                        type: "warning"
                    });
                    fileInput.val('');
                    return false;
                } else 
                {
                    readURL(this)
                }
            });

            // Staff Document Add
            AddStaffAtachmentData(0, true);

        });

        $("#btnSaveUpdate").click(function () {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            if (validateForm()) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#myform").submit();
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });
            }
            else {
                $.growl.warning({
                    message: "Please Enter required fields !"
                });
            }
            // $("#myform").submit();
        });

        function OnTextChangeStaffName()
        {
            var txt_Name = document.getElementById("txt_FirstName");
            var txt_LtName = document.getElementById("txt_LastName");
            var lbl_Name = document.getElementById("lbl_FullName");

            var full_Name = txt_Name.value + ' ' + txt_LtName.value;
            lbl_Name.textContent = full_Name;
        }

        function onchangeDesignation()
        {
            var ddl_design = document.getElementById("DesignationId");
            var lbl_Design = document.getElementById("lbl_Designation")

            var selectedOption = ddl_design.options[ddl_design.selectedIndex];
            lbl_Design.textContent = selectedOption.text;
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#viewUserImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function AccountLoginControls() {
            var chk_AccountLogin = document.getElementById('chk_AccountLoginSwitch');
            var txt_Email = document.getElementById('txt_OfficialEmailAddress');
            var txt_Pass = document.getElementById('txt_OfficialEmailPassword');
            var chk_EmailNotification = document.getElementById('chk_EmailNotification');

            if (chk_AccountLogin.checked) {
                txt_Email.disabled = false;
                txt_Pass.disabled = false;
                chk_EmailNotification.disabled = false;
            }
            else {
                txt_Email.disabled = true;
                txt_Pass.disabled = true;
                chk_EmailNotification.disabled = true;
            }
        }

        function StaffStatusChange() {
            var chk_StaffStatus = document.getElementById("Status");
            var lbl_StaffStatus = document.getElementById("lbl_StaffStatus");

            if (chk_StaffStatus.checked) {
                lbl_StaffStatus.textContent = "Active";
            }
            else {
                lbl_StaffStatus.textContent = "In Active";
            }
        }

        function AddStaffAtachmentData(ThisRowID, FromDocumentDotReady) 
        {
            debugger;
            var dtDetailInfoHtml;
            var totalNullAccountsCount = 0;

            if (FromDocumentDotReady != true) 
            {
                if (document.getElementById("DocumentTitle_" + ThisRowID).value == '') 
                {
                    //message empty
                    $.growl.warning({
                        message: "Please Enter Document Title !"
                    });
                    return false;
                }
            }

            var insertrow = true;

            $("#TBodyID1 tr").each(function () {
                if (document.getElementById("DocFile_" + $(this).prop('id')).value == 0) {
                    totalNullAccountsCount++;
                    $.growl.warning({
                        message: "Please Attach File!"
                    });
                    insertrow = false;
                }
            });

            if (insertrow) 
            {
                if (totalNullAccountsCount < 1) 
                {
                    if (FromDocumentDotReady != true) 
                    {
                        document.getElementById("AttachmentDetailRowNo").value = $('#TBodyID1 tr:last').attr('id');
                        document.getElementById("AttachmentDetailRowNo").value++;
                    }
                    else 
                    {
                        document.getElementById("AttachmentDetailRowNo").value = 0
                    }
                }

                var q = document.getElementById("AttachmentDetailRowNo").value;
                var i = parseInt(q) + 1;

                dtDetailInfoHtml = '';
                dtDetailInfoHtml = '<tr id="' + document.getElementById("AttachmentDetailRowNo").value + '">';
                dtDetailInfoHtml += '   <td> ' + i + ' </td>';
                dtDetailInfoHtml += '   <td> <input type="text" class="form-control" id="DocumentTitle_' + document.getElementById("AttachmentDetailRowNo").value + '" name="DocumentTitle" /> </td>';
                dtDetailInfoHtml += '   <td> <input type="file" class="form-control Attachmentch" id="DocFile_' + document.getElementById("AttachmentDetailRowNo").value + '" name="DocFiles" /> </td>';
                dtDetailInfoHtml += '   <td> <button type="button" style="" class="btn btn-info btn-xs btn-circle" id="detailDocDataAdd_' + document.getElementById("AttachmentDetailRowNo").value +
                    '        " value="+" onclick="AddStaffAtachmentData($(this).parent().parent().attr(\'id\'),false)" title="Add"> <span class="fa fa-plus" aria-hidden="true"> </span> <span><strong></strong></span> </button>';
                dtDetailInfoHtml += '       <button type="button" id = "detailDocDataDelete_' + document.getElementById("AttachmentDetailRowNo").value + '" title="Remove" value=" - " onclick="DeleteDocDetailData(this, $(this).parent().parent().attr(\'id\'))" class="btn btn-danger btn-xs btn-circle userDellbtn"> <span class="fa fa-trash" aria-hidden="true"></span> <span><strong></strong></span>  </button>  </td>';
                dtDetailInfoHtml += '</tr>';
                $("#TBodyID1").append(dtDetailInfoHtml);

                //console.log(dtDetailInfoHtml);
                ///	document.getElementById("DocImagePath_" + document.getElementById("AttachmentDetailRowNo").value);
                $('#documentTable tbody tr').each(function (index) {
                    $(this).find('td:first').text(index + 1);
                });
            }
        }

        // for delete snap button
        function DeleteDocDetailData(element, rowid) {
            var Next = $(element).parent().parent().next("tr").length;
            var Prev = $(element).parent().parent().prev("tr").length;

            if (parseInt(Next) > 0 || parseInt(Prev) > 0) {
                $(element).parent().parent().remove();
            }
            else {
                $("#TBodyID1 tr").remove();
                AddStaffAtachmentData(0, true);
            }

            $('#documentTable tbody tr').each(function (index) {
                $(this).find('td:first').text(index + 1);
            });
        }

        function LeaveExceedLimit(id)
        {
            var leaveslimit = parseInt($("#NoOfLeavesLimit_"+id).val());
            var allowedleaves = parseInt($("#AllowedLeaves_"+id).val());

            if (allowedleaves > leaveslimit)
            {
                $("#AllowedLeaves_" + id).val(0);
            }
        }

        $("#PresentAddress").on("textarea", function () {
            validateInput($(this));
        });


        $("#txt_FirstName, #txt_LastName, #NationalIdnumber, #FatherName, #ContactNumber1, #EmergencyContact1, #RegistrationNo ").on("input", function () {
            validateInput($(this));
        });

        function validateInput(input) 
        {
            //alreadyExist();
            console.log(input)
            if (input[0].checkValidity()) 
            {
                input.removeClass("is-invalid");
                //input.addClass("is-valid"); //is-valid state-valid
                //input.addClass("state-valid");
                //input.next(".invalid-feedback").hide();
            } else 
            {
                input.removeClass("is-valid");
                input.addClass("is-invalid");
                input.addClass("state-valid");
                //input.next(".invalid-feedback").show();
            }

        }

        function validateForm() 
        {
            var form = $("#myform");
            var inputs = form.find("input");
            var textareaInputs = form.find("textarea");

            inputs.each(function () {
                validateInput($(this));
            });

            textareaInputs.each(function () {
                validateInput($(this));
            });

            if (customValidation() && form[0].checkValidity() ) {
                console.log("Form is valid");
                // Submit the form or perform other actions here
                return true;
            } else {
                console.log("Form is invalid");
                return false;
            }
            //form.addClass("was-validated");
        }

        function customValidation()
        {
            debugger 
            var isvalid = true;
            isvalid = alreadyExist();

            if ($("#DepartmentId").val() == null || $("#DepartmentId").val() == '')
            {
                $.growl.warning({
                    message: "Please Select Department!"
                });
                isvalid = false;
            }

            if ($("#DesignationId").val() == null || $("#DesignationId").val() == '') 
            {
                $.growl.warning({
                    message: "Please Select Designation!"
                });
                isvalid = false;
            }
            return isvalid;
       }

       	function alreadyExist() {
			var status =false
            var Data = {   id:$("#StaffId").val(), NationalIdnumber: $("#NationalIdnumber").val() }
			console.log(Data)
			
            $.ajax({
				async: false,
				url: "/Staff/StaffAlreadyExists",
				type: "GET",
				data: Data,
				success: function (data) {
					if (data != "") 
                    {
						debugger
						var b = JSON.parse(data)
						if (b.success)
                        {
							$.growl.warning({
								message: b.message
							});
			            	$("#NationalIdnumber").addClass("is-invalid");
							status= false;
						}
						else
						{
			            	$("#NationalIdnumber").removeClass("is-invalid");
							status= true;
						}
					}
				},
				error: function () 
                {
					status= false;	
				}
			})
		    return status;
		}

    </script>
}


