@model HRHUBAPI.Models.StaffAcademic


<div class="side-app main-container">
    @using (Html.BeginForm("StaffAcademicCreateOrUpdate", "Staff", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="StaffId" name="StaffId" value="@Model.StaffId" />
        <div class="col-md-12 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-header d-flex mb-4 justify-content-between align-items-center border-bottom-0">
                    <h4 class="card-title">Academic and Professional Experience</h4>
                </div>
                <div class="card-body">
                    <div class="tab-menu-heading table_tabs mt-2 p-0 ">
                        <div class="tabs-menu1">
                            <!-- Tabs -->
                            <ul class="nav panel-tabs">
                                <li><a href="#tab1" data-bs-toggle="tab" class="active"> <i class="fa fa-tasks me-2" aria-hidden="true"></i>Academic</a></li>
                                <li><a href="#tab2" data-bs-toggle="tab"><i class="fa fa-plus-square me-2"></i>Professional Experience</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body tabs-menu-body table_tabs1 p-0 border-0">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="table-wrapper" style="display:block; width:100%; height:390px;">
                                            <table id="TblStudy" class="table table-vcenter text-nowrap table-bordered border-bottom">
                                                <thead class="sticky-thead">
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Document Title</th>
                                                        <th>Institute Name</th>
                                                        <th>From Date</th>
                                                        <th>To Date</th>
                                                        <th>In Process</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TBodyStudy">
                                                    @{
                                                        int a = 0;
                                                        int b = 1;
                                                        if (Model.StaffAcademicList != null && Model.StaffAcademicList.Where(x => x.Type == "Study").Count() > 0)
                                                        {
                                                            foreach (var item in Model.StaffAcademicList.Where(x => x.Type == "Study"))
                                                            {
                                                                <tr id="Study_@a">
                                                                    <td> @b </td>
                                                                    <td><input type="text" id="Title_Study_@a" name="StudyTitleList" value="@item.Title" class="form-control" /></td>
                                                                    <td><input type="text" id="InstituteName_Study_@a" name="StudyInstituteList" value="@item.InstituteName" class="form-control" /></td>
                                                                    @if (@item.FromDate == null)
                                                                    {
                                                                        <td><input type="text" id="FromDate_Study_@a" name="StudyDateFromList" value="" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><input type="text" id="FromDate_Study_@a" name="StudyDateFromList" value="@item.FromDate.Value.ToString("dd-MMM-yyyy")" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    @if (@item.ToDate == null)
                                                                    {
                                                                        <td><input type="text" id="ToDate_Study_@a" name="StudyDateToList" value="" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><input type="text" id="ToDate_Study_@a" name="StudyDateToList" value="@item.ToDate.Value.ToString("dd-MMM-yyyy")" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    <td>
                                                                        <div class="d-flex align-items-center">
                                                                            <label class="custom-switch">
                                                                                @{
                                                                                    var inProcess = 0;
                                                                                    if (@item.InProcess == true)
                                                                                    {
                                                                                        inProcess = 1;
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        inProcess = 0;
                                                                                    }
                                                                                }
                                                                                <input type="hidden" id="H_InProcess_Study_@a" name="StudyInProcessList" value="@inProcess" />
                                                                                <input type="checkbox" id="InProcess_Study_@a" checked="@item.InProcess" value="@inProcess" onchange="StudySetValues(@a)" class="custom-switch-input">
                                                                                <span class="custom-switch-indicator"></span>
                                                                            </label>

                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" title="Add" id="detailDocDataAdd_Study_@a" value="+" onclick="AddStudyNewRow(@a)" class="btn btn-info btn-xs btn-circle">
                                                                            <span class="fa fa-plus" aria-hidden="true"></span>
                                                                            <span><strong></strong></span>
                                                                        </button>
                                                                        <button type="button" title="Remove" id="detailDocDataDelete_Study_@a" value=" - " onclick="DeleteStudyRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">
                                                                            <span class="fa fa-trash" aria-hidden="true"></span>
                                                                            <span><strong></strong></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                a++;
                                                                b++;
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="table-wrapper" style="display:block; width:100%; height:390px;">
                                            <table id="TblWork" class="table table-vcenter text-nowrap table-bordered border-bottom">
                                                <thead class="sticky-thead">
                                                    <tr>
                                                        <th>Sr.#</th>
                                                        <th>Job Title</th>
                                                        <th>Company Name</th>
                                                        <th>From Date</th>
                                                        <th>To Date</th>
                                                        <th>In Process</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="TBodyWork">
                                                    @{
                                                        int i = 0;
                                                        int j = 1;
                                                        if (Model.StaffAcademicList != null && Model.StaffAcademicList.Where(x => x.Type == "Work").Count() > 0)
                                                        {
                                                            foreach (var item in Model.StaffAcademicList.Where(x => x.Type == "Work"))
                                                            {
                                                                <tr id="@i">
                                                                    <td> @j </td>
                                                                    <td><input type="text" id="Title_@i" name="WorkTitleList" value="@item.Title" class="form-control" /></td>
                                                                    <td><input type="text" id="InstituteName_@i" name="WorkCompanyList" value="@item.InstituteName" class="form-control" /></td>
                                                                    @if (@item.FromDate == null)
                                                                    {
                                                                        <td><input type="text" id="FromDate_@i" name="WorkDateFromList" value="" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><input type="text" id="FromDate_@i" name="WorkDateFromList" value="@item.FromDate.Value.ToString("dd-MMM-yyyy")" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    @if (@item.ToDate == null)
                                                                    {
                                                                        <td><input type="text" id="ToDate_@i" name="WorkDateToList" value="" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><input type="text" id="ToDate_@i" name="WorkDateToList" value="@item.ToDate.Value.ToString("dd-MMM-yyyy")" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                                                    }
                                                                    <td>
                                                                        <div class="d-flex align-items-center">
                                                                            <label class="custom-switch">
                                                                                @{
                                                                                    var inProcess = 0;
                                                                                    if (@item.InProcess == true)
                                                                                    {
                                                                                        inProcess = 1;
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        inProcess = 0;
                                                                                    }
                                                                                }
                                                                                <input type="hidden" id="H_InProcess_Work_@a" name="WorkInProcessList" value="@inProcess">
                                                                                <input type="checkbox" id="InProcess_@i" checked="@item.InProcess" class="custom-switch-input">
                                                                                <span class="custom-switch-indicator"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" title="Add" id="detailDocDataAdd_@i" value="+" onclick="AddNewRow(@i)" class="btn btn-info btn-xs btn-circle">
                                                                            <span class="fa fa-plus" aria-hidden="true"></span>
                                                                            <span><strong></strong></span>
                                                                        </button>
                                                                        <button type="button" title="Remove" id="detailDocDataDelete_@i" value=" - " onclick="DeleteDataRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">
                                                                            <span class="fa fa-trash" aria-hidden="true"></span>
                                                                            <span><strong></strong></span>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                i++;
                                                                j++;
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <input type="button" value="Save" id="btnSaveUpdate" onclick='$("#myform").submit()' class="btn btn-primary" />
                    <a asp-action="StaffList" asp-controller="Staff" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    }

</div>

@section scripts{
    <script>

        $(document).ready(function(){
            debugger
            var rowCount_Study = $('#TblStudy tbody tr').length
            if (rowCount_Study == 0) {
                AddStudyNewRow(0)
            }
            debugger
            var rowCount_Work = $('#TblWork tbody tr').length
            if (rowCount_Work == 0) {
                AddNewRow(0)
            }

        });

        function isNullOrWhiteSpace(str) {
            return !str || str.trim() === '';
        }

        function AddStudyNewRow(i) {
            debugger
            var rowCount = $('#TblStudy tbody tr').length
            var i = rowCount + 1

            //var lastIndex = rowCount - 1
            //var title = ""
            //title = ($('#Title_Study_' + lastIndex).val() || $('#Title_Study_' + lastIndex).text())

            //if (isNullOrWhiteSpace(title.trim())) {
            //    return
            //}
                        
            var newRow = document.createElement("tr");
            // Add the HTML markup for the new row
            newRow.innerHTML = '<td>' + i + '</td>';

            newRow.innerHTML += '<td><input type="text" id="Title_Study_' + i + '" name="StudyTitleList" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="InstituteName_Study_' + i + '" name="StudyInstituteList" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="FromDate_Study_' + i + '" name="StudyDateFromList" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td><input type="text" id="ToDate_Study_' + i + '" name="StudyDateToList" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td> <input type="hidden" id="H_InProcess_Study_' + i + '" name="StudyInProcessList" value="0" />' +
                '<div class="d-flex align-items-center">' +
                '<label class="custom-switch">' +
                '<input type="checkbox" id="InProcess_Study_' + i + '" class="custom-switch-input">' +
                '<span class="custom-switch-indicator"></span>' +
                '</label>' +
                '</div>' +
                '</td>';
            newRow.innerHTML += '<td>' +
                '<button type="button" title="Add" id="detailDocDataAdd_Study_' + i + '" value="+" onclick="AddStudyNewRow(' + i + ')" class="btn btn-info btn-xs btn-circle">' +
                '<span class="fa fa-plus" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '<button type="button" title="Remove" id="detailDocDataDelete_Study_' + i + '" value=" - " onclick="DeleteStudyRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">' +
                '<span class="fa fa-trash" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '</td>';

            // Add the new row to the table body
            document.getElementById("TBodyStudy").appendChild(newRow);

            // Initialize the datepickers after adding the new row
            $('.fc-datepicker').datepicker();

            // Initialize the custom switch after adding the new row
            //$('.custom-switch-input').each(function () {
            //    new Switchery(this);
            //});
        }

        function DeleteStudyRow(button) {
            debugger
            // Get the reference to the table row
            var row = button.parentNode.parentNode

            // Remove the row from the table
            if (row) {
                row.parentNode.removeChild(row)
            }
            
            var rowCount = $('#TblStudy tbody tr').length
            if(rowCount < 1){
                AddStudyNewRow(0)
            }
        }

        function AddNewRow(i) {
            debugger
            var rowCount = $('#TblWork tbody tr').length
            var i = rowCount + 1
            
            var newRow = document.createElement("tr");
            // Add the HTML markup for the new row
            newRow.innerHTML = '<td>' + i + '</td>';

            newRow.innerHTML += '<td><input type="text" id="Title_' + i + '" name="WorkTitleList" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="InstituteName_' + i + '" name="WorkCompanyList" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="FromDate_' + i + '" name="WorkDateFromList" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td><input type="text" id="ToDate_' + i + '" name="WorkDateToList" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td> <input type="hidden" id="H_InProcess_Work_' + i + '" name="WorkInProcessList" value="0" />' +
                '<div class="d-flex align-items-center">' +
                '<label class="custom-switch">' +
                '<input type="checkbox" id="InProcess_' + i + '" class="custom-switch-input">' +
                '<span class="custom-switch-indicator"></span>' +
                '</label>' +
                '</div>' +
                '</td>';
            newRow.innerHTML += '<td>' +
                '<button type="button" title="Add" id="detailDocDataAdd_' + i + '" value="+" onclick="AddNewRow(' + i + ')" class="btn btn-info btn-xs btn-circle">' +
                '<span class="fa fa-plus" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '<button type="button" title="Remove" id="detailDocDataDelete_' + i + '" value=" - " onclick="DeleteDataRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">' +
                '<span class="fa fa-trash" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '</td>';

            // Add the new row to the table body
            document.getElementById("TBodyWork").appendChild(newRow);

            // Initialize the datepickers after adding the new row
            $('.fc-datepicker').datepicker();

            // Initialize the custom switch after adding the new row
            //$('.custom-switch-input').each(function () {
            //    new Switchery(this);
            //});
        }

        function DeleteDataRow(button) {
            debugger
            // Get the reference to the table row
            var row = button.parentNode.parentNode

            // Remove the row from the table
            if (row) {
                row.parentNode.removeChild(row)
            }
            
            var rowCount = $('#TblWork tbody tr').length
            if(rowCount < 1){
                AddNewRow(0)
            }
        }

        function StudySetValues(a){
            debugger
            var checkbox = document.getElementById('InProcess_Study_' + a);

            if (checkbox.checked) {
                $('#H_InProcess_Study_' + a).val(1)
            }
            else{
                $('#H_InProcess_Study_' + a).val(0)
            }
        }

    </script>
}