@model HRHUBAPI.Models.StaffAcademic

<div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card-header  border-0">
            <h4 class="card-title">Employee Academic Details</h4>
            <div class="page-rightheader ms-md-auto">
                <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                    <div class="btn-list">
                       @* @if (Convert.ToBoolean(ViewBag.IsNew))
                        {
                            <a asp-action="GetStaffCreateOrUpdate" asp-controller"Staff" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Add New Staff</a>
                        }*@
                        <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                        <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                        <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="documentTable" class="table table-vcenter text-nowrap table-bordered border-bottom">
                        <thead>
                            <tr>
                                <th>Sr.#</th>
                                <th>Document Type</th>
                                <th>Document Title</th>
                                <th>Institute Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>In Process</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="TBodyID1">
                            @{
                                int i = 0;
                                int j = 1;
                                if (Model.StaffAcademicList != null && Model.StaffAcademicList.Count() > 0)
                                {
                                    foreach (var item in Model.StaffAcademicList)
                                    {
                                        <tr id="@i">
                                            <td> @j </td>
                                            <td>
                                                @{
                                                    var academicTypeList = ViewData["academicTypeViewData"] as List<SelectListItem>;
                                                    var defaultOptionText = (item.Type == null || item.Type == "" ? "- Select Type -" : item.Type);
                                                    var defaultOptionValue = item.Type;
                                                    var dropdownId = item.Type + @i;
                                                    var dropdownName = "Type";
                                                    var dropdownClass = "form-control";
                                                }
                                                @Html.DropDownList("SelectedValue", academicTypeList, defaultOptionText, new { id = dropdownId, name = dropdownName, @class = dropdownClass, @value = defaultOptionValue })
                                            </td>

                                            <td><input type="text" id="Title_@i" name="Title" value="@item.Title" class="form-control" /></td>
                                            <td><input type="text" id="InstituteName_@i" name="InstituteName" value="@item.InstituteName" class="form-control" /></td>
                                            <td><input type="text" id="FromDate_@i" name="FromDate" value="@item.FromDate" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                            <td><input type="text" id="ToDate_@i" name="ToDate" value="@item.ToDate" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <label class="custom-switch">
                                                        <input type="checkbox" id="InProcess_@i" name="InProcess" checked="@item.InProcess" class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" title="Add" id="detailDocDataAdd_@i" value="+" onclick="AddNewRow(@i)" class="btn btn-info btn-xs btn-circle">
                                                    <span class="fa fa-plus" aria-hidden="true"></span>
                                                    <span><strong></strong></span>
                                                </button>
                                                <button type="button" title="Remove" id="detailDocDataDelete_@i" value=" - " onclick="DeleteDataRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">
                                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                                    <span><strong></strong></span>
                                                </button>
                                            </td>
                                        </tr>
                                        i++;
                                        j++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        function AddNewRow(i) {
            debugger
            var rowCount = $('#documentTable tbody tr').length
            var i = rowCount + 1
            
            var newRow = document.createElement("tr");
            // Add the HTML markup for the new row
            newRow.innerHTML = '<td>' + i + '</td>';
        
            var cell2 = document.createElement("td");
            var dropdown = document.createElement("select");
            dropdown.id = "Type_" + i;
            dropdown.name = "Type";
            dropdown.className = "form-control";

            // Create the default option
            var defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.textContent = "- Select Type -";
            dropdown.appendChild(defaultOption);

            // Add options from ViewData
            var academicTypeList = @Html.Raw(Json.Serialize(ViewData["academicTypeViewData"]));
            for (var k = 0; k < academicTypeList.length; k++) {
                var option = document.createElement("option");
                option.value = academicTypeList[k].value;
                option.textContent = academicTypeList[k].text;
                dropdown.appendChild(option);
            }
            cell2.appendChild(dropdown);
            newRow.appendChild(cell2);

            newRow.innerHTML += '<td><input type="text" id="Title_' + i + '" name="Title" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="InstituteName_' + i + '" name="InstituteName" class="form-control" /></td>';
            newRow.innerHTML += '<td><input type="text" id="FromDate_' + i + '" name="FromDate" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td><input type="text" id="ToDate_' + i + '" name="ToDate" class="form-control fc-datepicker" placeholder="DD-MMM-YYYY" /></td>';
            newRow.innerHTML += '<td>' +
                '<div class="d-flex align-items-center">' +
                '<label class="custom-switch">' +
                '<input type="checkbox" id="InProcess_' + i + '" name="InProcess" class="custom-switch-input">' +
                '<span class="custom-switch-indicator"></span>' +
                '</label>' +
                '</div>' +
                '</td>';
            newRow.innerHTML += '<td>' +
                '<button type="button" title="Add" id="detailDocDataAdd_' + i + '" value="+" onclick="AddNewRow(' + i + ')" class="btn btn-info btn-xs btn-circle">' +
                '<span class="fa fa-plus" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '<button type="button" title="Remove" id="detailDocDataDelete_' + i + '" value=" - " onclick="DeleteDataRow(this)" class="btn btn-danger btn-xs btn-circle userDellbtn">' +
                '<span class="fa fa-trash" aria-hidden="true"></span>' +
                '<span><strong></strong></span>' +
                '</button>' +
                '</td>';

            // Add the new row to the table body
            document.getElementById("TBodyID1").appendChild(newRow);

            // Initialize the datepickers after adding the new row
            $('.fc-datepicker').datepicker();

            // Initialize the custom switch after adding the new row
            $('.custom-switch-input').each(function () {
                new Switchery(this);
            });
        }

        function DeleteDataRow(button) {
            // Get the reference to the table row
            var row = button.parentNode.parentNode

            // Remove the row from the table
            if (row) {
                row.parentNode.removeChild(row)
            }
        }

    </script>
}