@model IEnumerable<HRHUBWEB.Models.GetUserRightByUser>



@foreach (var item in Model.Where(x => x.parentId == 0 && x.isParent == true))
	
{
    

    <li class="slide">
        <a href="#" class="side-menu__item" data-bs-toggle="slide">
			<i class="@item.imageClass sidemenu_icon"></i><span class="side-menu__label">@item.FormTitle</span><i class="angle fa fa-angle-right"></i>
		
		</a>

		<ul class="slide-menu">
            @foreach (var Childitem in Model.Where(c => c.parentId == item.Formid))
            {
                @if (Childitem.isParent==true)
                {
					<li class="sub-slide">
						<a class="sub-side-menu__item" data-bs-toggle="sub-slide" href="#">
							<i class="@Childitem.imageClass  sidemenu_icon"></i>
							<span  class="sub-side-menu__label">@Childitem.FormTitle</span>
							<i class="sub-angle fa fa-angle-right"></i>	</a>    
						<ul class="sub-slide-menu">
                            @foreach (var SubChildItem in Model.Where(s => s.parentId == Childitem.Formid))
                            {

                                if (@SubChildItem.ReferenceID > 0)
                                {
                                    <li class="@((ViewContext.RouteData.Values["action"].ToString() == SubChildItem.action) ? "is-expanded" : "")">
                                        <a class="sub-slide-item" asp-action="@SubChildItem.action" asp-controller="@SubChildItem.controller" asp-route-id="@SubChildItem.ReferenceID">
                                        <i class="@SubChildItem.imageClass  sidemenu_icon"></i>
                                            <span class="sub-side-item__label" padding-left: 8px;>@SubChildItem.FormTitle  </span>
                                            <span class="badge badge-success side-badge"> @SubChildItem.titlewithcounter</span>
                                        </a>
								</li>

                                }
                                else
                                {
                                    <li class="@((ViewContext.RouteData.Values["action"].ToString() == SubChildItem.action) ? "is-expanded" : "")">
                                       @* @(ViewContext.RouteData.Values["action"].ToString().Equals(SubChildItem.action) ? "class=active" : "")*@



                                        <a class="sub-slide-item" asp-action="@SubChildItem.action" asp-controller="@SubChildItem.controller">
                                        <i class="@SubChildItem.imageClass  sidemenu_icon"></i>
                                        <span class="sub-side-item__label" padding-left: 8px;>@SubChildItem.FormTitle</span>										
									</a>
								</li>
                                
                                }

							
                            }
                        </ul>
                    </li>
                }
                else
                {

                    if (@Childitem.ReferenceID > 0)
                    {


                        <li class="@((ViewContext.RouteData.Values["action"].ToString() == Childitem.action) ? "is-expanded" : "")">
                            <a class="slide-item" asp-action="@Childitem.action" asp-controller="@Childitem.controller" asp-route-id="@Childitem.ReferenceID">
                            <i class="@Childitem.imageClass  sidemenu_icon"></i>
                            <span class="side-menu__label">
                                    @Childitem.FormTitle
                                </span> <span class="badge badge-success side-badge">@Childitem.titlewithcounter</span>
                    </a></li>
                    }
                    else
                    {

                        <li class="@((ViewContext.RouteData.Values["action"].ToString() == Childitem.action) ? "is-expanded" : "")">
                            <a class="slide-item" asp-action="@Childitem.action" asp-controller="@Childitem.controller">
                                <i class="@Childitem.imageClass  sidemenu_icon"></i>
                                <span class="side-menu__label">
                                    @Childitem.FormTitle
                                </span>
                            </a>
                        </li>
                        
                    }


                }

            }

        </ul>
    </li>





















}
