@model IEnumerable<HRHUBAPI.Models.GluserGroup>




<!-- Row -->
<div class="row row-sm mt-4">

    <div class="col-lg-12">
       
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">User Group Details</h3>
        @if (Convert.ToBoolean(ViewBag.IsNew))
        {
                <div class="card-options"> <a asp-action="UserGroupCreateOrUpdate" asp-controller="UserGroup" class="btn btn-primary"><i class="fe fe-plus-circle me-1"></i>Add New</a> </div>
        }
        </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="myTable">
                        <thead>
                            <tr>
                                
                                <th class="border-bottom-0">Group Title</th>
                                <th class="border-bottom-0">Description</th>
                                <th class="text-center">Status</th>
                                <th class="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupTitle)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    @if (item.IsActive == true)
                                    {
                                        <td class="text-center"><span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Active</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>

                                    }


                                    @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                    {
                                        <th class="d-none">

                                           




                                        </th>
                                    }
                                    else
                                    {
                                        <td class="text-end">
                                            <div class="d-flex">
                                                @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                {
                                                    <a asp-action="UserGroupCreateOrUpdate" asp-route-id="@item.GroupId" class="action-btns1" data-bs-toggle="tooltip">
                                                        <i class="feather feather-edit text-primary mt-1">
                                                    </i>
                                                </a>
                                                } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                {
                                                    <a asp-action="UserGroupDelete" asp-route-id="@item.GroupId" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" aria-label="Delete">
                                                        <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                </a>}
                                            </div>

                                        </td>
                                    }




                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->








@section scripts{

    <script>
        $(document).ready( function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#myTable').DataTable();
        });

    </script>

}
