@model IEnumerable<HRHUBAPI.Models.Company>







<!-- Row -->
<div class="row row-sm mt-4">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Company Details</h3>
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {
                    <div class="card-options">
                        <div class="btn-list">
                        <a asp-action="CompanyCreateOrUpdate" asp-controller="Company" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Add Company</a>
                        <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="E-mail" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                        <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Contact" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                        <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Info" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>
                        </div>
                    </div>
                }
            </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="myTable">
                        <thead>
                            <tr>
                                
                                <th class="border-bottom-0">Company</th>                               
                                <th class="border-bottom-0">Email</th>                               
                                <th class="border-bottom-0">Contact</th>                               
                                <th class="text-center">Status</th>
                                <th class="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactPerson)
                                    </td>

                                   
                                    @if (item.Status == true)
                                    {
                                        <td class="text-center"><span class="badge badge-label bg-primary"><i class="mdi mdi-circle-medium"></i> Active</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>

                                    }


                                    @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                    {
                                        <th class="d-none">

                                        </th>
                                    }
                                    else
                                    {
                                        <td class="text-end">
                                            <div class="d-flex">
                                                @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                {
                                                    <a asp-action="CompanySetting" asp-route-id="@item.CompanyId" class="action-btns1 btn-xs">
                                                        <i class="feather feather-edit primary text-primary mt-1 " data-bs-toggle="tooltip" data-original-title="Edit" data-bs-placement="bottom" data-bs-original-title="" title="Edit"></i>
                                                    </a>
                                                } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                {
                                                    <a asp-action="CompanyCreateOrUpdate" asp-route-id="@item.CompanyId" onclick="return confirm('Are you sure you want to delete')" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" data-bs-original-title="Delete" aria-label="Delete">
                                                        <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                    </a>
                                                }
                                            </div>

                                        </td>
                                    }



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->








@section scripts{

    <script>
        $(document).ready( function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Error:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#myTable').DataTable();
        });




    </script>

}
