@model HRHUBAPI.Models.ComponentInfo
@{
    ViewData["Title"] = "Benefit List";
}

@using (Html.BeginForm("BenefitCreateOrUpdate", "StaffBenefit", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    <input type="hidden" asp-for="ComponentId" />
   

    <!--Add Department Modal -->
    <div class="modal fade" id="AddGeneralModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Benefit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                  
                    <div class="form-group">
                        <label class="form-label">Benefit <span class="text-danger">*</span></label>
                        <input asp-for="Title" class="form-control" type="text" placeholder="Enter Benefit Title">
                    </div>

                 
                   
                  
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Status" type="checkbox" class="custom-control-input" checked>
                            <span class="custom-control-label">IsActive</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Save" id="btnsave" onclick="SaveRecord()" class="btn btn-primary" />
                    <a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Add Department Modal  -->
}

<!-- Row -->
<div class="row row-sm mt-4">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Benefits Details</h3>
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {
                    <div class="card-options">
                        <div class="btn-list">
                            <a onclick="AddNewRecord()" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Add Benefit</a>
                            <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                            <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                            <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="myTable">
                        <thead>
                            <tr>
                                <th class="text-center">Sr.#</th>                              
                                <th class="border-bottom-0">Benefits</th>                                                                           
                                <th class="border-bottom-0 text-center">Staff Count</th>                                                                           
                                <th class="border-bottom-0 text-center">Status</th>                                                                           
                                <th class="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                foreach (var item in ViewBag.ComponentList)
                                {
                                    <tr>
                                        <td class="text-center">                                          
                                                <span>@count</span>                                           
                                        </td>
                                       
                                        <td>
                                            <a asp-action="BenefitDetails" asp-route-id="@item.ComponentId"><h6> @item.Title</h6></a>                                           
                                        </td>
                                        <td class="text-center">
                                            @item.StaffCount
                                        </td>
                                        @{
                                            var isActive = item.Status;
                                            if (isActive == true)
                                            {
                                                <td class="text-center"><span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Active</span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>
                                            }
                                        }
                                        @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                        {
                                            <th class="d-none">
                                            </th>
                                        }
                                        else
                                        {
                                            <td class="text-end">
                                                <div class="d-flex">
                                                    @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                    {
                                                        <a href="#" onclick="EditRecord(@item.ComponentId)" class="action-btns1 btn-xs" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Edit">
                                                            <i class="feather feather-edit primary text-primary mt-1 "></i>
                                                        </a>
                                                    } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                    {
                                                        <a href="#" onclick="DeleteConfirmation(@item.ComponentId)" class="action-btns1 btn-xs" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                                            <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                        </a>
                                                    }
                                               
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->
@section scripts
    {
    <script>
        $(document).ready(function () {

            if (@Model.ComponentId > 0) {
                $('#AddGeneralModal').modal.show();
            }

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Your record is Inserted Succesfully.",
                    type: "success"
                });
            }
            if (msg !== "" && msg == '2') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Your record is Updated Succesfully.",
                    type: "success"
                });
            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Your record is Deleted Succesfully.",
                    type: "success"
                });
            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });
            }

            $('#myTable').DataTable();

        });

        function AddNewRecord() {
            debugger
            $("#AddGeneralModal").modal('show');
            ClearControl();
            $("#Status").prop('checked', true)
        }

        function EditRecord(id) {
            AddNewRecord();
            debugger
            var Data = { Id: id }
            
            $.ajax({
                async: false,
                url: "/StaffBenefit/BenefitDetails",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger
                        $("#ComponentId").val(data.componentId);                      
                        $("#Title").val(data.title);                                      
                        $("#Status").prop('checked', data.status);
                        $("#AddGeneralModal").modal('show');
                    }
                },
                error: function () {
                    status = false;
                }
            })
        }
        function ClearControl(){
            $("#ComponentId").val(0)            
            $("#Title").val('')                        
           
        }
        function DeleteConfirmation(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("BenefitInfoDelete", "StaffBenefit")/" + id;

                   
                    window.location.href = url;
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });
        }

        function SaveRecord() {
            var status = true;
           
            debugger;

            if ($("#Title").val() == "") {
                $.growl.warning({
                    message: "Please Enter Title"
                });
                $("#Title").css("border-color", "red");
                status = false;
                return false;
            }
            else {
                $("#Title").css("border-color", "#ddd");
            }

            
            var Data = { id: $("#ComponentId").val(), title: $('#Title').val() == '' ? '""' : $('#Title').val() }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/StaffBenefit/BenefitInfoAlreadyExists",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger                        
                        if (data.success) {                           
                            $.growl.warning({
                                message: data.message
                            });
                            status = false;
                        }
                        else {
                            $("#AddGeneralModal").modal('hide');
                        }
                    }
                },
                error: function () {
                    status = false;
                }
            })
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            if (status) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#myform").submit();
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });
            }
        }

    </script>
}
