
@{
    ViewData["Title"] = "Attentance OverView";
}

@{
	int currentYear = DateTime.Now.Year;

	// Generate current ten years
	int[] currentTenYears = new int[10];
	for (int i = currentYear; i >= currentYear - 9; i--)
	{
		currentTenYears[currentYear - i] = i;
	}

	// Generate previous ten years
	int[] previousTenYears = new int[10];
	for (int i = currentYear - 1; i >= currentYear - 10; i--)
	{
		previousTenYears[currentYear - 1 - i] = i;
	}
}
<style>

	.rotate {
  animation: rotation 4s infinite linear;
}

@@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>

<!-- Row -->
@*<div class="hrattview-buttons">
	<a asp-action="AttentanceOverView" asp-controller="Attentance" class="active ms-5">Attendance Overview</a>
	<a asp-action="AttentanceByUser" asp-controller="Attentance" class="">Attendance By User</a>
</div>*@
<div class="row">
	<div class="col-xl-12 col-md-12 col-lg-12">
		<div class="card">
			<div class="card-header  border-0">
				<h4 class="card-title me-5">Attendence OverView</h4>
				
				<div class="page-rightheader ms-md-auto">
					<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">

						<div class="d-lg-flex">
							<div class="btn-list">

								<button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="E-mail"> <i class="feather feather-mail"></i> </button>
								<button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
								<button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="card-body">
				<div class="mb-6">

					<div>
						<span class="badge badge-success-light me-2"><i class="feather feather-check-circle text-success mt-1"></i> ---> Present</span>
						<span class="badge badge-danger-light me-2"><i class="feather feather-x-circle text-danger mt-1"></i> ---> Absent</span>
						<span class="badge badge-warning-light me-2"><i class="fa fa-star text-warning mt-1"></i> ---> Holiday</span>
						<span class="badge badge-orange-light me-2"><i class="fa fa-adjust text-orange mt-1"></i>  ---> Half Day</span>
						<span class="badge badge-primary-light me-2"><i class="fa fa-gbp text-primary mt-1"></i>  ---> Leave</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-lg-3">
						<div class="form-group">
							<label class="form-label">Staff Name:</label>
							<select id="IdEmployee" name="IdEmployee" class="form-control custom-select select2">
								<option value="">Select Staff</option>
								@foreach (var item in ViewBag.Stafflist)
								{
									<option value="@item.StaffId">@item.FirstName</option>
								}
							</select>
						</div>
					</div>
					<div class="col-md-3 col-lg-3">
						<div class="form-group">
							<label class="form-label">Department Name:</label>
							<select id="IdDepartment" name="IdDepartment" class="form-control custom-select select2">
								<option value="">Select Department</option>
								@foreach (var item in ViewBag.ListDepartment)
								{
									<option value="@item.DepartmentId">@item.Title</option>
								}
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="form-label">Select Month:</label>
							<select id="monthId" name="monthId" class="form-control custom-select select2">
								
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
								<option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
								<option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
								
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="form-label">Select year:</label>
							<select id="yearId" name="yearId" class="form-control custom-select select2">

								@foreach (var year in currentTenYears)
								{
								
									<option value="@year">@year</option>
								}
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group mt-5">
							@*<i class="fe fe-refresh-ccw rotation" id="spinner"></i>*@
							<button class="btn btn-primary" id="searchbtn"> <i id="loadinging"  class="si si-magnifier"></i>    Search  </button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				
				<div class="table-responsive hr-attlist">
					<table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-attendance">					

					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row-->
@section scripts{

	<script>


		$(document).ready(function () {


		
			//$('#loader').show();
			$("#monthId,#yearId,#IdDepartment").select2();
			$("#IdEmployee").select2({allowClear: true})



		$('#searchbtn').click(function () {
				

				
				LoadAttendance();
				
			});
		});






		function LoadAttendance() {			

			$("#loadinging").removeClass("si");
			$("#loadinging").removeClass("si-magnifier");

			$("#loadinging").addClass("fe fe-refresh-ccw rotation");
			

			

		
			var obj = {
				Staffid: $("#IdEmployee").val(),
				DepartmentId: $("#IdDepartment").val(),
				monthId: $("#monthId").val(),
				yearId: $("#yearId").val()

			}




			$.ajax({
				url: "/Attentance/AttendanceOverViewListCompanyWise",
				type: "GET",
				async: false,
				data: obj,
				success: function (data) {

						if (data != null) {
							// Clear the existing table
							$('#hr-attendance').empty();

							var columns = Object.keys(data[0]);

							// Move the last two columns to the start
							//var lastTwoColumns = columns.splice(-3);
						//columns = lastTwoColumns.concat(columns); H	A	L	W	P	HD


						var columnsToMove = ['Reg#', 'Staff Name', 'H','A','SD'	,'L','W','P','HD']; // Specify the column names to move

							// Move the specified columns to the start
							var movedColumns = [];
							var remainingColumns = [];
							for (var i = 0; i < columns.length; i++) {
							  if (columnsToMove.includes(columns[i])) {
							    movedColumns.push(columns[i]);
							  } else {
							    remainingColumns.push(columns[i]);
							  }
							}
							columns = movedColumns.concat(remainingColumns);


							var columnHeaders = columns.map(function (column) {
								return " <th>" + column + "</th>";
							});

						// Create the table header
						$("<thead>").appendTo("#hr-attendance");
						$("<tr>").html(columnHeaders).appendTo("#hr-attendance thead");

						// Apply CSS styles to the table header
						$("#hr-attendance thead th").css("font-size", "16px");
							// Iterate over the data and create table rows
							$.each(data, function (index, item) {
								var rowData = columns.map(function (column) {
									return "<td>" + item[column] + "</td>";
								});
								$("<tr>").html(rowData).appendTo("#hr-attendance");
							});

						$("#hr-attendance tr th:nth-child(1),  #hr-attendance tr td:nth-child(1), #hr-attendance tr th:nth-child(2), #hr-attendance tr td:nth-child(2)").css({
							position: "sticky",
							left: 0,
							zIndex: 1,
							backgroundColor: "#fff"
						});






						}



					$("#loadinging").addClass("si si-magnifier");

					// Stop the interval after 3 seconds
					setTimeout(function () {
						$("#loadinging").removeClass("fe fe-refresh-ccw rotation");

						clearInterval();
					}, 2000);


						
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$("#loadinging").addClass("si si-magnifier");
					$("#loadinging").removeClass("fe fe-refresh-ccw rotation");
					console.log(textStatus, errorThrown);
				}
			});



		}








	</script>
	}




