@model HRHUBAPI.Models.Candidate


<style>
    .modal-dialog {
        max-width: 1012px;
    }

    .dt-button.buttons-columnVisibility {
       
        color: grey;
    }

        .dt-button.buttons-columnVisibility.active {
            color: green;
        }

  
</style>

<input type="hidden" asp-for="CompanyId"/>
<input type="hidden" asp-for="UrlRequestSatausID" />
<!-- Row -->
<div class="row row-sm mt-2">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                 @if(Model.UrlRequestSatausID==1){
                    <h3 class="card-title">Applied Candidate</h3>
                }
                else if (Model.UrlRequestSatausID == 2)
                {
                    <h3 class="card-title">Short Candidate List</h3>
                }
                else if (Model.UrlRequestSatausID == 3)
                {
                    <h3 class="card-title">Interview Candidate List</h3>
                }
                else if (Model.UrlRequestSatausID == 4)
                {
                    <h3 class="card-title">Re-Interview Candidate List</h3>
                }
               else if (Model.UrlRequestSatausID == 5)
                {
                    <h3 class="card-title">Qualified Candidate List</h3>
                }
                else if (Model.UrlRequestSatausID == 6)
                {
                    <h3 class="card-title">Not-Qualified Candidate List</h3>
                }
                else if (Model.UrlRequestSatausID == 7)
                {
                    <h3 class="card-title">Offered Candidate List</h3>
                }
                else if (Model.UrlRequestSatausID == 8)
                {
                    <h3 class="card-title">Approved Candidate List</h3>
                } 
                else if (Model.UrlRequestSatausID == 9)
                {
                    <h3 class="card-title">Rejected Candidate List</h3>
                }
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {
                   
                        @*<a asp-action="CandidateCreateOrUpdate" asp-controller="Candidate" class="btn btn-primary"><i class="fe fe-plus-circle me-1"></i>Add New </a>*@
                    <div class="card-options">
                        <div class="btn-list">
                            @if(Model.UrlRequestSatausID==1)
                            {
                                 <a asp-action="CandidateCreateOrUpdate" asp-controller="Candidate" class="btn btn-primary"><i class="fe fe-plus-circle me-1"></i>Add Candidates </a>
                                <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                                <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                                <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>
                                <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Filter" id="btn_Filter"> <i class="feather feather-filter"></i> </button>
                            }else{
                            <button type="button" onclick="history.back()" class="btn btn-primary" data-bs-placement="top" data-bs-toggle="" title="" data-bs-original-title="Filter" id="btn_Filter"> <i class="fa fa-arrow-left"></i> </button>

                            <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                            <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                            <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>
                            <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Filter" id="btn_Filter"> <i class="feather feather-filter"></i> </button>
                       }
                        </div>
                    </div>
                }
            </div>
            <div class="row" id="IdFilters">
                <div class="col-md-12 mb-n4" style="margin-bottom: -50px;">
                    <div class="card">
                        <div class="card-body">
                            @using (@Html.BeginForm("SearchList", "Candidate", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
                            {
                            <div class="row">
                                <div class="col-md-12 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Enter Name:</label>
                                        <div class="input-group">
                                            
                                           <input class="form-control" name="Name" id="Name" placeholder="Enter name" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3">
                                    <div class="form-group">
                                            <label class="form-label">Select Designation:</label>
                                            <select id="DesignationId" name="DesignationId" class="form-control" data-placeholder="Select Designation" asp-items="@(new SelectList(@ViewBag.CandidateDesignation,"DesignationId" ,"Title"))">
                                                <option value="">Select Designation</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Experiences in Year <span class="text-danger"></span></label>
                                            <select id="ExperienceId" name="ExperienceId" class="form-control custom-select select2" data-placeholder="Select Experience">
                                                <option label="Select Experience"></option>
                                                <option value="0">Fresher</option>
                                                <option value="1">1 yr</option>
                                                <option value="2">2 yrs</option>
                                                <option value="3">3 yrs</option>
                                                <option value="4">4 yrs</option>
                                                <option value="5">5 yrs</option>
                                                <option value="6">6 yrs</option>
                                                <option value="7">7 yrs</option>
                                                <option value="8">8 yrs</option>
                                                <option value="9">9 yrs</option>
                                                <option value="10">10 yrs</option>
                                                <option value="11">10+ yrs</option>
                                            </select>
                                        </div>
                                </div>
                                <div class="col-md-12 col-lg-3">
                                    <div class="form-group mt-5">
                                            <button type="button" onclick="SearchCandidadte()" class="btn btn-primary" data-bs-placement="top" data-bs-toggle="" title="" data-bs-original-title="Filter"> <i class="fe fe-search"></i> </button>
                                            <button type="button" onclick="history.back()" class="btn btn-primary" data-bs-placement="top" data-bs-toggle="" title="" data-bs-original-title="Refresh"> <i class="fe fe-refresh-ccw"></i> </button>



                                    </div>
                                </div>
                              
                            </div>
                       
                             }
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap key-buttons border-bottom" id="myTable">
                        <thead>
                            <tr>

                                <th class="border-bottom-0" style="max-width: 100px; word-wrap: break-word!important; overflow: hidden;">Sr.#</th>

                                <th class="border-bottom-0" >Name</th>                            
                                <th class="border-bottom-0" style="max-width: 150px; word-wrap: break-word!important; overflow: hidden;">Contact</th>
                                <th class="border-bottom-0 text-center">Experience</th>
                                <th class="border-bottom-0">Gender</th>
                                <th class="border-bottom-0">Applied Date</th>                                
                                <th class=""style="max-width: 150px; word-wrap: break-word!important; overflow: hidden;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var item in Model.ListCandidate)
                            {
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a asp-action="CandidateDetails" asp-route-id="@item.CandidateId"><img  class="avatar avatar-md brround me-3" src="@item.Picture"></a>

                                           
                                            <div class="me-3 mt-0 mt-sm-1 d-block">
                                               @* @{
                                                    string fullName = item.FirstName + " " + item.LastName;
                                                }*@
                                                <a asp-action="CandidateDetails" asp-route-id="@item.CandidateId"> <h6 class="mb-1 fs-14">@item.Name</h6></a>
                                               
                                                <p class="text-muted mb-0 fs-12">@item.DesignationTitle | @item.Email </p>
                                            </div>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                   
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.ExperienceInYears)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    
                                   
                                    <td>
                                        @item.ApplyDate.Value.ToString("yyyy-MMM-dd")
                                        
                                    </td>
                                    

                                    @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                    {
                                        <th class="d-none">
                                        </th>
                                    }
                                    else
                                    {
                                        <td class="">



                                            <!----- Action Buttons Code Start From Here------>
                                            <div class="ms-auto">
                                                <div class="btn-group ms-3 mb-0">
                                                    <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-start" style="">
                                                       
                                                        
                                                        @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                        {

                                                            @if (Model.UrlRequestSatausID != 8 && Model.UrlRequestSatausID != 9){
                                                            
                                                            <a class="dropdown-item" href="#" Onclick="loadModal(@item.CandidateId)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Process" data-bs-original-title="View" aria-label="Process">
                                                                    <i class="fa fa-blind me-1"></i> Process
                                                            </a>
                                                            }
                                                            <a asp-action="CandidateDetails" asp-route-id="@item.CandidateId" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View" data-bs-original-title="View" aria-label="View">
                                                                <i class="feather feather-eye me-1"></i> View
                                                            </a>
                                                            <a asp-action="CandidateCreateOrUpdate" asp-route-id="@item.CandidateId" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Edit" aria-label="Edit">
                                                                <i class="feather feather-edit me-2"></i>Edit
                                                            </a>
                                                        } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                        {
                                                            @if (Model.UrlRequestSatausID == 1)
                                                            {
                                                                <a onclick="confirmation(@item.CandidateId)" href="#" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Delete" aria-label="Delete"><i class="fe fe-trash me-2"></i> Delete</a>
                                                            }
                                                            <a target="_blank" href="@Url.Content(item.AttachmentPath)" class="dropdown-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download Resume" data-bs-original-title="Download Resume" aria-label="Download Resume">
                                                                <i class="feather feather-download me-2"></i>Download
                                                            </a>
                                                        }



                                                    </div>
                                                </div>
                                            </div>
                                            <!----- Action Buttons Code Ends Here------>







                                        </td>
                                    }



                                </tr>
                                count++;
                            }

                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->




<div class="modal fade" id="newStatusmodal" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5  class="modal-title">Candidate Status Update</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="CandidateId" />
             
               @* <div class="col-lg-12">
*@
                    <div class="card overflow-hidden">
                       
                             
                        <div class="row">


                            <div class="col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="card-header border-0">
                                    <h4 id="lblName" class="card-title"></h4>
                                    </div>

                                    <div style="padding:2px">

                                    <div class="form-group local-forms mt-3">
                                        <label class="form-label">Status <span class="text-danger">*</span>  </label>
                                        <select asp-for="StatusId" class="form-control" data-placeholder="Select Status" asp-items="@(new SelectList(@ViewBag.CandidateStatus,"StatusId" ,"Title"))">
                                           
                                        </select>


                                    </div>

                                        
                                    <div id="ShowAttachment">
                                        <label class="form-label">Attachment Later <span class="text-danger">*</span></label>
                                        <div class="form-group local-forms">
                                            <label for="form-label" class="form-label"></label> <input class="form-control" id="AttachmentCandidate" name="AttachmentCandidate" type="file" accept=".pdf, .doc, .docx">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="form-label">Current Date</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="feather feather-calendar"></i>
                                                </div>
                                            </div><input name="ScreeningDate" id="ScreeningDate" class="form-control " placeholder="DD-MM-YYY" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>

                                    <div id="ShowInterviewLocation">
                                        <div class="form-group">
                                        <label class="form-label">Interview Location</label>
                                        <input  name="InterviewMediumOrLocation" id="InterviewMediumOrLocation" class="form-control" placeholder="Enter Interview Location" />
                                    </div>
                                    </div>
                                    <div id="ShowInterviewDate">
                                       <div class="form-group">
                                        <label class="form-label">Interview Date <span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="feather feather-calendar"></i>
                                                </div>
                                            </div><input name="InterviewDateTime" id="InterviewDateTime" class="form-control " placeholder="DD-MM-YYY" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Remarks</label>
                                        <textarea rows="2" name="Remarks" id="Remarks" class="form-control" placeholder="something text here..."></textarea>
                                    </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="Submit()">Submit</button>
                                    <a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal">Close</a>
                                      </div>
                                      </div>

                                </div>
                            </div>
                          

                            <div class="col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="card-header border-0">
                                        <h4 class="card-title">TimeLine</h4>
                                    </div>
                                    <div  id="timeofcandidatescreening"  class="overflow-auto overflow-scrolling mt-3" style="height: 300px;">
                                    </div>
                            
                                </div>
                            </div>
                        </div>
                    </div>

                @*</div>*@

            </div>
        </div>
    </div>
</div>













@section scripts{

    <script>


        $(document).ready(function () {


            $('#StatusId').select2({ placeholder: 'Select Designation', width: '100%', allowClear: true }).val("").trigger('change');




            var table;
             
            $('#myTable thead tr')
                .clone(true)
                .addClass('filters')
                ;



             table = $('#myTable').DataTable({
                dom: 'Bfrtip',
                   buttons: [
                    'excelHtml5', 'pdfHtml5', 'csvHtml5',
                    ],
                 
                
                orderCellsTop: true,
                fixedHeader: false,
               // initComplete: function () {
                    
                //    var api = this.api();

                //// For each column
                //api.columns().eq(0).each(function (colIdx) {
                //    // Set the header cell to contain the input element
                //    var cell = $('.filters th').eq(
                //        $(api.column(colIdx).header()).index()
                //    );

                //    var search = $(cell).text();
                //    if (search != "Action" && search != "") {
                //        $(cell).html('<input type="text" class="form-control" placeholder="' + search + '" style="max-width: 150px; word-wrap: break-word!important; overflow: hidden;" / >');
                //    }
                //    else {
                //        $(cell).empty();
                //    }


                //    // On every keypress in this input
                //    $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                //        .off('keyup change')
                //        .on('change', function (e) {
                //            // Get the search value
                //            $(this).attr('title', $(this).val());
                //            var regexr = '({search})'; //$(this).parents('th').find('select').val();

                //            var cursorPosition = this.selectionStart;
                //            // Search the column for that value
                //            api
                //                .column(colIdx)
                //                .search(
                //                    this.value != ''
                //                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                //                        : '',
                //                    this.value != '',
                //                    this.value == ''
                //                )
                //                .draw();
                //        })
                //        .on('keyup', function (e) {
                //            e.stopPropagation();

                //            $(this).trigger('change');
                //            $(this)
                //                .focus()[0]
                //                .setSelectionRange(cursorPosition, cursorPosition);
                //        });
                //});
                   
               // }
            });

            //setTimeout(function () {
              
            //    // Change column visibility after form is loaded

            //    table.columns([2, 3, 5, 6, 8, 9, 10]).visible(false);
               
            //}, 1000);

            /////////////////////////////////////////////////////////




            $('#StatusId').select2();
            $('#DesignationId').select2();

            // Show Filters controls
           
            $("#IdFilters").hide();
            $('#btn_Filter').click(function () {
               
                $("#IdFilters").toggle(1000);
            });

            ////////////////////////////////////


            /// Show status Attachment Control on dropdown selection

           $('#ShowAttachment').hide(1000);
            $('#StatusId').change(function () {
                var selectOption = $(this).val();
               
                debugger
                if (selectOption == '7') {
                    $('#ShowAttachment').show(1000);
                } else {
                    $('#ShowAttachment').hide(1000);
                }
            });
            $('#ShowInterviewDate').hide(1000);
             $('#ShowInterviewLocation').hide(1000);
            $('#StatusId').change(function () {
                var selectOption = $(this).val();
               
                debugger
                if (selectOption == '3' || selectOption == '4') {
                    $('#ShowInterviewDate').show(1000);
                    $('#ShowInterviewLocation').show(1000);
                } else {
                    $('#ShowInterviewDate').hide(1000);
                    $('#ShowInterviewLocation').hide(1000);
                }
            });
             

            ////////////////////////////

           


            // Show notification 

           
            
        });
        ////////////////////////////////////////////////////////////////


        $(document).ready(function () {

           


        var msg = '@ViewBag.Success';
        if (msg !== "" && msg == '1') {

            notif({
                msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                type: "success"
            });



        }
        if (msg !== "" && msg == '2') {

            notif({
                msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                type: "success"
            });



        }
        if (msg !== "" && msg == '3') {
            notif({
                msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                type: "success"
            });

        }
        if (msg !== "" && msg == '0') {
            notif({
                msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                type: "error"
            });



        }


        });



        function loadModal(id) {

          
            $("#CandidateId").val(id)
             var obj = { id: id }
            $.ajax({
                url: "/Candidate/GetCandidateScreening",
                type: "GET",
                async: false,
                dataType: "json",
                data: obj,
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        $("#lblName").text(data[0]["candidateName"]);

                        $('#StatusId').select2({ placeholder: 'Select Designation', width: '100%', allowClear: true }).val(data[0]["statusId"]).trigger('change');
                      
                        debugger;
                        var html=''
                        for (var i = 0; i < data.length; i++) {


                             html += '  <div class="pt-2"><div class="list-group"> ';
                            html += '<div class="list-group-item d-flex pt-3 pb-3 border-0"> ';
                            html += '    <div class="me-3 me-xs-0">';
                            html += '        <div class="calendar-icon icons">';
                            html += '            <div class="date_time ' + data[i]["cssColor"] + '">';
                            html += '                <span class="date"> ' + data[i]["day"] + ' </span> <span class="month">' + data[i]["month"] + '</span>';
                            html += '             </div>';
                            html += '        </div>';
                            html += '     </div>';
                            html += '         <div class="ms-1">';
                            html += '            <div class="h5 fs-14 mb-1" >Candidate Status   <span  class="' + data[i]["cssColor"] + '">' + data[i]["statusTitle"] + '</span>     ';
                            html += '         </div>'
                            if(data[i]["attachmentPath"]!='')  
                            {
                            html += '<div class="d-flex"><a target="_blank" href="' + data[i]["attachmentPath"] + '" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Download Resume" aria-label="Download Offer">';
                            html += '<i class="feather feather-download  text-secondary mt-1" > </i> </a> </div> ';
                            
                            }
                            html += '        <small class="text-muted" > ' + data[i]["remarks"] + ' </small>';
                            html += '     </div>';
                            html += '</div></div></div>';

                           
                        }


                         $('#timeofcandidatescreening').html(html)


                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });




            $("#newStatusmodal").modal('show');


        }


        $('#AttachmentCandidate').change(function () {
            debugger
            var fileInput = $(this);
            var allowedExtensions = /(\.pdf|\.doc|\.docx)$/i;
            var fileSizeLimit = 5 * 1024 * 1024; // 2 MB
            var fileSize = this.files[0].size;
            var filePath = fileInput.val();
            if (!allowedExtensions.exec(filePath)) {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b> Invalid file type. Please select a Pdf, Doc, or Docx file.",
                    type: "warning"
                });
                fileInput.val('');
                return false;
            } else if (fileSize > fileSizeLimit) {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Warning:</b>' File size exceeds the limit of 2MB.",
                    type: "warning"
                });
                fileInput.val('');
                return false;
            } else {
                readURL(this)

            }

        });


        function Submit() {


            if ($("#StatusId").val()=='')
            {
                $.growl.warning({
                    message: "Please select Status !"
                });

                return false;
            }
           
                debugger
                if ($("#StatusId").val() == '3' || $("#StatusId").val() == '4') {
                    if ($("#InterviewMediumOrLocation").val() == '') {
                        $.growl.warning({
                            message: "Enter Interview Location !"
                        });

                        return false;
                    }
                    else if ($("#InterviewDateTime").val() == '') {
                        $.growl.warning({
                            message: "Enter Interview Date!"
                        });

                        return false;
                    }
                }
            if ($("#StatusId").val() == '7') {
                    if (document.getElementById("AttachmentCandidate").value == "") {

                        $.growl.warning({
                            message: "Please Select Attachment"
                        });                        
                        return false;

                    }
                   
                } 
         
            if ($("#Remarks").val() == '') {
                $.growl.warning({
                    message: "Please Enter Remarks !"
                });

                return false;
            }

            var obj = {

                CandidateId:    $("#CandidateId").val(),
                StatusId:       $("#StatusId").val(),
                Remarks:        $("#Remarks").val(),
                ScreeningDate:  $("#ScreeningDate").val(),
                AttachmentPath: $("#AttachmentCandidate").val(),
                InterviewDateTime: $("#InterviewDateTime").val(),
                InterviewMediumOrLocation: $("#InterviewMediumOrLocation").val()
            }


             var formData = new FormData();
            var fileInput = document.getElementById('AttachmentCandidate');
            formData.append('file', fileInput.files[0]);


            formData.append('obj', JSON.stringify(obj));

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Candidate/CandidateStatusEdit');
                 xhr.onload = function() {
                     debugger
                 if (xhr) {
                    $("#newStatusmodal").modal('hide');
                    $.growl.notice({
                               message: "Status Updated"
                              });
                              $("#CandidateId").val(0)
                              $('#StatusId').select2({ placeholder: 'Select Designation', width: '100%', allowClear: true }).val("").trigger('change');
                              $("#Remarks").val("")
                               
                              
                               //location.reload();
                } else {
                 console.log('Error uploading form data');
                 }
                    };
  xhr.send(formData);
                setTimeout(function () {

                location.reload();
               
            }, 2000);


            //$.ajax({
            //    url: "/Candidate/CandidateStatusEdit",
            //    type: "POST",
            //    async: false,
            //    dataType: "json",
            //    data: obj,
            //    success: function (data) {
            //        console.log(data);
            //        if(data!=null)
            //        {
            //            //  var table = $('#myTable').DataTable();
            //            //   table.clear();
            //            //   table.draw();
                      
            //            //var  listcandidate= data.listcandidate
                       
            //            //for (var i = 0; i < listcandidate.length; i++) {
                           
            //            //    var rowData = [];
            //            //    var action = '<div class="d-flex">';
            //            //    action +='<a class="action-btns1" onclick="loadModal(' + listcandidate[i]["candidateId"] + ')" data-bs-placement="top" title="" data-bs-original-title="Accept" aria-label="Accept">';
            //            //    action += '<i class="feather feather-check text-success mt-1"></i></a>';
            //            //    action += '<a class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" aria-label="View" href="/Candidate/CandidateDetails/' + listcandidate[i]["candidateId"] + '">';
            //            //    action += '<i class="feather feather-eye  text-primary mt-1"> </i></a>';
            //            //    action += '<a class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="Edit" href="/Candidate/CandidateCreateOrUpdate/' + listcandidate[i]["candidateId"] + '">';
            //            //    action += '<i class="feather feather-edit  text-primary mt-1"> </i> </a>';
            //            //    action += '<a onclick="return confirm("Are you sure you want to delete ")" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" aria-label="Delete" href="/Candidate/CandidateDelete/' + listcandidate[i]["candidateId"] + '">';
            //            //    action += '<i class="feather feather-trash-2 text-danger mt-1"></i> </a>';
            //            //    action += '<a onclick="return confirm("Are you sure you want to delete ")" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Download Resume" aria-label="Download Resume" href="/Candidate/CandidateDelete/' + listcandidate[i]["candidateId"] + '">';
            //            //    action += '<i class="feather feather-download  text-secondary mt-1"></i> </a> </div>';


            //            //    rowData.push([i+1, listcandidate[i]["name"],  listcandidate[i]["qualification"], listcandidate[i]["phone"], listcandidate[i]["city"], action]);


            //            //   table.rows.add(rowData);
            //            //   table.draw();

            //            //  }

            //            $("#newStatusmodal").modal('hide');

            //          $.growl.notice({
            //                message: "Status Updated"
            //              });

            //            location.reload();
            //        }
                  
                    
            //    },
            //    error: function (jqXHR, textStatus, errorThrown) {
            //        console.log(textStatus, errorThrown);
            //    }
            //});

               
     
     }



        function confirmation(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = "@Url.Action("CandidateDelete", "Candidate")/" + id; // replace with the desired action and controller names
                    window.location.href = url;
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });
        }




     function SearchCandidadte(){

            var obj = {

                Name: $("#Name").val(),
                DesignationId: $("#DesignationId").val(),
                ExperienceId: $("#ExperienceId").val(),
                CompanyId: $("#CompanyId").val(),
                id: $("#UrlRequestSatausID").val()
                
            }



            $.ajax({
                url: "/Candidate/SearchList",
                type: "POST",
                async: false,
                dataType: "json",
                data: obj,
                success: function (data) {
                  
                    if(data!=null)
                    {      debugger
                          var table = $('#myTable').DataTable();
                           table.clear();
                           table.draw();

                        var  listcandidate= data.listcandidate
                        console.log(listcandidate);
                        for (var i = 0; i < listcandidate.length; i++) {

                            var dateTimeString = listcandidate[i]["applyDate"];
                             var ApplyDate = dateTimeString.split("T")[0];


                            var rowData = [];
                            var action = '<div class="d-flex">';
                            action +='<a class="action-btns1" onclick="loadModal(' + listcandidate[i]["candidateId"] + ')" data-bs-placement="bottom" title="" data-bs-original-title="Accept" aria-label="Accept">';
                            action += '<i class="feather feather-check text-success mt-1"></i></a>';
                            action += '<a class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View" aria-label="View" href="/Candidate/CandidateDetails/' + listcandidate[i]["candidateId"] + '">';
                            action += '<i class="feather feather-eye  text-primary mt-1"> </i></a>';
                            action += '<a class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit" aria-label="Edit" href="/Candidate/CandidateCreateOrUpdate/' + listcandidate[i]["candidateId"] + '">';
                            action += '<i class="feather feather-edit  text-primary mt-1"> </i> </a>';
                            action += '<a onclick="confirmation(' + listcandidate[i]["candidateId"] + ')" class="action-btns1" data-bs-toggle="" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete" href="#">';
                            //action += '<a class="action-btns1" onclick="loadModal(' + listcandidate[i]["candidateId"] + ')" data-bs-placement="bottom" title="" data-bs-original-title="Accept" aria-label="Accept">';

                            action += '<i class="feather feather-trash-2 text-danger mt-1"></i> </a>';
                            action += '<a target="_blank" href="' + listcandidate[i]["attachmentPath"] + '"  class="action-btns1"data-bs-toggle=""data-bs-placement="bottom" title = "" data - bs - original - title="Download Resume" aria - label="Download Resume" > ';
                            action += '<i class="feather feather-download  text-secondary mt-1"></i> </a> </div>';


                            rowData.push([i + 1, listcandidate[i]["name"],  listcandidate[i]["phone"],  listcandidate[i]["experienceInYears"], listcandidate[i]["gender"], ApplyDate,  action]);


                           table.rows.add(rowData);
                           table.draw();

                          }

                       


                       
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });

     
     
     
     
     }






    </script>

}


