@model HRHUBAPI.Models.Candidate

@{
    ViewData["Title"] = "Candidate Profile";
}

<input type="hidden" asp-for="CandidateId" value="@ViewBag.CandidateId" />
<!--End Page header-->
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-5">

                    <div class="col-lg-8">
                        <button type="button" onclick="history.back()" class="btn btn-primary" data-bs-placement="top" data-bs-toggle="" title="" data-bs-original-title="Filter" id="btn_Filter"> <i class="fa fa-arrow-left"></i> </button>


                        <div class="profile-pic mb-0 mt-4">
                            <div class="d-md-flex">
                                <img alt="user" class="avatar avatar-xxl brround" src="@Url.Content(Model.Picture)">
                                <div class="ms-4">
                                    <a class="text-dark" href="javascript:void(0);">
                                        <h4 class="mt-3 mb-1 font-weight-semibold">@Model.Name</h4>
                                    </a> <span class="text-muted">@Model.CurrentDesignation</span><br>
                                   
                                        <small class="text-muted">@Model.ExperienceInYears Year Experience</small>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-end mt-3 mt-lg-0">
                        @*<a asp-action="CandidateList" asp-controller="Candidate" class="btn btn-danger">Back</a>*@


                       

                        <a class="btn btn-primary" target="_blank" href="@Url.Content(@Model.AttachmentPath)"> <i class="fa fa-download"></i> Download Resume</a>

                        <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                        <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                        <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>






                    </div>
                </div>
                <h5 class="mb-4 font-weight-semibold">Description</h5>
                <div class="table-responsive job-user">
                    <table class="table row table-borderless w-100 m-0 text-nowrap">
                        <tbody class="col-lg-12 col-xl-6 p-0">
                            <tr>
                                <td><span class="font-weight-semibold">Full Name :</span> @Model.Name</td>
                            </tr>
                           
                            <tr>
                                <td><span class="font-weight-semibold">Current Designation :</span> @Model.CurrentDesignation</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Annual Salary :</span> @Convert.ToDecimal(Model.CurrentSalary).ToString("N2")</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Current Company :</span> @Model.CurrentCompany</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Experience :</span> @Model.ExperienceInYears Years</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Location :</span> @Model.City</td>
                            </tr>
                           
                           
                        </tbody>
                        <tbody class="col-lg-12 col-xl-6 p-0  border-top-0">
                            <tr>
                                <td><span class="font-weight-semibold">Qualification :</span>@Model.Qualification</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Email :</span> @Model.Email</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Phone :</span> @Model.Phone</td>
                            </tr>
                           
                            <tr>
                                <td><span class="font-weight-semibold">Date Of Birth :</span> @Model.Dob.Value.ToString("dd-MMM-yyyy")</td>
                            </tr>
                            <tr>
                                <td><span class="font-weight-semibold">Gender :</span> @Model.Gender</td>
                            </tr>
                           
                            <tr>
                                <td><span class="font-weight-semibold">Permanent Address :</span> @Model.Address</td>
                            </tr>
                            
                        </tbody>
                        @*<tbody class="p-0">
                            <tr>
                                <td><span class="font-weight-semibold">Key Skills :</span> Effective leadership and management, Good communication, Planning and research skills, Resilience, Self-management, Teamwork and interpersonal skills, Relevant work experience</td>
                            </tr>
                        </tbody>*@
                    </table>
                </div>
                <hr style="border:1px solid;" />
                <h5 class="mb-4 mt-5 font-weight-semibold">Employment Details</h5>
                <div>
                    <i class="fa fa-caret-right me-2"></i> Currently Working at <span class="font-weight-semibold">@Model.CurrentCompany</span>
                </div>
                <div>
                   
                    <i class="fa fa-caret-right me-2"></i> @Model.ExperienceInYears Years and @Model.ExperienceInMonths Month Of Working Experience in <span class="font-weight-semibold">@Model.CurrentCompany</span>
                </div>
              
               <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="p-0">
                                <div class="card-header border-0">
                                    <h4 class="card-title">Skills</h4>
                                </div>

                                <div class="card-body overflow-auto overflow-scrolling" style="height: 320px;">

                                   


                                        @foreach (var item in ViewBag.CandidateSkill)
                                        {

                                            <ul class="timeline" id="SkillsList">
                                                <li class="primary" id="@item.CandidateSkillId">
                                                    <a target="_blank" href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">@item.Title</a>
                                                    <span style="float: right; cursor:pointer;display:none">
                                                        <a onclick="Update(@item.CandidateSkillId)">
                                                            <i class="feather feather-edit primary text-primary me-1"></i>
                                                        </a>
                                                        <a onclick="return confirm('Are you sure you want to delete')" id="@item.CandidateSkillId">
                                                            <i class="feather feather-trash-2 text-danger"></i>
                                                        </a>
                                                    </span>
                                                    <p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">@item.SkillStatus</p>
                                                </li>
                                            </ul>



                                      
                                    }
                                   

                                </div>


                            </div>
                        </div>
                    </div>
           
            <div class="col-md-6">

                     <div class="card overflow-hidden">
                                    <div class="card-header border-0">
                                        <h4 class="card-title">TimeLine</h4>
                                    </div>
                            <div id="timeofcandidatescreening" class="overflow-auto overflow-scrolling" style="height: 320px;">



                                    </div>
                            
                      </div>
            </div>
            </div>
           
        </div>
        </div>
    </div>
</div>
<!-- End Row -->


@section scripts{

  <script>


        $(document).ready(function () {


            var id = $("#CandidateId").val()
            var obj = { id: id }
            $.ajax({
                url: "/Candidate/GetCandidateScreening",
                type: "GET",
                async: false,
                dataType: "json",
                data: obj,
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        debugger;
                        var html = ''
                        for (var i = 0; i < data.length; i++) {


                            html += '  <div class="pt-2"><div class="list-group"> ';
                            html += '<div class="list-group-item d-flex pt-3 pb-3 border-0"> ';
                            html += '    <div class="me-3 me-xs-0">';
                            html += '        <div class="calendar-icon icons">';
                            html += '            <div class="date_time ' + data[i]["cssColor"] + '">';
                            html += '                <span class="date"> ' + data[i]["day"] + ' </span> <span class="month">' + data[i]["month"] + '</span>';
                            html += '             </div>';
                            html += '        </div>';
                            html += '     </div>';
                            html += '         <div class="ms-1">';
                            html += '            <div class="h5 fs-14 mb-1" >Candidate Status   <span class="' + data[i]["cssColor"] + '">' + data[i]["statusTitle"] + '</span> ';
                            html += '         </div>'
                            if (data[i]["attachmentPath"] != '') {
                                html += '<div class="d-flex"><a target="_blank" href="' + data[i]["attachmentPath"] + '" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Download Resume" aria-label="Download Offer">';
                                html += '<i class="feather feather-download  text-secondary mt-1" > </i> </a> </div> ';

                            }
                            html += '        <small class="text-muted" > ' + data[i]["remarks"] + ' </small>';
                            html += '     </div>';
                            html += '</div></div></div>';


                        }


                        $('#timeofcandidatescreening').html(html)


                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });


    });




</script>










}