@model HRHUBAPI.Models.LoanType





<!--Add LoanType Modal -->
@using (@Html.BeginForm("LoanTypeCreateOrUpdate", "Configuration", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    <input type="hidden" asp-for="CompanyId" />
    <input type="hidden" asp-for="LoanTypeId" />

    <div class="modal fade" id="addLoanTypemodal">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Loan Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" type="text" placeholder="Enter Title">
                    </div>
                    <div class="form-group">


                        @*<label class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="Status" class="custom-control-input" checked>
                    <span class="custom-control-label">IsActive</span>
                    </label>

                    <label class="custom-control custom-checkbox">
                    <input type="checkbox" asp-for="IsNeedApproval" class="custom-control-input">
                    <span class="custom-control-label">Is Need Approval</span>
                    </label>
                    *@



                        <label class="custom-switch">
                            <label class="form-label me-2 mt-1">IsActive</label>
                            <input type="checkbox" asp-for="Status" class="custom-switch-input" checked="checked">
                            <span class="custom-switch-indicator custom-switch-indicator"></span>
                        </label>
                        <label class="custom-switch ms-2">
                            <label class="form-label me-2 mt-1">Is Need Approval</label>
                            <input type="checkbox" asp-for="IsNeedApproval" class="custom-switch-input">
                            <span class="custom-switch-indicator custom-switch-indicator"></span>
                        </label>



                    </div>


                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
                    <input type="button" value="Save" id="btnsave" onclick="postdata()" class="btn btn-primary" />

                </div>
            </div>
        </div>
    </div>

}
<!-- End Add LoanType Modal  -->
<!-- Row -->
<div class="row row-sm mt-4">

    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Leave Type Details</h3>

                <div class="page-rightheader ms-md-auto">
                    <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
                        <div class="btn-list">

                            @if (Convert.ToBoolean(ViewBag.IsNew))
                            {
                                <a onclick="addnewLoanType()" class="btn btn-primary me-3">Add Loan Type</a>
                                <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="E-mail" fdprocessedid="e1dtag"> <i class="feather feather-mail"></i> </button>
                                <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact" fdprocessedid="8etyje"><i class="feather feather-phone-call"></i></button>
                                <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Info" fdprocessedid="32j8uv"> <i class="feather feather-info"></i> </button>
                            }

                        </div>
                    </div>
                </div>
                @*
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {

                <div class="card-options"> <a asp-action="LoanTypeCreateOrUpdate" asp-controller="Configuration" class="btn btn-primary">Add Leave Type</a> </div>

                }*@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  card-table table-hover  table-vcenter table-sm text-nowrap" id="myTable">
                        <thead style="border-bottom: 1px solid #0000004a;">
                            <tr>
                                <th class="border-bottom-0">Sr.#</th>
                                <th class="border-bottom-0">Loan Type</th>
                                <th class="border-bottom-0">Need Approval</th>
                                <th class="border-bottom-0">Status</th>
                                @*<th class="col-md-1">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                int count = 1;
                                foreach (var item in Model.ListLoanTypes)
                                {
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>

                                            @*if (item.IsNeedApproval == true)
                                {
                                <td class="text-center"><span class="badge badge-label bg-primary"><i class="mdi mdi-circle-medium"></i> Yes</span></td>
                                }
                                else
                                {
                                <td class="text-center"> <span class="badge badge-label bg-warning"><i class="mdi mdi-circle-medium"></i> No</span></td>

                                }@

                                @*if (item.Status == true)
                                {
                                <td class="text-center"><span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Active</span></td>
                                }
                                else
                                {
                                <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>

                                }*@


                                            <td>
                                                <label class="custom-switch ">

                                                    <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" id="IsNeedApproval_@item.LoanTypeId" onchange="setvalue(this.id,this)" @(item.IsNeedApproval == true? "Checked":"") />
                                                    <span class="custom-switch-indicator custom-switch-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="custom-switch mt-2">

                                                    <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" id="IsActive_@item.LoanTypeId" onchange="setvalue(this.id,this)" @(item.Status == true? "Checked":"") />
                                                    <span class="custom-switch-indicator custom-switch-indicator"></span>
                                                </label>

                                                <div class="float-end ms-auto">
                                                    <div class="btn-group ms-3 mb-0">
                                                        <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-start" style="">
                                                            @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                        {
                                                                <a onclick="editrecord(@item.LoanTypeId)" href="#" class="dropdown-item"><i class="fe fe-edit me-2"></i> Edit</a>

                                                        }
                                                            @if (Convert.ToBoolean(ViewBag.IsDelete))
                                                        {
                                                                <a onclick="confirmation(@item.LoanTypeId)" href="#" class="dropdown-item"><i class="fe fe-trash me-2"></i> Delete</a>
                                                        }
                                                            <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-info me-2"></i> Info</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>


                                            @*if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                {
                                <th class="d-none">






                                </th>
                                }
                                else
                                {
                                <td class="text-end">
                                <div class="d-flex">
                                @if (Convert.ToBoolean(ViewBag.IsEdit))
                                {

                                <a href="#" onclick="editrecord(@item.LoanTypeId)" class="action-btns1 btn-xs ">
                                <i class="feather feather-edit primary text-primary  mt-1" data-bs-toggle="tooltip" data-original-title="Edit" data-bs-original-title=""></i>
                                </a>

                                } @if (Convert.ToBoolean(ViewBag.IsDelete))
                                {
                                <a href="#" onclick="confirmation(@item.LoanTypeId)" class="action-btns1">
                                <i class="feather feather-trash-2 text-danger mt-1" data-bs-toggle="tooltip" data-original-title="Delete" data-bs-original-title=""></i>
                                </a>
                                }
                                </div>

                                </td>
                                }*@



                                        </tr>
                                    count++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->
@section scripts{

    <script>
        $(document).ready(function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#myTable').DataTable();
        });



        function postdata() {
            var status = true;
            debugger;
            if ($("#Title").val() == "") {
                $.growl.warning({
                    message: "Please Enter Title"
                });
                $("#Title").css("border-color", "red");
                status = false;
                return false;
            }
            var Data = { id: $("#LoanTypeId").val(), title: $('#Title').val() == '' ? '""' : $('#Title').val(), CompanyId: $("#CompanyId").val() }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Configuration/LoanTypeAlreadyExists",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger
                        //var b = JSON.parse(data)
                        if (data.success) {

                            // $.growl.warning(b.message);
                            $.growl.warning({
                                message: data.message
                            });
                            status = false;
                        }
                        else {
                            $("#addLoanTypemodal").modal('hide');
                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            if (status) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#myform").submit();
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });


            }


        }
        function editrecord(id) {
            debugger;
            addnewLoanType();
            var Data = { id: id }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Configuration/GetLoanTypeById",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger

                        $("#LoanTypeId").val(data.loanTypeId);
                        $("#Title").val(data.title);

                        $("#Status").prop('checked', data.status)
                        $("#IsNeedApproval").prop('checked', data.isNeedApproval)
                        $("#addLoanTypemodal").modal('show');
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })


        }

        function confirmation(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = "@Url.Action("LoanTypeDelete", "Configuration")/" + id; // replace with the desired action and controller names
                    window.location.href = url;
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });
        }

        function setvalue(event, row) {
            debugger
            console.log(event)

            var datasplited = event.split('_');
            var control = datasplited[0];
            var id = datasplited[1];

            if ($("#" + control + "_" + id).is(':checked')) {
                $("#" + control + "_" + id).prop('checked', true);
            }
            else {
                $("#" + control + "_" + id).prop('checked', false);
            }

            var currentRow = $(row).closest('tr');
            var isactive = currentRow.find("#IsActive_" + id).is(':checked');
            var isneedapproval = currentRow.find("#IsNeedApproval_" + id).is(':checked');


            // UPdate Status & IsNonpaid
            var Data = { id: id, status: isactive, needapproval: isneedapproval }
            $.ajax({
                async: false,
                url: "/Configuration/UpdateLoanTypeStatus",
                type: "POST",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        if (data.success) {

                            // no need to redirect becoz status updated in DB

                            //var url = '@Url.Action("LoanTypeList", "Configuration",new { data = 2 })';
                            //window.location.href = url;

                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })



        }

        function addnewLoanType() {


            $("#LoanTypeId").val(0)
            $("#Title").val('')
            $("#Status").prop('checked', true)
            $("#IsNeedApproval").prop('checked', false)
            $("#Title").css("border-color", "#ddd");

            $("#addLoanTypemodal").modal('show');

        }


    </script>

}
