@{
    ViewData["Title"] = "PayrollSettings";
}




<style>
            .calendar-widget {
                border-radius: 17px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
            }



            .widget-icon {
                background: #f1f4fb;
                padding: 18px 0;
            }

            /*Sir Noman
        */
            /*.custom-control-label-md::after,
            .custom-control-label-md::before{
                left:0;
            }*/
            .policy-description{
                overflow-y: auto;
                border-left: 2px solid #0D5BE1;

            }


            .border-style, .calendar-widget.active {
                outline: 2px solid #0D5BE1;
                position: relative;
                transition: 0.4ms ease-in-out;
                /*		visibility:hidden;
                        opacity:0;*/
            }


                .border-style::before, .calendar-widget.active::before {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    width: 18px;
                    right: -4px;
                    height: 20px;
                    background: #0D5BE1;
                }

            .pay-routine-module {
                display: none;
            }

                .pay-routine-module.active {
                    display: block;
                }

            div.week-day-btn label {
                width: 100px;
                height: 37px;
                background: #fff;
                border: 1px solid #6e6e6e;
                color: #000;
                padding: 5px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
                margin-left: 2px;
            }

            .week-day-btn input[type = "radio"] {
                visibility: hidden;
                opacity: 0;
                width: 0px;
            }

                .week-day-btn input[type="radio"]:checked + label {
                    background-color: #128af9;
                    color: #fff;
                }
    /*
                .policy-module{
                    display: none;
                }*/

</style>

<div class="side-app main-container py-0">

    <!--Page header-->
    <div class="page-header mt-0 mb-2 d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Payroll Settings</div>
        </div>
        <div class="page-rightheader ms-md-auto">
            <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
                <div class="btn-list">
                    <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                    <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                    <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <!--End Page header-->
    <!-- Row -->
    <div class="row">
        @* <input type="hidden" asp-for="CompanyId" />*@
        <div class="col-md-12 col-lg-3 col-xl-3">
            <div class="card">
                <div class="nav flex-column admisetting-tabs" id="settings-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" data-bs-toggle="pill" href="#tab-1" role="tab">
                        <i class="fa fa-cog me-2 fs-16 "></i>General Settings
                    </a>
                    <a class="nav-link" data-bs-toggle="pill" href="#tab-2" role="tab">
                        <i class="fa fa-bar-chart me-2 fs-16 "></i> Component Settings
                    </a>

                    <a class="nav-link" data-bs-toggle="pill" href="#tab-3" role="tab">
                        <i class="fa fa-edit me-2 fs-16 "></i> Policies Settings
                    </a>

                    <a class="nav-link" data-bs-toggle="pill" href="#tab-4" role="tab">
                        <i class="fa fa-percent me-2 fs-16 "></i> Company Tax Settings
                        <i class="fas fa-portal-exit"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-9 col-xl-9">
            <div class="tab-content adminsetting-content" id="setting-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    <div class="card">
                        <div class="card-header justify-content-between align-items-center border-0">
                            <h4 class="card-title">General Settings</h4>


                        </div>
                        <div class="card-body pt-2">
                            <p class="fs-18 font-weight-semibold">How often do you pay your staff? <span class="text-danger">*</span></p>
                            <div class="row">
                                <div class="col-sm-6 col-lg-3 col-xl-3">
                                    <div class="shadow-sm flex-column calendar-widget mb-4 d-flex align-items-center pb-2 justify-content-center active" id="week-widget">
                                        <div class="mb-3 w-100 text-center widget-icon">
                                            <i class="fa fa-calendar text-info fs-2"></i>
                                        </div>
                                        <h3 class="fs-6 text-dark">Every Week</h3>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-3 col-xl-3">
                                    <div class="shadow-sm flex-column calendar-widget mb-4 d-flex align-items-center pb-2 justify-content-center" id="other-week-widget">
                                        <div class="mb-3 w-100 text-center widget-icon">
                                            <i class="fa fa-calendar text-info fs-2"></i>
                                        </div>
                                        <h3 class="fs-6 text-dark">Every Other Week</h3>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-3 col-xl-3">
                                    <div class="shadow-sm flex-column calendar-widget mb-4 d-flex align-items-center pb-2 justify-content-center" id="twice-month-widget">
                                        <div class="mb-3 w-100 text-center widget-icon">
                                            <i class="fa fa-calendar text-info fs-2"></i>
                                        </div>
                                        <h3 class="fs-6 text-dark">Twice a Week</h3>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-3 col-xl-3">
                                    <div class="shadow-sm flex-column calendar-widget mb-4 d-flex align-items-center pb-2 justify-content-center" id="once-month-widget">
                                        <div class="mb-3 w-100 text-center widget-icon">
                                            <i class="fa fa-calendar text-info fs-2"></i>
                                        </div>
                                        <h3 class="fs-6 text-dark">Once a Month</h3>
                                    </div>
                                </div>

                            </div>


                            <div class="pay-schedule-interface">

                                <div class="mt-5 mb-6 pay-routine-module active" id="week-module">
                                    <p class="fs-17  mb-4 text-dark font-weight-semibold">Pays every week on a<span class="text-secondary">*</span></p>

                                    <div class="mb-5 d-flex">
                                        <div class="week-day-btn">
                                            <input type="radio" id="mon" name="weekday1">
                                            <label for="mon">Monday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="tue" name="weekday1">
                                            <label for="tue">Tuesday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="wed" name="weekday1">
                                            <label for="wed">Wednesday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="thu" name="weekday1">
                                            <label for="thu">Thursday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="fri" name="weekday1">
                                            <label for="fri">Friday</label>
                                        </div>
                                    </div>


                                    <p class="fs-17  mb-1 text-dark font-weight-semibold">
                                        Note: <span class="font-weight-normal">
                                            When payday falls on a non-working day or
                                            a holiday, employees will get paid on a the previous day
                                        </span>
                                    </p>

                                </div>

                                <div class="mt-5 mb-6  pay-routine-module" id="other-week-module">
                                    <p class="fs-17  mb-4 text-dark font-weight-semibold">Pays every other week on a<span class="text-secondary">*</span></p>
                                    <div class="mb-5 d-flex">
                                        <div class="week-day-btn">
                                            <input type="radio" id="1" name="weekday2">
                                            <label for="1">Monday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="2" name="weekday2">
                                            <label for="2">Tuesday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="3" name="weekday2">
                                            <label for="3">Wednesday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="4" name="weekday2">
                                            <label for="4">Thursday</label>
                                        </div>

                                        <div class="week-day-btn">
                                            <input type="radio" id="5" name="weekday2">
                                            <label for="5">Friday</label>
                                        </div>
                                    </div>
                                    <p class="fs-17  mb-1 text-dark font-weight-semibold">
                                        Note: <span class="font-weight-normal">
                                            When payday falls on a non-working day or
                                            a holiday, employees will get paid on a the previous day
                                        </span>
                                    </p>
                                </div>





                                <div class="mt-5 mb-6  pay-routine-module" id="twice-month-module">
                                    <p class="fs-17 mb-1 text-dark">For Work done from the <span class="font-weight-semibold">1st</span> to the <span class="font-weight-semibold">15th,</span><span class="text-secondary">*</span></p>
                                    <div class="form-group py-2">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control mb-4 d-flex align-items-center custom-radio">
                                                <input type="radio" class="custom-control-input" name="section1-radios" value="option1" checked="">
                                                <span class="custom-control-label fs-16">The 15th of the same month</span>
                                            </label>
                                            <label class="custom-control mb-4 d-flex align-items-center custom-radio">
                                                <input type="radio" class="custom-control-input" name="section1-radios" value="option2">
                                                <span class="custom-control-label fs-16">Day <input type="number" placeholder="16" class="form-control w-20 w-sm-10 d-inline-block"> the same month</span>
                                            </label>

                                        </div>
                                    </div>

                                    <p class="fs-17 mb-1 text-dark">For Work done from the <span class="font-weight-semibold">16th</span> to the <span class="font-weight-semibold">end of the month, pay on</span><span class="text-secondary">*</span></p>

                                    <div class="form-group py-2">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio mb-4 d-flex align-items-center">
                                                <input type="radio" class="custom-control-input" name="section2-radios" value="option1" checked="">
                                                <span class="custom-control-label fs-16">The last day of the same month</span>

                                            </label>
                                            <label class="custom-control custom-radio mb-4 d-flex align-items-center">
                                                <input type="radio" class="custom-control-input" name="section2-radios" value="option2">
                                                <span class="custom-control-label fs-16">Day <input type="number" placeholder="1" class="form-control w-20 w-sm-10 d-inline-block"> the following month</span>

                                            </label>

                                        </div>
                                    </div>
                                    <p class="fs-17  mb-1 text-dark font-weight-semibold">
                                        Note: <span class="font-weight-normal">
                                            When payday falls on a non-working day or
                                            a holiday, employees will get paid on a the previous day
                                        </span>
                                    </p>
                                </div>

                                <div class="mt-5 mb-6  pay-routine-module" id="once-month-module">
                                    <p class="fs-17  mb-1 text-dark font-weight-semibold">Pays on<span class="text-secondary">*</span></p>
                                    <div class="form-group">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control custom-radio mb-4 d-flex align-items-center">
                                                <input type="radio" class="custom-control-input" name="example-radios" value="option1" checked="">
                                                <span class="custom-control-label fs-16">The last working day of every month</span>
                                            </label>
                                            <label class="custom-control custom-radio mb-4 d-flex align-items-center">
                                                <input type="radio" class="custom-control-input" name="example-radios" value="option2">
                                                <span class="custom-control-label fs-16">Day <input type="number" placeholder="1" class="form-control w-20 w-sm-10 d-inline-block"> of every month</span>
                                            </label>
                                        </div>
                                    </div>

                                    <p class="fs-17  mb-1 text-dark font-weight-semibold">
                                        Note: <span class="font-weight-normal">
                                            When payday falls on a non-working day or
                                            a holiday, employees will get paid on a the previous day
                                        </span>
                                    </p>

                                </div>
                            </div>

                            <div class="card-footer px-0 d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="javascript:void(0);" class="btn btn-success">Save Changes</a>
                                    <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                                </div>
                                <div>
                                    <span class="text-danger">All fields are mandatory*</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="tab-2" role="tabpanel">
                    <div class="card">
                        <div class="card-header justify-content-between align-items-center border-0">
                            <h4 class="card-title">Component Settings</h4>
                            <a onclick="AddNewComponent()" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addComponent">Add New <i class="fe fe-plus-circle me-1"></i></a>

                        </div>
                        <div class="card-body pt-2">
                            <div class="modal fade" id="addComponent">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add Component</h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" id="ComponentId" />
                                            <div class="leave-types">
                                                <div class="form-group">
                                                    <label class="form-label">Title</label>
                                                    <input class="form-control" id="ComponentTitle" type="text" placeholder="Title here">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Group</label>
                                                    <select id="ComponentGroupId" class="form-control select2 custom-select select2-hidden-accessible" tabindex="-1" aria-hidden="true" asp-items="@(new SelectList(ViewBag.ListComponentGroup ,"ComponentGroupId" ,"Title"))">
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label">Category</label>
                                                    <select id="Category" class="form-control select2 custom-select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                        <option label="Choose one">
                                                        </option>
                                                        <option value="Deduction">Deduction</option>
                                                        <option value="Earning">Earning</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch form-switch mb-0">
                                                        <input type="checkbox" id="Type" name="custom-switch-radio" class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                        <span class="custom-switch-description fs-16 me-3 text-dark">Part of Salary Breakup</span>
                                                    </label>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="custom-switch form-switch mb-0">
                                                        <input type="checkbox" id="Status" name="custom-switch-radio" class="custom-switch-input">
                                                        <span class="custom-switch-indicator"></span>
                                                        <span class="custom-switch-description fs-16 me-3 text-dark">Status</span>
                                                    </label>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="ms-auto">
                                                <a onclick="saveComponent()" class="btn btn-success">Save</a>
                                                <a href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class=" tab-menu-heading p-0">
                                    <div class="tabs-menu1 ">
                                        <!-- Tabs -->
                                        <ul class="nav panel-tabs">
                                            <li class=""><a href="#earning-tab" class="active" data-bs-toggle="tab">Earning</a></li>
                                            <li><a href="#deduction-tab" data-bs-toggle="tab">Deduction</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body tabs-menu-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active " id="earning-tab">
                                            <div class="row row-sm">
                                                <div class="col-lg-12">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered text-nowrap border-bottom" id="earning-table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="wd-15p border-bottom-0">#</th>
                                                                    <th class="wd-20p border-bottom-0">Component</th>
                                                                    <th class="wd-15p border-bottom-0">Category</th>
                                                                    <th class="wd-15p border-bottom-0">Status</th>
                                                                    <th class="wd-15p border-bottom-0">Action</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    List<HRHUBAPI.Models.ComponentInfo> comlist = (List<HRHUBAPI.Models.ComponentInfo>)ViewBag.ListComponents;
                                                                    var list = (comlist.Where(x => x.Category == "Earning" && x.Type == "Fixed")).OrderByDescending(x => x.ComponentId).ToList();

                                                                    var i = 1;
                                                                    foreach (var item in list)
                                                                    {
                                                                                        <tr>
                                                                                            <td>@i</td>
                                                                                            <td>@item.Title</td>
                                                                                            <td>@item.GroupTitle</td>
                                                                                            <td>

                                                                                                <label class="custom-switch form-switch mb-0">
                                                                                                    <input type="checkbox" name="custom-switch-radio" class="custom-switch-input" id="IsActive_@item.ComponentId" onchange="setpolicyvalue(this.id)" @(item.Status == true? "checked" : "")>
                                                                                                    <span class="custom-switch-indicator"></span>
                                                                                                </label>

                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="d-flex">
                                                                                                    <a onclick="editrecord(@item.ComponentId)" class="action-btns1 btn-xs" data-bs-placement="top" data-bs-toggle="tooltip" title="Edit">
                                                                                                        <i class="feather feather-edit primary text-primary mt-1 "></i>
                                                                                                    </a>
                                                                                                    <a onclick="confirmation(@item.ComponentId,this)" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Delete" aria-label="Delete">
                                                                                                        <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                        i++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane " id="deduction-tab">
                                            <div class="row row-sm">
                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table id="deduction-table" class="table table-bordered text-nowrap border-bottom">
                                                            <thead>
                                                                <tr>
                                                                    <th class="border-bottom-0">#</th>
                                                                    <th class="border-bottom-0">Component </th>
                                                                    <th class="border-bottom-0">Category</th>
                                                                    <th class="border-bottom-0">Status</th>
                                                                    <th class="wd-15p border-bottom-0">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    List<HRHUBAPI.Models.ComponentInfo> componentslist = (List<HRHUBAPI.Models.ComponentInfo>)ViewBag.ListComponents;
                                                                    var listt = (componentslist.Where(x => x.Category == "Deduction" && x.Type == "Fixed" && x.IsBenefit == false)).OrderByDescending(x => x.ComponentId).ToList();

                                                                    var ii = 1;
                                                                    foreach (var item in listt)
                                                                    {
                                                                                        <tr>
                                                                                            <td>@ii</td>
                                                                                            <td>@item.Title</td>
                                                                                            <td>@item.GroupTitle</td>
                                                                                            <td>
                                                                                                <label class="custom-switch form-switch mb-0">
                                                                                                    <input type="checkbox" name="custom-switch-radio" class="custom-switch-input" id="IsActive_@item.ComponentId" onchange="setpolicyvalue(this.id)" @(item.Status == true? "checked" : "")>
                                                                                                    <span class="custom-switch-indicator"></span>
                                                                                                </label>
                                                                                            </td>
                                                                                            <td>
                                                                                                <div class="d-flex">
                                                                                                    <a onclick="editrecord(@item.ComponentId)" class="action-btns1 btn-xs" data-bs-placement="top" data-bs-toggle="tooltip" title="Edit">
                                                                                                        <i class="feather feather-edit primary text-primary mt-1 "></i>
                                                                                                    </a>
                                                                                                    <a onclick="confirmation(@item.ComponentId,this)" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Delete" aria-label="Delete">
                                                                                                        <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                        ii++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0);" class="btn btn-success">Save Changes</a>
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                    <div class="card">
                        <div class="card-header justify-content-between align-items-center border-0">
                            <h4 class="card-title">Policy Settings</h4>
                            <a href="javascript:void(0);" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addPolicy">Add New <i class="fe fe-plus-circle me-1"></i></a>

                        </div>

                        <div class="card-body pt-2">
                            <div class="modal fade" id="addPolicy">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add Policy</h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="policy-types">

                                                <div class="form-group px-0 border-0 w-30 mb-2">
                                                    <label class="form-label">Policy</label>
                                                    <select id="policy-types" class="form-control select2 custom-select select2-hidden-accessible" tabindex="-1" aria-hidden="true" asp-items="@(new SelectList(ViewBag.PayrollPolicy ,"PolicyId" ,"Title"))">
                                                    </select>


                                                    @*<select class="form-control select2 custom-select select2-hidden-accessible" id="policy-types" tabindex="-1" aria-hidden="true" data-placeholder="Choose one">
                                                    <option>	Choose one</option>
                                                    @foreach (var item in ViewBag.ListPolicy)
                                                    {
                                                    <option value="@item.PolicyId">@item.Title</option>
                                                    }
                                                    </select>*@
                                                </div>

                                                <div class="policy-module" id="overtime-policy-module">
                                                    <div class="mb-2">
                                                        <p class="w-100 ps-2 fs-14 policy-description"></p>
                                                    </div>

                                                    <div class="form-control px-0 border-0 w-30 mb-2">
                                                        <label class="form-label">Title</label>
                                                        <input class="form-control" id="Title" type="text" placeholder="Policy Title" />
                                                    </div>

                                                    <div hidden class="mb-5" id="div_TaxSlabSetting">
                                                        <label class="custom-switch form-switch mb-0">
                                                            <input type="checkbox" id="IsIncomeTaxApplicable" name="custom-switch-radio" class="custom-switch-input switch-unchecked">
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description fs-15 me-3 text-dark">Is Income Tax Applicable</span>
                                                            <a href="#">
                                                                <i class="fa fa-info text-info"></i>

                                                            </a>
                                                        </label>
                                                        <div hidden id="div_TaxSlabTable">
                                                            <input type="hidden" id="SlabId" />
                                                            <div class="row mt-3">

                                                                <div class="col-md-12 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label class="form-label">Title</label>
                                                                        <input class="form-control" id="SlabTitle" type="text" placeholder="Title" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label class="form-label">Min Income</label>
                                                                        <input class="form-control" id="MinIncome" type="number" placeholder="Min Income" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label class="form-label">Max Income</label>
                                                                        <input class="form-control" id="MaxIncome" type="number" placeholder="Max Income" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label class="form-label">Tax %</label>
                                                                        <input class="form-control" id="TaxRatePercentage" type="number" placeholder="%" />
                                                                    </div>
                                                                </div>
                                                               <div class="col-md-12 col-lg-2 mt-5">
                                                                    <div class="ms-auto">
                                                                    <button type="button" id="btn_Add" onclick="AddRow()" class="btn btn-success">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           @* <div class="row text-end">

                                                                 <div class="ms-auto">
                                                                    <a href="javascript:void(0);" class="btn btn-success">Add</a>
                                                                    <a href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Refresh</a>
                                                                </div>

                                                            </div>*@
                                                            <div class="table-responsive mt-5">
                                                                <table id="tax-table" class="table table-bordered text-nowrap border-bottom">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="border-bottom-0">#</th>
                                                                            <th class="border-bottom-0">Title</th>
                                                                            <th class="border-bottom-0">Min Income</th>
                                                                            <th class="border-bottom-0">Max Income</th>
                                                                            <th class="border-bottom-0">Tax Rate %</th>
                                                                            <th class="border-bottom-0">Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            int count = 1;
                                                                            foreach (var item in ViewBag.ListTaxSlab)
                                                                            {
                                                                                                <tr>
                                                                                                    <td>@count</td>
                                                                                                    <td>@item.Title</td>
                                                                                                    <td>@item.MinIncome
                                                                                                        @*<div class="form-group m-0">
                                                                                            <input class="form-control" id="MinIncome_@item.SlabId" onchange="setvalue(this.id,this)" value="@item.MinIncome" type="number" name="number">
                                                                                        </div>*@
                                                                                                    </td>
                                                                                                    <td>@item.MaxIncome
                                                                                                        @*<div class="form-group m-0">
                                                                                            <input class="form-control" id="MaxIncome_@item.SlabId" onchange="setvalue(this.id,this)" value="@item.MaxIncome" type="number" name="number">
                                                                                        </div>*@
                                                                                                    </td>
                                                                                                    <td>@item.TaxRatePercentage
                                                                                                        @*<div class="form-group m-0">
                                                                                            <input class="form-control" id="TaxRatePercentage_@item.SlabId" onchange="setvalue(this.id,this)" value="@item.TaxRatePercentage" type="number" name="number">
                                                                                        </div>*@
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <div class="d-flex">
                                                                                                            <a onclick="edittaxrecord(@item.SlabId,this)" class="action-btns1 btn-xs" data-bs-placement="top" data-bs-toggle="tooltip" title="Edit">
                                                                                                                <i class="feather feather-edit primary text-primary mt-1 "></i>
                                                                                                            </a>
                                                                                                            <a onclick="confirmationtax(@item.SlabId,this)" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Delete" aria-label="Delete">
                                                                                                                <i class="feather feather-trash-2 text-danger mt-1"></i>
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                count++;
                                                                            }
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        

                                                    </div>

                                                    @*<div class="mb-5">
                                                    <label class="custom-switch form-switch mb-0">
                                                    <input type="checkbox" name="custom-switch-radio" class="custom-switch-input switch-unchecked">
                                                    <span class="custom-switch-indicator"></span>
                                                    <span class="custom-switch-description fs-15 me-3 text-dark">Pay over Time</span>
                                                    <a href="#">
                                                    <i class="fa fa-info text-info"></i>

                                                    </a>
                                                    </label>
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="ms-auto">
                                                <a href="javascript:void(0);" class="btn btn-success">Save</a>
                                                <a href="javascript:void(0);" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table id="policy-table" class="table table-bordered text-nowrap border-bottom">
                                            <thead>
                                                <tr>
                                                    <th class="border-bottom-0">#</th>
                                                    <th class="border-bottom-0">Title</th>
                                                    <th class="border-bottom-0">Status</th>
                                                    <th class="border-bottom-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var countt = 1;
                                                    foreach (var item in ViewBag.ListPayrollPolicy)
                                                    {
                                                                        <tr>
                                                                            <td>@countt</td>
                                                                            <td>
                                                                                @item.Title
                                                                                <a href="javascript:void(0);" class="ms-3 border-0 action-btns1 sidebarmodal-collpase" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View">
                                                                                    <i class="fa fa-info text-info"></i>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <label class="custom-switch form-switch mb-0">
                                                                                    <input type="checkbox" name="custom-switch-radio" class="custom-switch-input" id="IsActive_@item.PolicyConfigurationId" onchange="setpolicyvalue(this.id)" @(item.Status == true? "checked" : "")>
                                                                                    <span class="custom-switch-indicator"></span>
                                                                                </label>
                                                                            </td>
                                                                            <td>

                                                                                <a class="action-btns1 btn-xs" onclick="editpolicyconfiguration(@item.PolicyConfigurationId)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Edit" aria-label="Edit">
                                                                                    <i class="feather feather-edit primary text-primary mt-1"></i>
                                                                                </a>
                                                                                <a href="#" class="child-center fs-18 btn btn-danger text-white"><i class="fa fa-trash"></i></a>
                                                                            </td>
                                                                        </tr>
                                                        countt++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="javascript:void(0);" class="btn btn-success">Save Changes</a>
                            <a href="javascript:void(0);" class="btn btn-danger">Cancel</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--View Cpmpany Modal -->
<div class="task-fade sidebar-modal">
    <div class="sidebar-dialog task-modal">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div>
                    <h4 class="mb-0 mt-4">Policy Details</h4>
                </div>
                <div class="ms-auto mt-3">
                    <a href="javascript:void(0);" class="action-btns dismiss">
                        <i class="feather feather-x"></i>
                    </a>
                </div>
            </div>
            <div class="row no-gutters border-bottom">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h3>Policy Description</h3>
                                    <p>
                                        Handling allowed leaves can vary based on organizational policies and regional practices. There is no one-size-fits-all approach, and organizations have different methods for distributing and managing leaves. Here are two common approaches to leave distribution:

                                        Calendar Year Approach:
                                        In this approach, the leave entitlement is allocated based on the calendar year. Staff members receive their full leave entitlement at the beginning of the calendar year, and any unused leave typically does not carry over to the next year. For example, if an employee is entitled to 20 days of annual leave per year, they would receive the full 20 days at the beginning of the calendar year, and any unused days would be forfeited at the end of the year.

                                        Anniversary or Accrual Approach:
                                        In this approach, the leave entitlement is based on the employee's tenure with the organization. Leave accrues over time, usually on a monthly or quarterly basis, and staff members are eligible to use the accumulated leave after a certain period (e.g., after completion of the probation period). The leave entitlement typically increases with increasing tenure or as per the organization's policy. Unused leave may carry over to the next period, subject to certain limits or restrictions.

                                        When deciding on the approach for leave distribution, consider factors such as organizational culture, employee expectations, legal requirements, and industry norms. It is important to establish clear policies regarding leave entitlement, carry-over limits, utilization rules, and any other relevant guidelines. This ensures transparency and consistency in leave management.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- View Company Modal  -->



<script src="~/assets/plugins/jquery/jquery.min.js"></script>
@section scripts{

    <script>



        // Sidebar
        $(document).ready(function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#policy-table').DataTable();
            $('#earning-table').DataTable();
            $('#deduction-table').DataTable();
            $('#tax-table').DataTable();

            $("#ComponentGroupId").select2({ placeholder: "Select Component Group", width: '100%', allowClear: true }).val('').trigger('change');
            $('#Category').select2({ placeholder: 'Select Category', width: '100%', allowClear: true }).val('').trigger('change');
            $("#policy-types").select2({ placeholder: "Choose Policy", width: '100%', allowClear: true }).val('').trigger('change');





            //$('.custom-switch-input').prop('checked', true);

            $('.switch-unchecked').prop('checked', false);
            $('.dismiss').on('click', function () {
                $('.sidebar-modal').removeClass('active');
                $('body').removeClass('overlay-open');
            });
            $('.sidebarmodal-collpase').on('click', function () {
                $('.sidebar-modal').addClass('active');
                $('body').addClass('overlay-open');
            });
            $('body').append('<div class="overlay"></div>');
            $('.overlay').on('click touchstart', function () {
                $('body').removeClass('overlay-open');
                $('.sidebar-modal').removeClass('active');
            });
        });

        var calendarWidgets = $('.calendar-widget');
        var weekWidget = $('#week-widget');
        var otherWeekWidget = $('#other-week-widget');
        var twiceMonthWidget = $('#twice-month-widget');
        var onceMonthWidget = $('#once-month-widget');

        var weekModule = $('#week-module');
        var otherWeekModule = $('#other-week-module');
        var twiceMonthModule = $('#twice-month-module');
        var onceMonthModule = $('#once-month-module');
        var payRoutineModule = $('.pay-routine-module');
        var payRoutineModuleActice = $('.pay-routine-module.active');

        calendarWidgets.click(function (event) {
            event.stopPropagation();
            calendarWidgets.removeClass('border-style');
            weekWidget.removeClass('active');
            $(this).addClass('border-style');
        });

        //$(document).click(function () {
        //	calendarWidgets.removeClass('border-style');
        //	weekWidget.addClass('active');

        //});

        otherWeekWidget.click(function () {
            payRoutineModule.hide();
            otherWeekModule.fadeIn(400);
        })

        twiceMonthWidget.click(function () {
            payRoutineModule.hide();
            twiceMonthModule.fadeIn(400);
        })

        onceMonthWidget.click(function () {

            payRoutineModule.hide();
            onceMonthModule.fadeIn(400);
        })

        weekWidget.click(function () {
            payRoutineModule.hide();
            weekModule.fadeIn(400);
        })

        var policyTypes = $('#policy-types');
        var policyDescription = $('.policy-description');
        //var leavePolicyModule = $('#leave-policy-module');
        var policyModule = $('.policy-module');
        //var TardinessPolicyModule1 = $('#tardiness-policy-module1');
        //var TardinessPolicyModule2 = $('#tardiness-policy-module2');
        var overTimePolicyModule = $('#overtime-policy-module');
        policyTypes.on('change', function () {
            var selectedPolicy = policyTypes.val();

            if (selectedPolicy == '1') {

                policyModule.hide();
                overTimePolicyModule.fadeIn(400);
                policyDescription.text("Hi I am working hours and overtime policy. kindly read carefully about me so that you could know about the rules and regulations");
            }

            //else if (selectedPolicy == '2') {
            //	policyModule.hide();
            //	TardinessPolicyModule1.fadeIn(400);
            //	policyDescription.text("Hi I am tardiness policy kindly read carefully about me so that you could know about the rules and regulations");
            //}

            //else if(selectedPolicy == '3'){
            //	policyModule.hide();
            //	overTimePolicyModule.fadeIn(400);
            //	policyDescription.text("Hi I am over time policy kindly read carefully about me so that you could know about the rules and regulations");

            //}
            //else if(selectedPolicy == '4'){
            //	policyModule.hide();
            //	TardinessPolicyModule2.fadeIn(400);
            //	policyDescription.text("Hi I am tardniess consequences & accumulated policy  kindly read carefully about me so that you could know about the rules and regulations");

            //}

        })

        function AddRow(){
            var slabid = $("#SlabId").val();
            var slabtitle = $("#SlabTitle").val();
            var maxincome = $("#MaxIncome").val();
            var minincome= $("#MinIncome").val();
            var taxratepercentage= $("#TaxRatePercentage").val();

            var lastRow = $('#tax-table tr:last');
             var srno = parseInt(lastRow.find('td:nth-child(1)').text()) + 1;

            // Create a new row with the input values
            var newRow = $('<tr stabid="' + slabid + '">');
            newRow.append('<td>' + srno + '</td>');
            newRow.append('<td>' + slabtitle + '</td>');
            newRow.append('<td>' + minincome + '</td>');
            newRow.append('<td>' + maxincome + '</td>');
            newRow.append('<td>' + taxratepercentage + '</td>');

            var btn = '<td> <div class="d-flex"> <a onclick="editrecord(' +slabid+',this)" class="action-btns1 btn-xs" data-bs-placement="top" data-bs-toggle="tooltip" title="Edit">  <i class="feather feather-edit primary text-primary mt-1 "> </i> </a>';
            btn+= '<a onclick="confirmation(' +slabid+',this)" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Delete" aria-label="Delete"> <i class="feather feather-trash-2 text-danger mt-1"> </i> </a> </div>  </td></tr>';

            newRow.append(btn);
            //newRow.append('<td> <div class="d-flex"> <a onclick="editrecord(' +slabid+')" class="action-btns1 btn-xs" data-bs-placement="top" data-bs-toggle="tooltip" title="Edit">  <i class="feather feather-edit primary text-primary mt-1 "> </i> </a>');
            //newRow.append('<a onclick="confirmation(' +slabid+',this)" class="action-btns1 btn-xs" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" data-bs-original-title="Delete" aria-label="Delete"> <i class="feather feather-trash-2 text-danger mt-1"> </i> </a> </div>  </td></tr>');

            // Append the new row to the table
            $('#tax-table').append(newRow);

            ClearControl();

        }

        function edittaxrecord(slabid,control){
            var currentrow = $(control).closest('tr');
            var slabid = $(control).closest('tr').attr('stabid').val();
            var title = currentrow.find('td:nth-child(2)').text();
            var maxincome = currentrow.find('td:nth-child(3)').text();
            var minincome = currentrow.find('td:nth-child(4)').text();
            var taxratepercentage = currentrow.find('td:nth-child(5)').text();

            //currentrow.remove();
        }

        function ClearControl(){
            var slabid = $("#SlabId").val(0);
            var slabtitle = $("#SlabTitle").val('');
            var maxincome = $("#MaxIncome").val(0);
            var minincome= $("#MinIncome").val(0);
            var taxratepercentage= $("#TaxRatePercentage").val(0);
        }

        $('#policy-types').on('change', function () {
            var selectedPolicy = policyTypes.val();
            debugger;

            if (selectedPolicy > 0) {
                var Data = { Id: selectedPolicy }
                $.ajax({
                    url: "/Setting/GetPolicyDescription",
                    method: 'GET',
                    data: Data,
                    success: function (response) {
                        if (response != null) {
                            if (selectedPolicy == '14') { // Tardiness Policy
                                $('#div_TaxSlabSetting').prop('hidden', false)
                                $('#IsIncomeTaxApplicable').prop('checked', false);
                            }

                            $('.policy-description').text(response.description);
                        }
                    },
                    error: function () {
                        // Handle error if the AJAX request fails
                        console.log('Failed to fetch data from the database.');
                    }
                });
            }

        })
        $('#IsIncomeTaxApplicable').on('change', function () {
            debugger;
            var checked = $(this).is(":checked");
            if (checked) {
                $('#div_TaxSlabTable').prop('hidden', false)
            }
            else {
                $('#div_TaxSlabTable').prop('hidden', true)
            }
        })

        /// Add or Edit payroll Policy

        function savePolicyConfiguration() {
            debugger;
            var status = true;
            debugger;
            if ($("#Title").val() == "") {
                $.growl.warning({
                    message: "Please Enter Title"
                });
                $("#Title").css("border-color", "red");
                status = false;
                return false;
            }
            else if ($("#policy-types").val() == "") {
                $.growl.warning({
                    message: "Please Select Policy"
                });
                $("#policy-types").css("border-color", "red");
                status = false;
                return false;
            }
            else {
                $("#Title").css("border-color", "#ddd");
                $("#policy-types").css("border-color", "#ddd");
            }
            var Data = {
                id: $("#PolicyConfigurationId").val(),
                title: $('#Title').val(),
                policyId: $("#policy-types").val(),
                halfleave: $("#HalfLeave").is(':checked'),
                quarterleave: $("#QuarterLeave").is(':checked')

            }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Setting/PolicyConfigurationAlreadyExists",
                type: "GET",
                data: {
                    id: $("#PolicyConfigurationId").val(),
                    policyId: $("#policy-types").val()
                },
                success: function (data) {
                    if (data != "") {
                        debugger
                        //var b = JSON.parse(data)
                        if (data.success) {

                            // $.growl.warning(data.message);
                            $.growl.warning({
                                message: data.message
                            });
                            status = false;
                        }
                        else {
                            $("#addPolicy").modal('hide');
                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            if (status) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            async: false,
                            url: "/Setting/LeavePolicyCreateOrUpdate",
                            type: "Post",
                            data: Data,
                            success: function (data) {
                                if (data != "") {
                                    debugger
                                    //var b = JSON.parse(data)
                                    if (data.success) {

                                        //notif({
                                        //    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> " +data.message,
                                        //    type: "success"
                                        //});
                                        status = false;

                                        refreshpolicyTable();

                                    }
                                    else {
                                        $("#addPolicy").modal('hide');
                                    }
                                }
                            },
                            error: function () {
                                status = false;
                                //   toastr.error("Please Fill Required Field");
                            }
                        })




                        //$("#myform").submit();
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });


            }


        }



        /// End of Add or Edit payroll Policy


        /// Add or Edit Component
        function saveComponent() {
            debugger;
            var status = true;
            debugger;
            if ($("#ComponentTitle").val() == "") {
                $.growl.warning({
                    message: "Please Enter Title"
                });
                $("#ComponentTitle").css("border-color", "red");
                status = false;
                return false;
            }
            else if ($("#Category").val() == "") {
                $.growl.warning({
                    message: "Please Select Category"
                });
                $("#Category").css("border-color", "red");
                status = false;
                return false;
            }
            else {
                $("#ComponentTitle").css("border-color", "#ddd");
                $("#Category").css("border-color", "#ddd");
            }
            var Data = {
                ComponentId: $("#ComponentId").val(),
                Title: $('#ComponentTitle').val(),
                Category: $("#Category").val(),
                ComponentGroupId: $("#ComponentGroupId").val(),
                Type: $("#Type").is(':checked') ? "Fixed" : "Variable",
                Status: $("#Status").is(':checked')

            }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/StaffBenefit/BenefitInfoAlreadyExists",
                type: "GET",
                data: {
                    Id: $("#ComponentId").val(),
                    Title: $('#ComponentTitle').val() == '' ? '""' : $('#ComponentTitle').val()
                },
                success: function (data) {
                    if (data != "") {
                        debugger
                        //var b = JSON.parse(data)
                        if (data.success) {

                            // $.growl.warning(data.message);
                            $.growl.warning({
                                message: data.message
                            });
                            status = false;
                        }
                        else {
                            $("#addComponent").modal('hide');
                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            if (status) {
                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            async: false,
                            url: "/Setting/PostComponent",
                            type: "Post",
                            data: Data,
                            success: function (data) {
                                if (data != "") {
                                    debugger
                                    //var b = JSON.parse(data)
                                    if (data.success) {

                                        //notif({
                                        //    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> " +data.message,
                                        //    type: "success"
                                        //});
                                        status = false;

                                        //var earntable = $('#earning-table').DataTable();
                                        //var deductable = $('#deduction-table').DataTable();

                                        ////earntable.ajax.reload(null, false);
                                        ////deductable.ajax.reload(null, false);

                                        //// Destroy the DataTable
                                        //earntable.destroy();

                                        //// Reinitialize the DataTable
                                        //$('#earning-table').DataTable();

                                        //// Destroy the DataTable
                                        //deductable.destroy();

                                        //// Reinitialize the DataTable
                                        //$('#deduction-table').DataTable();

                                        ////dataTable.ajax.reload(null, false);

                                        refreshComponentTable();

                                    }
                                    else {
                                        $("#addComponent").modal('hide');
                                    }
                                }
                            },
                            error: function () {
                                status = false;
                                //   toastr.error("Please Fill Required Field");
                            }
                        })




                        //$("#myform").submit();
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });


            }


        }

        function editrecord(id) {
            debugger;
            AddNewComponent();
            var Data = { Id: id }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Setting/GetComponentById",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger

                        $("#ComponentId").val(data.componentId);
                        $("#ComponentTitle").val(data.title);

                        $("#Type").prop('checked', data.type)
                        $("#Status").prop('checked', data.status)

                        $("#ComponentGroupId").val(data.componentGroupId).trigger('change');
                        $('#Category').val(data.category).trigger('change');

                        $("#addComponent").modal('show');

                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })


        }

        function confirmation(id, control) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    var Data = { id: id }
                    $.ajax({
                        url: "/Setting/ComponentDelete",
                        method: 'GET',
                        data: Data,
                        success: function (response) {
                            if (response.success) {

                                var currentrow = $(control).closest('tr');
                                currentrow.remove();

                                notif({
                                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                                    type: "success"
                                });

                                refreshComponentTable();
                            }


                        },
                        error: function () {
                            // Handle error if the AJAX request fails
                            console.log('Failed to fetch data from the database.');
                        }
                    });

                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });
        }



        function refreshComponentTable() {
            $.ajax({
                url: "/Setting/GetComponentByCompanyId",
                method: 'GET',
                success: function (response) {
                    if (response != null) {

                        var earningtable = $('#earning-table').DataTable();
                        earningtable.clear();
                        earningtable.draw();
                        var deductiontable = $('#deduction-table').DataTable();
                        deductiontable.clear();
                        deductiontable.draw();

                        console.log(response);
                        var earningaction = '';
                        var deductionaction = '';
                        for (var i = 0; i < response.length; i++) {
                            if (response[i]["category"] == "Earning") {

                                earningaction += '<tr>'
                                earningaction += '<td>' + (i + 1) + '</td>'
                                earningaction += '<td>' + response[i]["title"] + '</td>'
                                earningaction += '<td>' + response[i]["groupTitle"] + '</td>'

                                var checkattr = '';
                                if (response[i]["status"] == true) {
                                    checkattr = 'checked';
                                }

                                earningaction += '<td><label class="custom-switch form-switch mb-0" >'
                                earningaction += '<input type="checkbox" name="custom-switch-radio" class="custom-switch-input" id = "IsActive_' + response[i]["componentId"] + '" onchange = "setvalue(this.id)" ' + checkattr + ' />'
                                earningaction += '<span class="custom-switch-indicator" > </span> </label> </td> '
                                earningaction += '<td><div class="d-flex" >'
                                earningaction += '<a class="action-btns1 btn-xs" onclick="editrecord(' + response[i]["componentId"] + ')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Edit" aria-label="Edit">'
                                earningaction += '<i class="feather feather-edit primary text-primary mt-1"></i></a>'
                                earningaction += '<a class="action-btns1 btn-xs" onclick="confirmation(' + response[i]["componentId"] + ',this)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Delete" aria-label="Delete">'
                                earningaction += '<i class="feather feather-trash-2 text-danger mt-1"></i></a> </div> </td> </tr>'

                            }
                            else if (response[i]["category"] == "Deduction") {

                                deductionaction += '<tr>'
                                deductionaction += '<td>' + (i + 1) + '</td>'
                                deductionaction += '<td>' + response[i]["title"] + '</td>'
                                deductionaction += '<td>' + response[i]["groupTitle"] + '</td>'

                                var checkattr = '';
                                if (response[i]["status"] == true) {
                                    checkattr = 'checked';
                                }

                                deductionaction += '<td><label class="custom-switch form-switch mb-0" >'
                                deductionaction += '<input type="checkbox" name="custom-switch-radio" class="custom-switch-input" id = "IsActive_' + response[i]["componentId"] + '" onchange = "setvalue(this.id)" ' + checkattr + ' />'
                                deductionaction += '<span class="custom-switch-indicator" > </span> </label> </td> '
                                deductionaction += '<td><div class="d-flex" >'
                                deductionaction += '<a class="action-btns1 btn-xs" onclick="editrecord(' + response[i]["componentId"] + ')" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Edit" aria-label="Edit">'
                                deductionaction += '<i class="feather feather-edit primary text-primary mt-1"></i></a>'
                                deductionaction += '<a class="action-btns1 btn-xs" onclick="confirmation(' + response[i]["componentId"] + ',this)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit" data-bs-original-title="Delete" aria-label="Delete">'
                                deductionaction += '<i class="feather feather-trash-2 text-danger mt-1"></i></a> </div> </td> </tr>'

                            }

                        }

                        earningtable.rows.add($(earningaction)).draw();
                        deductiontable.rows.add($(deductionaction)).draw();

                    }
                },
                error: function () {
                    // Handle error if the AJAX request fails
                    console.log('Failed to fetch data from the database.');
                }
            });


        }

        function setvalue(event, row) {
            debugger
            console.log(event)

            var datasplited = event.split('_');
            var control = datasplited[0];
            var id = datasplited[1];

            if ($("#" + control + "_" + id).is(':checked')) {
                $("#" + control + "_" + id).prop('checked', true);
            }
            else {
                $("#" + control + "_" + id).prop('checked', false);
            }

            var currentRow = $(row).closest('tr');
            var isactive = currentRow.find("#IsActive_" + id).is(':checked');
            var isnonpaid = currentRow.find("#IsNonPaid_" + id).is(':checked');
            var noOfLeaves = currentRow.find("#NoOfLeaves_" + id).val();


            // UPdate Status & IsNonpaid
            var Data = { id: id, status: isactive, nonpaid: isnonpaid, noofleaves: noOfLeaves }
            $.ajax({
                async: false,
                url: "/Configuration/UpdateLeaveTypeStatus",
                type: "POST",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        if (data.success) {

                            // no need to redirect becoz status updated in DB

                            //var url = '@Url.Action("LeaveTypeList", "Configuration",new { data = 2 })';
                            //window.location.href = url;

                        }
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })



        }
        /// End of Add or Edit Component



        function AddNewComponent() {
            debugger
            $("#addComponent").modal('show');
            $("#ComponentId").val(0)
            $("#ComponentTitle").val('')
            $("#ComponentGroupId").select2({ placeholder: "Select Component Group", width: '100%', allowClear: true }).val('').trigger('change');
            $('#Category').select2({ placeholder: 'Select Category', width: '100%', allowClear: true }).val('').trigger('change');

            $("#Type").prop('checked', true)
            $("#Status").prop('checked', true)
        }




    </script>
}

