@model HRHUBAPI.Models.StaffSalary

<div class="side-app main-container">

    <!-- List Row -->
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header  border-0">
                    <h4 class="card-title">Employee Payroll History</h4>
                    <div class="page-rightheader ms-md-auto">
                        <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                            <div class="btn-list">
                                @if (Convert.ToBoolean(ViewBag.IsNew))
                                {
                                    <a asp-action="GetStaffCreateOrUpdate" asp-controller"Staff" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Add New Employee</a>
                                }
                                <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                                <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                                <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-table">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0 w-5">Sr.#</th>
                                    <th class="border-bottom-0">Month - Year</th>
                                    <th class="border-bottom-0">Earning</th>
                                    <th class="border-bottom-0">Deduction</th>
                                    <th class="border-bottom-0">Amount</th>
                                    <th class="border-bottom-0">Status</th>
                                </tr>
                            </thead>
                            <tbody id="TblBodySalary">
                                @{
                                    if (Model.StaffSalaryList != null && Model.StaffSalaryList.Count() > 0)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.StaffSalaryList)
                                        {
                                            <tr id=@i>
                                                <td> @item.SNO </td>
                                                <td> @string.Concat(@item.MonthName, " - ", @item.Year) </td>
                                                <td> @item.OV_EarningAmount?.ToString("N2") </td>
                                                <td> @item.OV_DeductionAmount?.ToString("N2") </td>
                                                <td> @item.OV_PayableAmount?.ToString("N2") </td>
                                                <td> <span class="badge badge-@item.SalaryStatusCssClass-light">@item.SalaryStatusTitle</span></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End List Row-->

</div><!-- end app-content-->

@section scripts{
    <script>


		
    </script>
}