@model HRHUBAPI.Models.StaffSalary

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

<!--Add View Salary Modal -->
<div class="modal fade" id="viewsalarymodal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Salary Slip</h5>
				<button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div id="printIT">
				<div class="modal-header">
					<div class="d-flex">
						<img id="imgLogo" src="../assets/images/brand/logo.png" class="avatar avatar-md brround me-3"> Top Edge Technologies
					</div>
					<div class="ms-auto">
						<div class="font-weight-bold text-md-right mt-3">Date: 01-02-2021</div>
					</div>
				</div>
				<div class="modal-body pt-1">
					<div class="table-responsive mt-3 mb-3">
						<table class="table mb-0 modal-paytable">
							<tbody>
								<tr>
									<td>
										<strong>RegistrationNo:</strong>
										<span id="lbl_regNo">2987</span>
									</td>
									<td class="text-end">
										<strong>Name:</strong>
										<span id="lbl_firstName">Faith Harris</span>
									</td>
								</tr>
								<tr>
									<td>
										<strong>Department:</strong>
										<span id="lbl_Department">USA</span>
									</td>
									<td class="text-end">
										<strong>Salary Period:</strong>
										<span id="lbl_SalaryPeriod">January-2021</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="row">
						<div class="col-md-6">
							<table class="table table-bordered text-nowrap mb-0">
								<thead>
									<tr>
										<th class="fs-18" rowspan="1" colspan="2">Earnings</th>
									</tr>
									<tr>
										<th>Pay Type</th>
										<th class="border-start">Amount</th>
									</tr>
								</thead>
								<tbody id="tBodyEarning">

								</tbody>
								<tfoot>
									<tr class="border-top">
										<td class="font-weight-semibold">Total Earnings</td>
										<td id="lbl_earnings" class="font-weight-semibold border-start">$32,000</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table table-bordered text-nowrap mb-0 border-1">
								<thead>
									<tr>
										<th class="fs-18" rowspan="1" colspan="2">Deduction</th>
									</tr>
									<tr>
										<th>Pay Type</th>
										<th class="border-start">Amount</th>
									</tr>
								</thead>
								<tbody id="tBodyDeduction">
								
								</tbody>
								<tfoot>
									<tr class="border-top">
										<td class="font-weight-semibold">Total Deduction</td>
										<td id="lbl_deductions" class="font-weight-semibold border-start">$32,000</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="mt-4 mb-3">
						<table class="table mb-0">
							<tbody>
								<tr>
									<td class="font-weight-semibold w-20 fs-18 pb-0 pt-0">Net Salary</td>
									<td class="pb-0 pt-0">
										<h4 id="lbl_netSalary" class="font-weight-semibold mb-0 fs-24">$32,000</h4>
									</td>
								</tr>
								<tr>
									<td class="font-weight-semibold w-20 pb-0 pt-1 text-muted">InWords</td>
									<td class="pb-0 pt-1">
										<h5 id="lbl_netSalaryInWords" class="mb-0  text-muted">Thirty-Two Thousand only</h5>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="p-5 border-top text-center">
					<div class="text-center">
						<h6 id="lbl_CompanyName" class="mb-2">Top Edge Technologies Pvt Ltd.</h6>
						<p id="lbl_CompanyAddress" class="mb-1 fs-12">Royal Orchard, Business Plaza Basement, Multan, South Punjab Pakistan</p>
						<div>
							<small id="lbl_CompanyPhone">Tel No: 99488 67536,</small>
							<small id="lbl_CompanyEmail">Email: info@topedgetechnologies.com</small>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="ms-auto">
					@*<a href="javascript:void(0);" class="btn btn-info" onclick="javascript:window.print();"><i class="si si-printer"></i> Print</a>*@
					<button onclick="printPdf()" class="btn btn-info">
						<i class="si si-printer"></i> Print
					</button>
					<button onclick="saveDivAsPdf()" class="btn btn-success">
						<i class="feather feather-download"></i> Download
					</button>
					<a href="javascript:void(0);" class="btn btn-primary"><i class="si si-paper-plane"></i> Send</a>
					<a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal"><i class="feather feather-x"></i> Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End View Salary Modal  -->

<!--Add View Staff Salary History Modal -->
<div class="modal fade" id="viewstaffsalaryhistorymodal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Salary Slip History</h5>
				<button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-header">
				<div class="d-flex">
					<img id="imgLogo_history" src="../assets/images/brand/logo.png" class="avatar avatar-md brround me-3"> Top Edge Technologies
                </div>
				<div class="ms-auto">
					<div class="font-weight-bold text-md-right mt-3">Date: 01-02-2021</div>
				</div>
			</div>
			<div class="modal-body pt-1">
				<div class="table-responsive mt-3 mb-3">
					<table class="table mb-0 modal-paytable">
						<tbody>
							<tr>
								<td>
									<strong>RegistrationNo:</strong>
									<span id="lbl_regNo_history">2987</span>
								</td>
								<td class="text-end">
									<strong>Name:</strong>
									<span id="lbl_firstName_history">Faith Harris</span>
								</td>
							</tr>
							<tr>
								<td>
									<strong>Department:</strong>
									<span id="lbl_Department_history">USA</span>
								</td>
								<td class="text-end">
									<strong>Salary Period:</strong>
									<span id="lbl_SalaryPeriod_history">January-2021</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered text-nowrap mb-0">
							<thead>
								<tr>
									<th class="fs-18" rowspan="1" colspan="2">Earnings</th>
								</tr>
								<tr>
									<th>Sr.</th>
									<th class="border-start">Month-Year</th>
									<th class="border-start">Earning</th>
									<th class="border-start">Deduction</th>
									<th class="border-start">Net Salary</th>
									<th class="border-start">Status</th>
								</tr>
							</thead>
							<tbody id="tBodySalaryHistory">

							</tbody>
							<tfoot>
								<tr class="border-top">
									<td class="font-weight-semibold">Total</td>
									<td class="font-weight-semibold"></td>
									<td id="lbl_earningsHistory" class="font-weight-semibold border-start">$32,000</td>
									<td id="lbl_deductionsHistory" class="font-weight-semibold border-start">$32,000</td>
									<td id="lbl_netSalaryHistory" class="font-weight-semibold border-start">$32,000</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
				@*<div class="mt-4 mb-3">
					<table class="table mb-0">
						<tbody>
							<tr>
								<td class="font-weight-semibold w-20 fs-18 pb-0 pt-0">Net Salary</td>
								<td class="pb-0 pt-0">
									<h4 id="lbl_netSalary" class="font-weight-semibold mb-0 fs-24">$32,000</h4>
								</td>
							</tr>
							<tr>
								<td class="font-weight-semibold w-20 pb-0 pt-1 text-muted">InWords</td>
								<td class="pb-0 pt-1">
									<h5 id="lbl_netSalaryInWords" class="mb-0  text-muted">Thirty-Two Thousand only</h5>
								</td>
							</tr>
						</tbody>
					</table>
				</div>*@
			</div>
			<div class="p-5 border-top text-center">
				<div class="text-center">
					<h6 id="lbl_CompanyName_history" class="mb-2">Top Edge Technologies Pvt Ltd.</h6>
					<p id="lbl_CompanyAddress_history" class="mb-1 fs-12">Royal Orchard, Business Plaza Basement, Multan, South Punjab Pakistan</p>
					<div>
						<small id="lbl_CompanyPhone_history">Tel No: 199488 67536,</small>
						<small id="lbl_CompanyEmail_history">Email: info@topedgetechnologies.com</small>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="ms-auto">
					<a href="javascript:void(0);" class="btn btn-info" onclick="javascript:window.print();"><i class="si si-printer"></i> Print</a>
					<a href="javascript:void(0);" class="btn btn-success"><i class="feather feather-download"></i> Download</a>
					<a href="javascript:void(0);" class="btn btn-primary"><i class="si si-paper-plane"></i> Send</a>
					<a href="javascript:void(0);" class="btn btn-danger" data-bs-dismiss="modal"><i class="feather feather-x"></i> Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End View Staff Salary History Modal  -->

<div class="side-app main-container">
	@{
		var dayMonth = "1";
		var strDateStart = $"{@Model.Year}/{dayMonth}/{dayMonth}";
		var strDateEnd = $"{@Model.Year}/{@Model.MonthNumber}/1";

		var year = @Model.Year ?? 0;
		DateTime date = new DateTime(@Model.Year.Value, @Model.MonthNumber.Value, 1);
		string monthName = date.ToString("MMMM");

	}
		<input type="hidden" id="salaryMonth" value=@Model.MonthNumber />
		<input type="hidden" id="salaryYear" value=@Model.Year />
		<input type="hidden" id="salaryMonthName" value=@monthName />
		<input type="hidden" id="startDate" value=@strDateStart />
		<input type="hidden" id="endDate" value=@strDateEnd />

	@*<input type="hidden" asp-for="SalaryMasterInserted" value="@Model.SalaryMasterInserted" />*@

		<!--Page header-->
		
		<!--End Page header-->
		<!-- Row -->
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								@{
									//var monthNumber = @Model.MonthNumber ?? 1; // Assuming 1 as the default month number
									//var year = @Model.Year ?? 0;
									//var monthName = new DateTime(year, monthNumber, 1).ToString("MMMM");
								var title = "Staff Salary " + monthName + "-" + year;
								}
							<div class="page-title">@title</div>
							</div>
							<div class="page-rightheader ms-md-auto">
								<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
									<div class="btn-list mt-3 mt-lg-0">
										@{
											if (@Model.SalaryMasterInserted == 0)
											{
												<input type="button" id="btn_PayAllSalaries" value="Pay all Salaries" class="btn btn-info me-3" />
											}
											else if (@Model.SalaryMasterInserted > 0)
											{
											<input type="button" id="btn_PayAllSalaries" value="Hold all Salaries" class="btn btn-danger me-3" />
											}
										}
										<button class="btn btn-secondary me-3" data-bs-toggle="modal" data-bs-target="#excelmodal">
											<i class="las la-file-excel"></i>  Download Monthly Excel Report
										</button>
										<button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
										<button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
										<button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table  card-table table-hover  table-vcenter table-sm text-nowrap" id="hr-payroll">
								<thead style="border-bottom: 1px solid #0000004a;">
									<tr>
										<th class="border-bottom-0 w-5">Sr.#</th>
										<th class="border-bottom-0">Name</th>
										<th class="border-bottom-0">Reg.#</th>
										<th class="border-bottom-0">Earning</th>
										<th class="border-bottom-0">Deduction</th>
										<th class="border-bottom-0">Payable</th>
										<th class="border-bottom-0">Status</th>
										<th class="border-bottom-0">Actions</th>
									</tr>
								</thead>
								<tbody>
								@{
									int a = 0;
									if (Model.StaffSalaryList != null && Model.StaffSalaryList.Count() > 0)
									{
										foreach (var item in Model.StaffSalaryList)
										{
											<tr id="row_@a">
												<td>@Html.DisplayFor(modelitem => item.SNO)</td>
												<td>
													<div class="d-flex">
														@{
															string snapPath = "";
															if (@item.SnapPath != null && @item.SnapPath != "")
															{
																snapPath = @item.SnapPath;
															}
															else
															{
																snapPath = "/Images/Avatar.png";
															}
														}
														<img id="viewUserImage" onclick="ViewSalaryCard(@item.StaffId)" class="avatar avatar-md brround me-3" src="@snapPath">

														<div class="me-3 mt-0 mt-sm-1 d-block">
															@{
																string fullName = item.FirstName + " " + item.LastName;
															}
															<h6 class="mb-1 fs-14">@fullName</h6>
															<p class="text-muted mb-0 fs-12">@Html.DisplayFor(modelitem => item.DepartmentTitle) | @Html.DisplayFor(modelitem => item.DesignationTitle)</p>
														</div>
													</div>
												</td>
												<td>@Html.DisplayFor(modelitem => item.RegistrationNo)</td>
												<td>@Convert.ToDecimal(item.OV_EarningAmount).ToString("N2")</td>
												<td>@Convert.ToDecimal(item.OV_DeductionAmount).ToString("N2")</td>
												<td class="font-weight-semibold">@Convert.ToDecimal(item.OV_PayableAmount).ToString("N2")</td>
												<td>
													@{
														string SalaryStatus = "";
														SalaryStatus = @item.SalaryStatusTitle;
														if (SalaryStatus == "")
                                                        {
															SalaryStatus = "Not Prepared";
															<span class="badge badge-orange">@SalaryStatus</span>
                                                        }
														else if (SalaryStatus == "Generated")
														{
															<span class="badge badge-success">@SalaryStatus</span>
														}
														else if (SalaryStatus == "Paid")
                                                        {
                                                            <span class="badge badge-info">@SalaryStatus</span>
                                                        }
														else if (SalaryStatus == "Hold")
                                                        {
                                                            <span class="badge badge-danger">@SalaryStatus</span>
                                                        }
                                                    }

													<!----- Action Buttons Code Start From Here------>
													<div class="float-end ms-auto">
														<div class="btn-group ms-3 mb-0">
															<a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
															<div class="dropdown-menu dropdown-menu-start" style="">
																<a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="info"><i class="fe fe-info me-2"></i> Info</a>
																<a onclick="ViewSalaryCard(@item.StaffId)" data-bs-toggle="tooltip" data-bs-placement="top" title="view" class="dropdown-item" href="javascript:void(0);">
																	<i class="feather feather-eye me-2"></i>View
																</a>
																<a onclick="ViewStaffSalaryHistoryCard(@item.StaffId)" data-bs-toggle="tooltip" data-bs-placement="top" title="History" class="dropdown-item" href="javascript:void(0);">
																	<i class="fa fa-history me-2"></i>See History
																</a>
																<a onclick="StaffSalaryEdit(@item.StaffId, @item.OV_PayableAmount)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="dropdown-item" href="javascript:void(0);">
																	<i class="feather feather-edit me-2"></i>Edit Salary
																</a>
															</div>
														</div>
													</div>
													<!----- Action Buttons Code Ends Here------>
												</td>
												<td class="text-start">
												<div class="d-flex align-items-center">
													<label class="custom-switch">
														@{
															if (SalaryStatus == "Paid")
															{
																<input type="checkbox" name="chk_IsPaid" id="chk_IsPaid" onchange="setUnpaid()" checked class="custom-switch-input">			
															}
															else
															{
																<input type="checkbox" name="chk_IsPaid" id="chk_IsPaid" onchange="setUnpaid()" class="custom-switch-input">
															}
														}
														<span class="custom-switch-indicator"></span>
														@*<span class="custom-switch-description">On/Off</span>*@
													</label>
												</div>
													@*
													<a href="javascript:void(0);" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="top" title="Download">
														<i class="feather feather-download  text-secondary"></i>
													</a>
													<a href="javascript:void(0);" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="top" title="Print" onclick="javascript:window.print();">
														<i class="feather feather-printer text-success"></i>
													</a>
													<a href="javascript:void(0);" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="top" title="Share">
														<i class="feather feather-share-2 text-warning"></i>
													</a>
													<a href="javascript:void(0);" class="action-btns" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
														<i class="feather feather-x text-danger"></i>
													</a>*@
												</td>
											</tr>
										}
									}
								}									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Row -->

	</div><!-- end app-content-->

@section scripts{

	<script>

		$(document).ready(function(){

			// Show notification
			var msg = '@ViewBag.Success';
			if (msg !== "" && msg == '1') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
					type: "success"
				});
			}
			if (msg !== "" && msg == '2') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
					type: "success"
				});
			}
			if (msg !== "" && msg == '3') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
					type: "success"
				});
			}
			if (msg !== "" && msg == '0') {
				notif({
					msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
					type: "error"
				});
			}

		});

		var dtStaffSalaryCardHtml;

		function ViewSalaryCard(staffId) {
			debugger
			var Data = { month: $('#salaryMonth').val(), year: $("#salaryYear").val(), staffId: staffId }
			//var Data = { month: monthNumber, year: year, staffId: staffId }
			console.log(Data)
			$.ajax({
				async: false,
				url: "/PayrollConfiguration/GetStaffSalaryById",
				type: "GET",
				data: Data,
				success: function (data) {
					if (data != "") 
					{
						console.log(data)
						debugger
						GetStaffSalaryByIdData(data)
						$("#viewsalarymodal").modal('show')
					}
				},
				error: function () {
					status = false;
					//   toastr.error("Please Fill Required Field");
				}
			})
		}

		function GetStaffSalaryByIdData(data) 
		{
			debugger
			var netSalary = 0.0
			var netSalaryInWords = ''
			var cardEarningHtml = ''
			var cardDeductionHtml = ''
			var totalEarningComponentAmount = 0.0
			var totalDeductionComponentAmount = 0.0
			
			/*
			//Apply filter to data array
			data = data.filter(function (item) {
				// Apply your filter condition here
				// For example, let's assume we want to include only components with amounts greater than 1000
				//return item.componentAmount > 1000;
				return item.category == "Deduction";
			});
			*/

			if (data.length > 0) 
			{
				$('#lbl_regNo').text(data[0].registrationNo)
				$('#lbl_firstName').text(data[0].firstName + ' ' + data[0].lastName)
				$('#lbl_Department').text(data[0].departmentTitle)
				$('#lbl_SalaryPeriod').text($('#salaryMonthName').val() + ' - ' + $('#salaryYear').val())

				if (data[0].companyLogoAttachment != null && data[0].companyLogoAttachment != '') 
				{
					$('#imgLogo').attr('src', data[0].companyLogoAttachment)
				}
				else 
				{
					$('#imgLogo').attr('src', '/Images/Avatar.png')
				}

				$('#lbl_CompanyName').text(data[0].companyName)
				$('#lbl_CompanyAddress').text(data[0].companyAddress)
				$('#lbl_CompanyPhone').text(data[0].companyPhone)
				$('#lbl_CompanyEmail').text(data[0].companyEmail)
			}

			var j = 0
			for (var i = 0; i < data.length; i++) 
			{
				debugger
				if (data[i].category == "Earning") 
				{
					cardEarningHtml += '<tr id="' + i + '">'
					cardEarningHtml += '<td> ' + data[i].componentTitle + ' </td>'
					cardEarningHtml += '<td class="border-start"> ' + data[i].componentAmount.toLocaleString() + ' </td>'
					cardEarningHtml += '</tr>'

					totalEarningComponentAmount += parseFloat(data[i].componentAmount)

					//cardDeductionHtml += '<td> ' + ' ' + ' </td>'
					//cardDeductionHtml += '<td> ' + ' ' + ' </td>'
				}
				
				else if (data[i].category == "Deduction") 
				{
					cardDeductionHtml += '<tr id="' + j + '">'
					cardDeductionHtml += '<td> ' + data[i].componentTitle + ' </td>'
					cardDeductionHtml += '<td class="border-start"> ' + data[i].componentAmount.toLocaleString() + ' </td>'
					cardDeductionHtml += '</tr>'

					totalDeductionComponentAmount += parseFloat(data[i].componentAmount)
					//cardEarningHtml += '<td> ' + ' ' + ' </td>'
					//cardEarningHtml += '<td> ' + ' ' + ' </td>'
					j++
				}
			}

			$("#tBodyEarning").html(cardEarningHtml)
			var lbl_earnings = document.getElementById("lbl_earnings")
			lbl_earnings.innerText = totalEarningComponentAmount.toLocaleString()

			$("#tBodyDeduction").html(cardDeductionHtml)
			var lbl_deductions = document.getElementById("lbl_deductions")
			lbl_deductions.innerText = totalDeductionComponentAmount.toLocaleString()

			netSalary = totalEarningComponentAmount - totalDeductionComponentAmount
			var lbl_netSalary = document.getElementById("lbl_netSalary")
			lbl_netSalary.innerText = netSalary.toLocaleString(undefined, { maximumFractionDigits: 0 });
			$('#lbl_netSalaryInWords').text(numberToWords(netSalary.toFixed(0)))
		}

		function ViewStaffSalaryHistoryCard(staffId) 
		{	
			debugger
			var Data = { dateFrom: $('#startDate').val(), dateTo: $("#endDate").val(), staffId: staffId }
			//var Data = { month: monthNumber, year: year, staffId: staffId }
			console.log(Data)
			$.ajax({
				async: false,
				url: "/PayrollConfiguration/GetStaffSalaryHistory",
				type: "GET",
				data: Data,
				success: function (data) {
					if (data != "") 
					{
						console.log(data)
						debugger
						GetStaffSalaryHistoryCard(data)
						$("#viewstaffsalaryhistorymodal").modal('show')
					}
				},
				error: function () {
					status = false;
					//   toastr.error("Please Fill Required Field");
				}
			})
		}

		function GetStaffSalaryHistoryCard(data) {
			debugger
			if (data.length > 0) {
				$('#lbl_regNo_history').text(data[0].registrationNo)
				$('#lbl_firstName_history').text(data[0].firstName + ' ' + data[0].lastName)
				$('#lbl_Department_history').text(data[0].departmentTitle)
				$('#lbl_SalaryPeriod_history').text(data[0].monthName + ' - ' + data[data.length - 1].monthName + ' (' + data[0].year + ')')

				if (data[0].companyLogoAttachment != null && data[0].companyLogoAttachment != '') 
				{
					$('#imgLogo_history').attr('src', data[0].companyLogoAttachment)
				}
				else 
				{
					$('#imgLogo_history').attr('src', '/Images/Avatar.png')
				}

				$('#lbl_CompanyName_history').text(data[0].companyName)
				$('#lbl_CompanyAddress_history').text(data[0].companyAddress)
				$('#lbl_CompanyPhone_history').text(data[0].companyPhone)
				$('#lbl_CompanyEmail_history').text(data[0].companyEmail)

				var cardHistoryHtml = ''
				var totalEarningAmount = 0.0
				var totalDeductionAmount = 0.0
				var totalNetAmount = 0.0

				for (var i = 0; i < data.length; i++) 
				{
					cardHistoryHtml += '<tr id="' + i + '">'
					cardHistoryHtml += '<td> ' + data[i].sno + ' </td>'
					cardHistoryHtml += '<td> ' + data[i].monthName + '-' + data[i].year + ' </td>'
					cardHistoryHtml += '<td> ' + data[i].oV_EarningAmount.toLocaleString() + ' </td>'
					cardHistoryHtml += '<td> ' + data[i].oV_DeductionAmount.toLocaleString() + ' </td>'
					cardHistoryHtml += '<td> ' + data[i].oV_PayableAmount.toLocaleString() + ' </td>'

					if (data[i].salaryStatusTitle == 'Generated') {
						cardHistoryHtml += '<td> <span class="badge badge-success-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
					}
					else if(data[i].salaryStatusTitle == 'Paid') {
						cardHistoryHtml += '<td> <span class="badge badge-info-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
					}
					else if (data[i].salaryStatusTitle == 'Hold') {
						cardHistoryHtml += '<td> <span class="badge badge-danger-light"> ' + data[i].salaryStatusTitle + ' </span></td>'
					}
					cardHistoryHtml += '</tr>'
					
					totalEarningAmount += parseFloat(data[i].oV_EarningAmount)
					totalDeductionAmount += parseFloat(data[i].oV_DeductionAmount)
					totalNetAmount += parseFloat(data[i].oV_PayableAmount)
				}
				debugger
				$("#tBodySalaryHistory").html(cardHistoryHtml)

				//var lbl_earnings = document.getElementById("lbl_earningsHistory")
				$('#lbl_earningsHistory').text(totalEarningAmount.toLocaleString())
				$('#lbl_deductionsHistory').text(totalDeductionAmount.toLocaleString())
				$('#lbl_netSalaryHistory').text(totalNetAmount.toLocaleString())

				//var lbl_deductions = document.getElementById("lbl_deductionsHistory")
				//lbl_deductionsHistory.innerText = totalEarningComponentAmount.toLocaleString()

				//var lbl_earnings = document.getElementById("lbl_earnings")
				//lbl_earningsHistory.innerText = totalEarningComponentAmount.toLocaleString()

				//netSalary = totalEarningComponentAmount - totalDeductionComponentAmount
				//var lbl_netSalary = document.getElementById("lbl_netSalary")
				//lbl_netSalary.innerText = netSalary.toLocaleString(undefined, { maximumFractionDigits: 0 });
				//$('#lbl_netSalaryInWords').text(numberToWords(netSalary.toFixed(0)))

			}
		}

		function setUnpaid()
		{
			debugger
			var ctr_IsPaid = document.getElementById("chk_IsPaid")

			if (ctr_IsPaid.checked) 
			{
				debugger
				console.log("checked")
			}
			else 
			{
				debugger
				console.log("un checked")
			}
			
		}

		$("#btn_PayAllSalaries").click(function () {
			debugger
			var buttonTitle = $("#btn_PayAllSalaries").val()
			var statusId = 0
			//var SalaryStatusId = (buttonTitle === "Pay all Salaries") ? 2 : 3;
			if(buttonTitle == "Pay all Salaries"){
				statusId = 2
			}
			else if (buttonTitle == "Hold all Salaries") {
				statusId = 3
			}

			var currentSalaryMonth = $("#endDate").val()
			var currentMonth = $("#salaryMonth").val();
			var currentYear = $("#salaryYear").val();

			if (currentMonth !== "" && currentYear !== "") {  
				const swalWithBootstrapButtons = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-success',
						cancelButton: 'btn btn-danger'
					},
					buttonsStyling: false
				});

				swalWithBootstrapButtons.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					cancelButtonText: 'No, cancel!',
					confirmButtonText: 'Yes, Save it!',
					timer: 30000,
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						debugger

						if (StaffSalary_BulkUpdate(currentSalaryMonth, statusId)) {
							debugger
							//alert("All Staff Salaries Paid!")
							// StaffSalaryList
							var url = "/PayrollConfiguration/StaffSalaryList?data=" + 2 + "&month=" + encodeURIComponent(currentMonth) + "&year=" + encodeURIComponent(currentYear);
							window.location.href = url;
						}
						else {
							$.growl.warning({
								message: "Record is not Updated, try again !"
							});
						}

					}
					else if (result.dismiss === Swal.DismissReason.cancel) {
						swalWithBootstrapButtons.fire(
							'Cancelled',
							'Your record is safe :)',
							'error'
						)
					}
				});
			}
			
		});

		function StaffSalary_BulkUpdate(currentSalaryMonth, statusId) {
			var status = false;
			debugger
			//var Data = { month: $('#salaryMonth').val(), year: $("#salaryYear").val(), staffId: staffId }
			var Data = { salaryMonth: currentSalaryMonth, salaryStatusId: statusId }
			console.log(Data)
			$.ajax({
				async: false,
				url: "/PayrollConfiguration/PutStaffSalaryMaster",
				type: "GET",
				data: Data,
				success: function (data) {
					if (data != "") {
						console.log(data)
						debugger
						status= data.success;
					}
				},
				error: function () 
				{
					status = false;
					//   toastr.error("Please Fill Required Field");
				}
			})
			return status;
		}

		function StaffSalaryEdit(staffId,amount) {
			var url = "/PayrollConfiguration/GetStaffSalaryCreateOrUpdate?month=" + encodeURIComponent($("#salaryMonth").val()) + "&year=" + encodeURIComponent($("#salaryYear").val()) + "&staffId=" + encodeURIComponent(staffId) + "&GrossAmount=" + encodeURIComponent(amount);
			window.location.href = url;
		}

		function saveDivAsPdf() {
		  // Get the div element to be saved as PDF
		  const element = document.getElementById("printIT");

		  // Create a new jsPDF instance
		  const pdf = new jsPDF();

		  // Convert the div element to canvas using html2canvas
		  html2canvas(element).then(function (canvas) {
			// Get the canvas image data as a base64-encoded PNG
			const imgData = canvas.toDataURL("image/png");

			// Add the canvas image to the PDF document
			pdf.addImage(imgData, "PNG", 0, 0);

			var reg = $("#lbl_regNo").text();
			var name = $('#lbl_firstName').text() + ' ' + $('#lbl_lastName').text();
			var datetime = new Date().toLocaleString();
			// Save the PDF document
			pdf.save(reg + '-' + name + '-' + datetime + ".pdf");

		  });
		  
		}

		function printPdf() {
			// Get the div element to be saved as PDF
			const element = document.getElementById("printIT");

			// Create a new jsPDF instance
			const pdf = new jsPDF();

			// Convert the div element to canvas using html2canvas
			html2canvas(element).then(function (canvas) {
				// Get the canvas image data as a base64-encoded PNG
				const imgData = canvas.toDataURL("image/png");

				// Add the canvas image to the PDF document
				pdf.addImage(imgData, "PNG", 0, 0);

				var reg = $("#lbl_regNo").text();
				var name = $('#lbl_firstName').text() + ' ' + $('#lbl_lastName').text();
				var datetime = new Date().toLocaleString();

				// Save the PDF document
				pdf.save(reg + '-' + name + '-' + datetime + ".pdf");

				// Provide a link or button for the user to download the PDF
				var downloadLink = document.createElement("a");
				downloadLink.href = pdf.output('bloburl');
				downloadLink.download = reg + '-' + name + '-' + datetime + ".pdf";
				downloadLink.click();
			});
		}





</script>

}