@model HRHUBAPI.Models.StaffReviewFormProcessed
@{
    ViewData["Title"] = "Staff Performance Details";
}

<!-- Row -->
<div class="row row-sm mt-4">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <input asp-for="ReviewedStaffId" type="hidden"/>               
                <h3 class="card-title">Staff Performance Answer</h3>
                @if (Convert.ToBoolean(ViewBag.IsNew))
                {
                    <div class="card-options">
                        <div class="btn-list">
                            @*<a onclick="AddNewRecord()" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Add Benefit</a>*@
                            <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="E-mail"> <i class="feather feather-mail"></i> </button>
                            <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Contact"> <i class="feather feather-phone-call"></i> </button>
                            <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Info"> <i class="feather feather-info"></i> </button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom" id="myTable">
                        <thead>
                            <tr>
                                <th class="text-center">Sr.#</th>
                                <th class="border-bottom-0">Staff Name</th>                             
                                
                                <th class="text-center">Total Weightage</th>
                                <th class="text-center">Earned Weightage</th>
                                <th class="">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                foreach (var item in ViewBag.ListAnswerSatff)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <span>@count</span>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <img class="avatar avatar-md brround me-3" src="@item.StaffSnap">
                                                <div class="me-3 mt-0 mt-sm-1 d-block">
                                                    @{
                                                        string fullName = item.FirstName + " " + item.LastName;
                                                    }
                                                    <h6 class="mb-1 fs-14">@fullName</h6>
                                                    <p class="text-muted mb-0 fs-12"></p>
                                                </div>
                                            </div>
                                        </td>
                                       
                                        <td class="text-center">
                                            @item.TotalWeightage
                                        </td>
                                        <td class="text-center">
                                            @item.EarnedWeightage
                                        </td>
                                       
                                        @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
                                        {
                                            <th class="d-none">
                                            </th>
                                        }
                                        else
                                        {
                                            <td class="text-end">
                                                <div class="d-flex">
                                                    @if (Convert.ToBoolean(ViewBag.IsEdit))
                                                    {
                                                        <a asp-Action="StaffPerformanceUpdate" asp-route-ReviewFormId="@item.ReviewFormId" asp-route-ReviewedStaffId="@item.ReviewedStaffId" class="action-btns1 btn-xs" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Edit">
                                                            <i class="feather feather-edit primary text-primary mt-1 "></i>
                                                        </a>
                                                    } 

                                                </div>
                                            </td>
                                        }
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->

@section Scripts{
    <script>
        $("#myTable").DataTable();
    </script>
}