@model HRHUBAPI.Models.Leave

<style>

    .note-editor {
        pointer-events: none;
    }



 

</style>


<!-- Row -->
<div class="row row-sm mt-4">

    <div class="col-lg-12">




        <div class="card">
            @*<!--Page header-->
            <div class="page-header d-xl-flex d-block">
            <div class="page-leftheader">
            <div class="page-title">My Leaves</div>
            </div>
            <div class="page-rightheader ms-md-auto">
            <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
            <div class="btn-list">

            @if (Convert.ToBoolean(ViewBag.IsNew))
            {

            <a asp-action="LeaveCreateOrUpdate" asp-controller="Leave" class="btn btn-primary me-3">Apply Leaves</a>


            }
            <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
            <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
            <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
            </div>
            </div>
            </div>
            </div>
            <!--End Page header-->*@
            <!-- Row -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">

                            <h4 class="card-title">Leaves Summary</h4>
                            <div class="card-options">
                                <div class="btn-list">

                                    @if (Convert.ToBoolean(ViewBag.IsNew))
                                    {

                                        <a asp-action="LeaveCreateOrUpdate" asp-controller="Leave" class="btn btn-primary me-3"><i class="fe fe-plus-circle me-1"></i>Apply Leaves</a>


                                    }
                                    <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="E-mail"> <i class="feather feather-mail"></i> </button>
                                    <button class="btn btn-light" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                                    <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                                    <button class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Filter" data-bs-original-title="Filter" id="btn_Filter" fdprocessedid="gkh46"> <i class="feather feather-filter"></i> </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="IdFilters">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        @using (@Html.BeginForm("SearchList", "Leave", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
                                        {
                                            <div class="row">
                                                <input type="hidden" asp-for="StaffId" value="@ViewBag.StaffID" />
                                                <div class="col-md-12 col-lg-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Leave Type</label>
                                                        <select id="LeaveTypeId" name="LeaveTypeId" class="form-control" asp-items="@(new SelectList(Model.ListleaveTypes,"LeaveTypeId" ,"Title"))">
                                                            <option value="">Select Leave Type</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-lg-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Leave Status</label>
                                                        <select id="LeaveStatusId" name="LeaveStatusId" class="form-control" asp-items="@(new SelectList(Model.ListleaveStatus,"LeaveStatusId" ,"Title"))">
                                                            <option value="">Select Leave Status</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Month</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend border px-1 py-1 border-1 rounded">
                                                                <div class="input-group-text px-2 bg-white border-0">
                                                                    <label class="custom-switch">
                                                                        <input type="checkbox" id="date-checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                                                        <span class="custom-switch-indicator"></span>
                                                                    </label>
                                                                </div>
                                                                <input id="date-field" type="month" class="form-control px-1" placeholder="select date">
                                                            </div>
                                                        </div>


                                                        @*<label class="form-label">Date From</label>
                                                    <input type="date" asp-for="StartDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control fc-datepicker" placeholder="select date" />*@
                                                    </div>
                                                </div>
                                                @* <div class="col-md-12 col-lg-2">
                                            <div class="form-group">
                                            <label class="form-label">Date To</label>
                                            <input type="date" asp-for="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control fc-datepicker" placeholder="select date" />
                                            </div>
                                            </div>*@

                                                <div class="col-md-12 col-lg-3">
                                                    <div class="form-group mt-5">
                                                        <button type="button" onclick="SearchLeave()" class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Filter"> <i class="fe fe-search"></i> </button>
                                                        <button type="button" onclick="SearchClear()" class="btn btn-primary" data-bs-placement="bottom" data-bs-toggle="tooltip" title="" data-bs-original-title="Refresh"> <i class="fe fe-refresh-ccw"></i> </button>

                                                    </div>
                                                </div>

                                            </div>


                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table  card-table table-hover  table-vcenter table-sm text-nowrap" id="myTable">
                                    <thead style="border-bottom: 1px solid #0000004a;">
                                        <tr>
                                            <th class="border-bottom-0">#</th>
                                            <th class="border-bottom-0">Applied On</th>
                                            @*<th class="border-bottom-0">From</th>
                                            <th class="border-bottom-0">TO</th>*@
                                            @*<th class="border-bottom-0">Leave Date</th>*@
                                            <th class="border-bottom-0">Days</th>
                                            <th class="border-bottom-0" style="max-width: 200px; word-wrap: break-word!important; overflow: hidden;">Reason</th>
                                            @*<th class="border-bottom-0">Applied On</th>*@
                                            <th class="border-bottom-0">Status</th>
                                            @*<th class="border-bottom-0" style="padding: 10px 22px !important;">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = 1;
                                            foreach (var item in Model.ListAllleaves)
                                            {
                                                <tr>
                                                    <td>
                                                        @count
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="me-3 d-block">
                                                                <a asp-action="LeaveApproval" asp-route-id="@item.LeaveId" asp-route-staffid="@item.StaffId">
                                                                    <h6 class="mb-0 fs-15 font-weight-semibold">@item.LeaveTypeTitle</h6>
                                                                    <div class="clearfix"></div>
                                                                    <small class="text-muted">@item.LeaveAppliedOnDate</small>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    @*<td> @Html.DisplayFor(modelItem => item.LeaveStartDate)</td>
                                            <td> @Html.DisplayFor(modelItem => item.LeaveEndDate)</td>*@
                                                    @{
                                                        //if (item.LeaveStartDate == item.LeaveEndDate)
                                                        //{
                                                        //    <td>@item.LeaveStartDate</td>
                                                        //}
                                                        //else
                                                        //{
                                                        //    <td>
                                                        //        <div class="d-flex">
                                                        //            <div class="me-3 d-block">
                                                        //                <span class="mb-0 fs-15 "><small class="text-muted">From:</small> @item.LeaveStartDate</span>
                                                        //                <div class="clearfix"></div>

                                                        //                <span class="mb-0 fs-15 "><small class="text-muted">To:</small> @item.LeaveEndDate</span>

                                                        //            </div>
                                                        //        </div>
                                                        //    </td>
                                                        //}
                                                    }
                                                    <td>@Html.DisplayFor(modelItem => item.Days)</td>
                                                    <td style="max-width: 200px; word-wrap: break-word!important; overflow: hidden;text-overflow: ellipsis;">@Html.DisplayFor(modelItem => item.LeaveSubject)</td>
                                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.LeaveAppliedOnDate)
                                            </td>*@
                                                    <td>
                                                        @if (item.LeaveStatusId == 1) // New
                                                    {
                                                        <span class="badge badge-primary mt-2"><i class="mdi mdi-circle-medium"></i> New</span>
                                                    }
                                                    else if (item.LeaveStatusId == 2) // Pending
                                                    {
                                                        <span class="badge badge-warning mt-2"><i class="mdi mdi-circle-medium"></i> Pending</span>
                                                    }
                                                    else if (item.LeaveStatusId == 3) // Approved
                                                    {
                                                            <span class="badge badge-success mt-2"><i class="mdi mdi-circle-medium"></i> Approved</span>
                                                    }
                                                    else if (item.LeaveStatusId == 4) // Rejected
                                                    {
                                                       <span class="badge badge-danger mt-2"><i class="mdi mdi-circle-medium"></i> Rejected</span>  
                                                    }

                                                    <!----- Action Buttons Code Start From Here------>
                                                    <div class="float-end ms-auto">
                                                        <div class="btn-group ms-3 mb-0">
                                                            <a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-start" style="">
                                                                @if (item.LeaveStatusId == 1) // New
                                                                {
                                                                    <a asp-action="LeaveCreateOrUpdate" asp-route-id="@item.LeaveId" class="dropdown-item"><i class="fe fe-edit me-2"></i> Edit</a>
                                                                    <a onclick="confirmation(@item.LeaveId)" href="#" class="dropdown-item"><i class="fe fe-trash me-2"></i> Delete</a>
                                                                }
                                                                <a asp-action="LeaveApproval" asp-route-id="@item.LeaveId" asp-route-staffid="@item.StaffId" class="dropdown-item"><i class="fe fe-eye me-2"></i> View</a>
                                                                <a class="dropdown-item" href="javascript:void(0);"><i class="fe fe-info me-2"></i> Info</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   <!----- Action Buttons Code Ends Here------>
                                                        </td>


                                                    <!--<td class="text-center"></td>-->
                                                </tr>
                                                count++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row-->
            @* <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered text-nowrap border-bottom" id="myTable">
            <thead>
            <tr>

            <th class="border-bottom-0">Leave Title</th>
            <th class="border-bottom-0">No. of Leaves</th>
            <th class="text-center">Non Paid leave</th>
            <th class="text-center">Status</th>
            <th class="col-md-1">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr>

            <td>
            @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.NoOfLeaves)
            </td>

            @if (item.IsNonPaid == true)
            {
            <td class="text-center"><span class="badge badge-label bg-primary"><i class="mdi mdi-circle-medium"></i> True</span></td>
            }
            else
            {
            <td class="text-center"> <span class="badge badge-label bg-warning"><i class="mdi mdi-circle-medium"></i> False</span></td>

            }

            @if (item.Status == true)
            {
            <td class="text-center"><span class="badge badge-label bg-success"><i class="mdi mdi-circle-medium"></i> Active</span></td>
            }
            else
            {
            <td class="text-center"> <span class="badge badge-label bg-danger"><i class="mdi mdi-circle-medium"></i> IsActive</span></td>

            }

            @if (Convert.ToBoolean(ViewBag.IsNew) == false && Convert.ToBoolean(ViewBag.IsEdit) == false && Convert.ToBoolean(ViewBag.IsDelete) == false)
            {
            <th class="d-none">






            </th>
            }
            else
            {
            <td class="text-end">
            <div class="d-flex">
            @if (Convert.ToBoolean(ViewBag.IsEdit))
            {
            <a asp-action="LeaveCreateOrUpdate" asp-route-id="@item.LeaveId" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="Edit">
            <i class="feather feather-edit primary text-primary">
            </i>
            </a>
            } @if (Convert.ToBoolean(ViewBag.IsDelete))
            {
            <a asp-action="LeaveDelete" asp-route-id="@item.LeaveId" class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" aria-label="Delete">
            <i class="feather feather-trash-2 text-danger"></i>
            </a>
            }
            </div>

            </td>
            }



            </tr>
            }

            </tbody>
            </table>
            </div>
            </div>*@
        </div>
    </div>
</div>

<!-- End Row -->
<!--My Leave Appliction Modal -->
<div class="modal fade" id="leaveapplictionmodal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">My Leave Application</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td class="font-weight-semibold">Leave Type </td>
                                <td>:</td>
                                <td id="LeaveType"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Date</td>
                                <td>:</td>
                                <td id="DateRange"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Days</td>
                                <td>:</td>
                                <td id="SelectedDays"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Reason</td>
                                <td>:</td>
                                <td id="LeaveSubject"></td>
                            </tr>
                            <tr>
                                <td class="font-weight-semibold">Applied On</td>
                                <td>:</td>
                                <td id="AppliedOn"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @*
                <div class="form-group mt-3">
                <label class="form-label font-weight-semibold">Leave Application:</label>
                <textarea id="Application" class="form-control" rows="13"></textarea>
                </div>*@


                <div class="p-0 mt-3">
                    <div style="margin-left: 12px;">
                        <h6 class="card-title">Leave Application</h6>
                    </div>
                    <textarea id="Application" class="summernote" style=" height: 400px !important;"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-primary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<!-- End Report Modal  -->
@section scripts{

    <script>


        $(document).ready(function () {

            var msg = '@ViewBag.Success';
            if (msg !== "" && msg == '1') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Inserted Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '2') {

                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Updated Succesfully.",
                    type: "success"
                });



            }
            if (msg !== "" && msg == '3') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> You record is Deleted Succesfully.",
                    type: "success"
                });

            }
            if (msg !== "" && msg == '0') {
                notif({
                    msg: "<i class='fa fa-check fs-20 me-2'></i><b>Success:</b> Error Occured.",
                    type: "error"
                });



            }
            $('#myTable').DataTable();

            //$('#LeaveStatusId').select2();
            //$('#LeaveTypeId').select2();

            $("#LeaveStatusId").select2({placeholder: "Select Leave Status", width: '100%', allowClear: true }).val('').trigger('change');
            $("#LeaveTypeId").select2({ placeholder: "Select Leave Type", width: '100%',allowClear: true }).val('').trigger('change');

            // Show Filters controls

            $("#IdFilters").hide();
            $('#btn_Filter').click(function () {

                $("#IdFilters").toggle(1000);
            });

            ////////////////////////////////////

            var dateCheckBox = $('#date-checkbox');
            var dateField = $('#date-field');
            dateCheckBox.prop('checked', false);
            dateCheckBox.on('change', function () {
                if (dateCheckBox.is(':checked')) {
                    dateField.prop('disabled', false);
                }
                else {
                    dateField.prop('disabled', true);

                }
            })

        })

        var dataTable = $('#myTable').DataTable();
        var originalData = dataTable.rows().data().toArray();
        var originalHTML = $('#myTable tbody').html();

        function ViewLeave(leaveid) {
            debugger


            var Data = { id: leaveid }
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Leave/ViewLeaveDetail",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger

                        $('#LeaveType').text(data[0].leaveTypeTitle);
                        if (data[0].leaveStartDate == data[0].leaveEndDate) {
                            $('#DateRange').text(data[0].leaveStartDate);  //formatDate(new Date(data[0].leaveStartDate))
                        }
                        else {
                            $('#DateRange').text(data[0].leaveStartDate + " - " + data[0].leaveEndDate);
                        }

                        $('#SelectedDays').text(data[0].days);
                        $('#LeaveSubject').text(data[0].leaveSubject);
                        $('#AppliedOn').text(data[0].leaveAppliedOnDate);

                        $("#Application").summernote("code", data[0].applicationHtml);



                        $("#leaveapplictionmodal").modal('show');
                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })


        }

         function confirmation(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No, cancel!',
                confirmButtonText: 'Yes, Save it!',
                timer: 30000,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    var url = "@Url.Action("LeaveDelete", "Leave")/" + id; // replace with the desired action and controller names
                    window.location.href = url;
                }
                else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your record is safe :)',
                        'error'
                    )
                }
            });
        }

        function SearchLeave() {
            debugger;
            var obj = {
                StaffId: $("#StaffId").val(),
                LeaveTypeId: $("#LeaveTypeId").val(),
                LeaveStatusId: $("#LeaveStatusId").val(),
                Month: $("#date-field").val(),
                DateFilter: $('#date-checkbox').prop('checked')

            }
            $.ajax({
                url: "/Leave/SearchList",
                type: "POST",
                async: false,
                dataType: "json",
                data: obj,
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        debugger
                        var table = $('#myTable').DataTable();
                        table.clear();
                        table.draw();

                        var listleave = data.listLeaves
                        console.log(listleave);
                        var action = '';
                        for (var i = 0; i < listleave.length; i++) {

                            var count = i + 1;
                            action += '';
                            action += '<tr><td> ' + count + ' </td>';
                            action += '<td><div class="d-flex"><div class="me-3 d-block"><a href="/Leave/LeaveApproval/' + listleave[i]["leaveId"] + '?staffid=' + listleave[i]["staffId"] + '" > <h6 class="mb-0 fs-15 font-weight-semibold" > ' + listleave[i]["leaveTypeTitle"] + '</h6><div class="clearfix"> </div><small class="text-muted" > ' + listleave[i]["leaveAppliedOnDate"] + '</small> </a> </div></div></td>';
                            action += '<td> ' + listleave[i]["days"] + '</td>';
                            action += '<td style="max-width: 200px; word-wrap: break-word!important; overflow: hidden;text-overflow: ellipsis;"> ' + listleave[i]["leaveSubject"] + '</td>';

                            action += '<td>';
                            if (listleave[i]["leaveStatusId"] == 1) { //  New
                                action += '<span class="badge badge-primary mt-2"><i class="mdi mdi-circle-medium"></i> New</span>';
                            }
                            else if (listleave[i]["leaveStatusId"] == 2) {  // Pending
                                action += '<span class="badge badge-warning mt-2"><i class="mdi mdi-circle-medium"></i> Pending</span>';

                            }
                            else if (listleave[i]["leaveStatusId"] == 3) { // Approved
                                action += '<span class="badge badge-success mt-2"><i class="mdi mdi-circle-medium"></i> Approved</span>';


                            }
                            else if (listleave[i]["leaveStatusId"] == 4) { // rejected
                                action += '<span class="badge badge-danger mt-2"><i class="mdi mdi-circle-medium"></i> Rejected</span>';

                            }

                            // Action Buttons 
                            action += '<div class="float-end ms-auto"> <div class="btn-group ms-3 mb-0"><a href="javascript:void(0);" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>';
                            action += '<div class="dropdown-menu dropdown-menu-start" style="">';

                            if (listleave[i]["leaveStatusId"] == 1) // New
                            {
                                action += '<a href="/Leave/LeaveCreateOrUpdate/' + listleave[i]["leaveId"] + '" class="dropdown-item" > <i class="fe fe-edit me-2" > </i> Edit</a>';
                                action += '<a onclick="confirmation(' + listleave[i]["leaveId"] + ')" href="#" class="dropdown-item" > <i class="fe fe-trash me-2" > </i> Delete</a>';

                            }

                            action += '<a href="/Leave/LeaveApproval/' + listleave[i]["leaveId"] + '?staffid=' + listleave[i]["staffId"] + '"  class="dropdown-item" > <i class="fe fe-eye me-2" > </i> View</a >';
                            action += '<a class="dropdown-item" href = "javascript:void(0);" > <i class="fe fe-info me-2" > </i> Info</a>  </div>  </div> </td></tr>';
                            // End of Action Buttons




                            //action += '<td class="text-start d-flex">';

                            //if (listleave[i]["leaveStatusId"] == 1) {
                            //    action += '<a href="/Leave/LeaveCreateOrUpdate/' + listleave[i]["leaveId"] + '"  class="action-btns1">';
                            //    action += '<i class="feather feather-edit  text-primary mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="edit"></i></a>';
                            //}

                            //action += '<a href="/Leave/LeaveApproval/' + listleave[i]["leaveId"] + '?staffid=' + listleave[i]["staffId"] + '"  class="action-btns1">';
                            //action += '<i class="feather feather-eye  text-success mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="view"></i></a>';
                            //if (listleave[i]["leaveStatusId"] == 1) {

                            //    action += '<a onclick="return confirm("Are you sure you want to delete ")" href="/Leave/LeaveDelete/' + listleave[i]["leaveId"] + '"  class="action-btns1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">';
                            //    action += '<i class="feather feather-trash-2 text-danger mt-1"></i></a>';
                            //}
                            //action += '<a href="javascript:void(0);" class="action-btns1" data-bs-toggle="modal" data-bs-target="#reportmodal">';
                            //action += ' <i class="feather feather-info text-secondary mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Report"></i> </a></tr>';

                        }

                        //$('#myTable tbody').html(action);

                        table.rows.add($(action)).draw();

                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });

        }
        function SearchClear() {
            debugger;
            $("#LeaveStatusId").select2({ placeholder: "Select Leave Status", width: '100%', allowClear: true }).val('').trigger('change');
            $("#LeaveTypeId").select2({ placeholder: "Select Leave Type", width: '100%', allowClear: true }).val('').trigger('change');

            $('#date-field').val('');
            $('#date-checkbox').prop('checked', false);
            $('#date-field').prop('disabled', false);

            //Restore the original data
            dataTable.clear().rows.add(originalData).draw();

            $('#myTable tbody').html(originalHTML);

        }

        function formatDate(date) {

            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
            ];


            var d = new Date(date),
                month = '' + (d.getMonth()),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;


            return [day, monthNames[parseInt(month)], year].join('-');
        }


    </script>

}
