@model HRHUBAPI.Models.Leave

@{
    ViewData["Title"] = "Leave";
    //Layout = "";
}


<style>

    .note-editing-area {
        height: 400px !important
    }

</style>

<div class="col-lg-12 col-md-12 mt-4">

    <!--Page header-->
    <div class="page-header d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Apply Leaves</div>
        </div>
        <div class="page-rightheader ms-md-auto">
            <div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
                <div class="btn-list">
                    <button class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
                    <button class="btn btn-light" data-bs-placement="top" data-bs-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
                    <button class="btn btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
                </div>
            </div>
        </div>
    </div>
    <!--End Page header-->
    @using (@Html.BeginForm("LeaveCreateOrUpdate", "Leave", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
    {

        <!-- Row -->

        <div class="row">


            <div class="col-xl-4 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header  border-0">
                        <h4 class="card-title">Apply Leaves</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="LeaveId" />
                        <div class="leave-types">
                            <div class="form-group">
                                <label class="form-label">Leaves Dates</label>
                                <select name="projects" class="form-control custom-select select2" id="daterange-categories">
                                    <option value="single">Single Leave</option>
                                    <option value="multiple">Multiple Leaves</option>
                                </select>
                            </div>
                            <div class="leave-content active" id="single">
                                <div class="row form-group">
                                    <label class="form-label">Date Range:</label>
                                    <div class="col-xl-6 col-md-12 col-lg-12">
                                        <div class="input-group">
                                            <input type="date" asp-for="StartDate" class="form-control fc-datepicker" placeholder="select date" />
                                            @* <div class="input-group-append">
                                        <div class="input-group-text">
                                        <i class="bx bx-calendar"></i>
                                        </div>
                                        </div>
                                        *@
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12 col-lg-12">
                                        <div class="input-group" hidden id="divMultipleDate">
                                            <input type="date" asp-for="EndDate" class="form-control fc-datepicker" placeholder="select date" />
                                            @*<div class="input-group-append">
                                        <div class="input-group-text">
                                        <i class="bx bx-calendar"></i>
                                        </div>
                                        </div>*@
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <label class="form-label">Leaves Types</label>
                                <select asp-for="LeaveTypeId" class="form-control" asp-items="@(new SelectList(Model.ListleaveTypes,"LeaveTypeId" ,"Title"))">
                                    <option value="">Select Leave Type</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Reason:</label>
                                <textarea asp-for="LeaveSubject" class="form-control" rows="2">Some text here...</textarea>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 mt-2">

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" asp-for="MarkAsHalfLeave" type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label">Half Leave</span>
                                    </label>

                                </div>
                                <div class="col-md-6 mt-2">

                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" asp-for="MarkAsShortLeave" type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label">Short Leave</span>
                                    </label>



                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex">
                            <div>
                                <label class="mb-0 font-weight-semibold text-dark">Selected Days:</label>
                                <span class="badge badge-danger badge-pill ms-2" id="SelectedDays">0</span>
                            </div>
                            <div class="ms-auto">
                                <a asp-action="LeaveList" asp-controller="Leave" class="btn btn-outline-primary my-1">Close</a>
                                <a value="Save" id="btnsave" onclick="postdata()" class="btn btn-primary my-1">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card">
                    <div class="p-0">
                        <div class="card-header border-0">
                            <h4 class="card-title">Leave Application</h4>
                        </div>
                        <textarea asp-for="ApplicationHtml" class="summernote" style=" height: 400px !important;"></textarea>
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header  border-0">
                        <h4 class="card-title">Leaves Overview</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-0 pb-0">
                            @foreach (var item in Model.ListleaveTypes)
                            {
                                <div class="col-4 text-center py-5 border-end">
                                    <h5>@item.Title</h5>
                                    <div class="justify-content-center text-center d-flex my-auto"><span class="text-@item.Cssclass  fs-20 font-weight-semibold">@item.ConsumedLeave <span class="my-auto fs-14 font-weight-normal text-light">/</span> @item.NoOfLeaves</span></div>
                                </div>
                            }
                            @* <div class="col-4 text-center py-5 border-end">
                        <h5>Sick leave</h5>
                        <div class="justify-content-center text-center d-flex my-auto"><span class="text-danger fs-20 font-weight-semibold">4.5 <span class="my-auto fs-14 font-weight-normal text-light">/</span> 10</span></div>
                        </div>
                        <div class="col-4 text-center py-5">
                        <h5>Unpaid leave</h5>
                        <div class="justify-content-center text-center d-flex my-auto"><span class="fs-20 font-weight-semibold">5 <span class="my-auto fs-14 font-weight-normal text-light">/</span> 365</span></div>
                        </div>*@
                        </div>
                        <div id="leavesoverview" class="mx-auto pt-2"></div>
                        <div class="row pt-4 mx-auto text-center">
                            <div class="col-lg-9 col-md-12 mx-auto d-block">
                                <div class="row">
                                    @foreach (var item in Model.ListleaveTypes)
                                    {
                                        <div class="col-md-6">
                                            <div class="d-flex font-weight-semibold">
                                                <span class="dot-label bg-@item.Cssclass me-2 my-auto"></span>@item.Title
                                            </div>
                                        </div>
                                    }
                                    @*<div class="col-md-6 mt-3 mt-md-0">
                                <div class="d-flex font-weight-semibold">
                                <span class="dot-label badge-danger me-2 my-auto"></span>Sick Leaves
                                </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                <div class="d-flex font-weight-semibold">
                                <span class="dot-label bg-secondary me-2 my-auto"></span>Annual Leaves
                                </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                <div class="d-flex font-weight-semibold">
                                <span class="dot-label bg-success me-2 my-auto"></span>Gifted Leaves
                                </div>
                                </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row-->
    }
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {


            $('#LeaveTypeId').select2();
            if (@Model.LeaveId > 0) {
                if ($('#StartDate').val() != $('#EndDate').val()) {
                    $('#daterange-categories').val('multiple').change();
                    $("#divMultipleDate").attr("hidden", false);
                }
            }

            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
            loadChart();

        })

        function loadChart() {
            //debugger;
            /*----- Overview ------*/
            var options = {
                series: [],
                chart: {
                    height: 310,
                    type: 'donut',
                },
                dataLabels: {
                    enabled: false
                },

                legend: {
                    show: false,
                },
                stroke: {
                    show: true,
                    width: 0
                },
                plotOptions: {
                    pie: {
                        donut: {
                            size: '85%',
                            background: 'transparent',
                            labels: {
                                show: true,
                                name: {
                                    show: true,
                                    fontSize: '29px',
                                    color: '#6c6f9a',
                                    offsetY: -10
                                },
                                value: {
                                    show: true,
                                    fontSize: '26px',
                                    color: undefined,
                                    offsetY: 16,
                                },
                                total: {
                                    show: true,
                                    showAlways: false,
                                    label: 'Total Leaves',
                                    fontSize: '22px',
                                    fontWeight: 600,
                                    color: '#373d3f',
                                    // formatter: function (w) {
                                    //   return w.globals.seriesTotals.reduce((a, b) => {
                                    // 	return a + b
                                    //   }, 0)
                                    // }
                                }

                            }
                        }
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            show: false,
                        }
                    }
                }],
                labels: [],
                //css: []
                colors: ['#3366ff', '#f7284a', '#fe7f00', '#01c353'],
            };

            // Make an AJAX request to fetch the data from the database
            // Assuming the response is an array of numbers corresponding to each category of leaves
            $.ajax({
                url: "/Leave/GetLeaveChartData",
                method: 'GET',
                success: function (response) {
                    // Update the series property with the fetched data

                    for (var i = 0; i < response.length; i++) {

                        options.series.push(response[i].consumedLeave);
                        options.labels.push(response[i].title);
                        //options.class.push(response[i].cssclass);
                    }

                    // Create and render the chart with the updated options
                    var chart = new ApexCharts(document.querySelector("#leavesoverview"), options);
                    chart.render();
                },
                error: function () {
                    // Handle error if the AJAX request fails
                    console.log('Failed to fetch data from the database.');
                }
            });





        }


        function postdata() {
            //debugger;
            var status = true;


            if ($("#LeaveTypeId").val() == "") {


                $.growl.warning({
                    message: "Please Select Leave Type"
                });



                $("#LeaveTypeId").css("border-color", "red");
                status = false;

            }
            else if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
                $.growl.warning({
                    message: "Please Enter Date Range"
                });



                $("#StartDate").css("border-color", "red");
                $("#EndDate").css("border-color", "red");
                status = false;
            }
            else if ($("#LeaveSubject").val() == "") {
                $.growl.warning({
                    message: "Please Enter Reason"
                });

                $("#LeaveSubject").css("border-color", "red");
                status = false;
            }
            else {
                $("#LeaveTypeId").css("border-color", "#ddd");
                $("#StartDate").css("border-color", "#ddd");
                $("#EndDate").css("border-color", "#ddd");
                $("#LeaveSubject").css("border-color", "#ddd");
            }
            debugger;
            var Data = { leavetypeid: $("#LeaveTypeId").val()}
            console.log(Data)
            $.ajax({
                async: false,
                url: "/Leave/LeaveCheckData",
                type: "GET",
                data: Data,
                success: function (data) {
                    if (data != "") {
                        debugger

                        var b = JSON.parse(data)
                        if (b.success) {




                            // $.growl.warning(b.message);
                            $.growl.warning({
                                message: b.message
                            });
                            status = false;
                        }


                    }
                },
                error: function () {
                    status = false;
                    //   toastr.error("Please Fill Required Field");
                }
            })

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });


            if (status) {




                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel!',
                    confirmButtonText: 'Yes, Save it!',
                    timer: 30000,
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#myform").submit();


                    }
                    else if (

                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your record is safe :)',
                            'error'
                        )
                    }
                });


            }


        }



        $("#daterange-categories").change(function () {
            //debugger;
            var leavecategory = $("#daterange-categories").val();
            if (leavecategory == "multiple") {
                //$("#StartDate").val("");
                //$("#EndDate").val("");
                $("#divMultipleDate").attr("hidden", false);
            }
            else {
                var strtdate = $("#StartDate").val();
                $("#EndDate").val(strtdate);
                $("#divMultipleDate").attr("hidden", true);
            }
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

        $("#StartDate").change(function () {
            //debugger;
            var leavecategory = $("#daterange-categories").val();
            if (leavecategory == "single") {
                var strtdate = $("#StartDate").val();
                $("#EndDate").val(strtdate);
            }
            else {
                $("#EndDate").val("");
            }
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

        $("#EndDate").change(function () {
            //debugger;
            DateRangeinDays($("#StartDate").val(), $("#EndDate").val());
        })

        function DateRangeinDays(startdate, enddate) {
            if (startdate != "" && enddate != "") {

                var startdate = new Date($("#StartDate").val());
                var enddate = new Date($("#EndDate").val());

                // end - start returns difference in milliseconds
                var diff = new Date(enddate - startdate);

                // get days
                var days = parseInt(diff / 1000 / 60 / 60 / 24) + 1;

                $("#SelectedDays").text(days);
            }
        }

    </script>



}


























